body {
    margin: 0px;
    background-image: none;
    position: static;
    left: auto;
    width: 1366px;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
}

#base {
    position: absolute;
    z-index: 0;
}

#u77_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1366px;
    height: 768px;
}

#u77 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1366px;
    height: 768px;
}

#u78 {
    position: absolute;
    left: 2px;
    top: 376px;
    width: 1362px;
    visibility: hidden;
    word-wrap: break-word;
}

#u79_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1055px;
    height: 442px;
}

#u79 {
    position: absolute;
    left: 289px;
    top: 69px;
    width: 1055px;
    height: 442px;
}

#u80 {
    position: absolute;
    left: 2px;
    top: 213px;
    width: 1051px;
    visibility: hidden;
    word-wrap: break-word;
}

#u81 {
    position: absolute;
    left: 150px;
    top: 401px;
    width: 74px;
    height: 72px;
    overflow: hidden;
    background-image: url('../../resources/images/transparent.gif');
}

#u82 {
    position: absolute;
    left: 39px;
    top: 401px;
    width: 74px;
    height: 72px;
    overflow: hidden;
    background-image: url('../../resources/images/transparent.gif');
}

#u83 {
    position: absolute;
    left: 150px;
    top: 535px;
    width: 74px;
    height: 72px;
    overflow: hidden;
    background-image: url('../../resources/images/transparent.gif');
}

#u84 {
    position: absolute;
    left: 39px;
    top: 535px;
    width: 74px;
    height: 72px;
    overflow: hidden;
    background-image: url('../../resources/images/transparent.gif');
}

#u85 {
    position: absolute;
    left: 39px;
    top: 270px;
    width: 74px;
    height: 72px;
    overflow: hidden;
    background-image: url('../../resources/images/transparent.gif');
}

#u86 {
    position: absolute;
    left: 1283px;
    top: 11px;
    width: 68px;
    height: 31px;
    overflow: hidden;
    background-image: url('../../resources/images/transparent.gif');
}

#u87 {
    position: absolute;
    left: 152px;
    top: 271px;
    width: 74px;
    height: 72px;
    overflow: hidden;
    background-image: url('../../resources/images/transparent.gif');
}
