<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>


    <!--LanguageSpecialLine-DAO START-->
    <bean id="languagespeciallineDao" class="com.boco.eoms.businessupport.product.dao.hibernate.LanguageSpecialLineDaoHibernate" autowire="byName"/>
    <bean id="ILanguageSpecialLineJdbc" class="com.boco.eoms.businessupport.product.dao.hibernate.LanguageSpecialLineJdbcImpl" autowire="byName"/>
    <!--LanguageSpecialLine-DAO END-->
    <!--LanguageSpecialLine-START-->    
    <bean id="ILanguageSpecialLineManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.businessupport.product.service.impl.LanguageSpecialLineManagerImpl">
                <property name="languagespeciallineDao" ref="languagespeciallineDao"/>
                <property name="languagespeciallineJdbc" ref="ILanguageSpecialLineJdbc"/>
            </bean>
        </property>
    </bean>
</beans>




