<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean id="IServicePrepareDao"
          class="com.boco.eoms.businessupport.serviceprepare.dao.hibernate.ServicePrepareDaoHibernate"
          autowire="byName">
    </bean>
    <bean id="ProcessTasks"
          class="com.boco.eoms.businessupport.serviceprepare.model.ProcessTasks" autowire="byName">
    </bean>
    <bean id="ProcessType"
          class="com.boco.eoms.businessupport.serviceprepare.model.ProcessType" autowire="byName">
    </bean>
    <bean id="ProductSpecification"
          class="com.boco.eoms.businessupport.serviceprepare.model.ProductSpecification" autowire="byName">
    </bean>
    <bean id="ProductsServiceDirectory"
          class="com.boco.eoms.businessupport.serviceprepare.model.ProductsServiceDirectory" autowire="byName">
    </bean>
    <bean id="ProfessionalServiceDirectory"
          class="com.boco.eoms.businessupport.serviceprepare.model.ProfessionalServiceDirectory" autowire="byName">
    </bean>
    <bean id="ServiceConfiguration"
          class="com.boco.eoms.businessupport.serviceprepare.model.ServiceConfiguration" autowire="byName">
    </bean>
    <bean id="TaskLinks"
          class="com.boco.eoms.businessupport.serviceprepare.model.TaskLinks" autowire="byName">
    </bean>

    <bean id="IServicePrepareMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.businessupport.serviceprepare.mgr.impl.ServicePrepareMgrImpl">
                <property name="processTasksObject" ref="ProcessTasks"/>
                <property name="processTypeObject" ref="ProcessType"/>
                <property name="productSpecificationObject" ref="ProductSpecification"/>
                <property name="productsServiceDirectoryObject" ref="ProductsServiceDirectory"/>
                <property name="professionalServiceDirectoryObject" ref="ProfessionalServiceDirectory"/>
                <property name="serviceConfigurationObject" ref="ServiceConfiguration"/>
                <property name="taskLinksObject" ref="TaskLinks"/>
                <property name="servicePrepareDAO">
                    <ref bean="IServicePrepareDao"/>
                </property>
            </bean>
        </property>
    </bean>
</beans>
