<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>


    <!--TransferSpecialLine-DAO START-->
    <bean id="transferspeciallineDao" class="com.boco.eoms.businessupport.product.dao.hibernate.TransferSpecialLineDaoHibernate" autowire="byName"/>
    <bean id="ITransferSpecialLineJdbc" class="com.boco.eoms.businessupport.product.dao.hibernate.TransferSpecialLineJdbcImpl" autowire="byName"/>
    <!--TransferSpecialLine-DAO END-->
    <!--TransferSpecialLine-START-->    
    <bean id="ITransferSpecialLineManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.businessupport.product.service.impl.TransferSpecialLineManagerImpl">
                <property name="transferspeciallineDao" ref="transferspeciallineDao"/>
                <property name="transferspeciallineJdbc" ref="ITransferSpecialLineJdbc"/>
            </bean>
        </property>
    </bean>
</beans>




