<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="ComplaintLink"
		class="com.boco.eoms.sheet.complaint.model.ComplaintLink"
		autowire="byName" />
	<bean id="ComplaintMain"
		class="com.boco.eoms.sheet.complaint.model.ComplaintMain"
		autowire="byName" />
	
	<bean id="iComplaintTask"
		class="com.boco.eoms.sheet.complaint.task.impl.ComplaintTaskImpl"
		autowire="byName" />

	<bean id="ComplaintTask"
		class="com.boco.eoms.sheet.complaint.task.impl.ComplaintTask"
		autowire="byName" />
		
	<bean id="iComplaintTaskManager" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.complaint.service.impl.ComplaintTaskManagerImpl">
				<property name="taskModelObject" ref="ComplaintTask" />
				<property name="taskDAO">
					<ref bean="iComplaintTaskDAO" />
				</property>
				<property name="taskConfigPath">
			       <value>/config/complaintTaskConfig.properties</value>
		        </property>				
			</bean>
		</property>
	</bean>		
		
	<bean id="iComplaintFlowManager" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.complaint.service.impl.ComplaintFlowManagerImpl">
				<property name="businessFlowAdapterService">
					<ref bean="BusinessFlowAdapterService" />
				</property>
			</bean>
		</property>
	</bean>
	<bean id="iComplaintLinkManager" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.complaint.service.impl.ComplaintLinkManagerImpl">
				<property name="linkObject" ref="ComplaintLink"/>
				<property name="linkDAO">
				  <ref bean="IComplaintLinkDao"/>
				</property>
			</bean>
		</property>
	</bean>   
	<bean id="iComplaintMainManager" parent="txProxyTemplate">
	<property name="target">
	  
			<bean
				class="com.boco.eoms.sheet.complaint.service.impl.ComplaintMainManagerImpl">
			    <property name="mainObject" ref="ComplaintMain" />
				<property name="mainDAO">
				 <ref bean="IComplaintMainDao" />
				 </property>
				 <property name="workSheetQO">
					<ref bean="iComplaintQo" />
				</property>
				 <property name="flowTemplateName">
					<value>ComplaintProcess</value>
				</property>
				<property name="roleConfigPath">
					<value>classpath:config/complaint-config.xml</value>
				</property>				
			</bean>
		</property>
	</bean> 

   <bean id="iComplaintQo"
		class="com.boco.eoms.sheet.complaint.qo.impl.ComplaintQoImpl"
		autowire="byName" singleton="false" >
		<property name="poMain" value="ComplaintMain" />
		<property name="poLink" value="ComplaintLink" />
		<property name="aliasMain" value="ComplaintMain" />
		<property name="aliasLink" value="ComplaintLink" />
	    <property name="poTask" value="ComplaintTask" />
	    <property name="aliasTask" value="complaintTask" />		
	</bean>
   


	<bean id="Complaint" parent="txProxyTemplate"> 
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.complaint.webapp.action.ComplaintSheetMethod">
				<property name="businessFlowService" >
					<ref bean="iComplaintFlowManager" />
			   </property>
				<property name="linkService" 
					ref="iComplaintLinkManager" />
				<property name="mainService"
					ref="iComplaintMainManager" />
				<property name="sheetTask"
					ref="ComplaintTask" />
				<property name="taskService"
					ref="iComplaintTaskManager" />	
				<property name="pageLength">
					<value>15</value>
				</property>
				<property name="roleConfigPath">
					<value>classpath:config/complaint-config.xml</value>
				</property>
			</bean>
		</property>
	</bean>	
	<bean id="iComplaintKnowLedgeService" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.complaint.knowledage.ComplaintKnowledgeServiceImpl">
			</bean>
		</property>
	</bean>
	<bean id="iComplaintCrmService" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.complaint.service.bo.CrmServiceManageImpl">
			</bean>
		</property>
	</bean>
	<bean id="iComplaintInterfaceManagerImpl" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.complaint.service.impl.ComplaintInterfaceManagerImpl">
			</bean>
		</property>
	</bean>
	<bean id="iComplaintAutoT2Manager" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.complaint.service.impl.ComplaintAutoT2ManagerImpl">
				<property name="autoT2DAO">
					<ref bean="iComplaintAutoT2DAO" />
				</property>
			</bean>
		</property>
	</bean>
	<bean id="iComplaintSelectManager" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.complaint.service.impl.ComplaintSelectManagerImpl">
				<property name="complaintSelectDAO">
					<ref bean="iComplaintSelectDAO" />
				</property>
			</bean>
		</property>
	</bean>
</beans>





















