<?xml version="1.0"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<!-- sample config file  , 
			create new config file in your module -->
<beans>
	<!-- 配置信息类 -->
	<bean id="statBusinessOperationConfigManager"
		class="com.boco.eoms.commons.statistic.base.mgr.impl.StatConfigManagerImpl"
		autowire="byName">

		<!-- 是否每次都从新获取配置文件 true:时时都读取 false：相反-->
		<property name="reloadConfig">
			<value>false</value>
		</property>
		
		<!-- 配置Excel文件路径 key为url传入的参数，value对应文件名称  -->
		<property name="excelConfigMap">
           <map>
           <!--oracle-->
              <entry key="businessoperation_std_oracle"><value>classpath:config/statistic/businessoperation-config/oracle/statistic-config-excel-businessoperation_std_oracle.xls</value></entry>
              <entry key="businessoperation-succeed-kpi2_oracle"><value>classpath:config/statistic/businessoperation-config/oracle/statistic-config-excel-businessoperation-succeed-kpi2_oracle.xls</value></entry>
              <entry key="businessoperation-succeed-kpi3_oracle"><value>classpath:config/statistic/businessoperation-config/oracle/statistic-config-excel-businessoperation-succeed-kpi3_oracle.xls</value></entry>
              
              <!--informix-->
              <entry key="businessoperation_std_informix"><value>classpath:config/statistic/businessoperation-config/informix/statistic-config-excel-businessoperation_std_informix.xls</value></entry>
              <entry key="businessoperation-succeed-kpi2_informix"><value>classpath:config/statistic/businessoperation-config/informix/statistic-config-excel-businessoperation-succeed-kpi2_informix.xls</value></entry>
              <entry key="businessoperation-succeed-kpi3_informix"><value>classpath:config/statistic/businessoperation-config/informix/statistic-config-excel-businessoperation-succeed-kpi3_informix.xls</value></entry> 
              
           </map>
        </property>
        
        <!-- 配置quary算法文件路径 key为excel中配置的参数，value对应文件名称  -->
        <property name="queryCongigMap">
           <map>
            <!--oracle-->
              <entry key="businessoperation_std_oracle"><value>classpath:config/statistic/businessoperation-config/oracle/statistic-config-query-businessoperation_std_oracle.xml</value></entry>
              <entry key="businessoperation-succeed-kpi2_oracle"><value>classpath:config/statistic/businessoperation-config/oracle/statistic-config-query-businessoperation-succeed-kpi2_oracle.xml</value></entry>
              <entry key="businessoperation-succeed-kpi3_oracle"><value>classpath:config/statistic/businessoperation-config/oracle/statistic-config-query-businessoperation-succeed-kpi3_oracle.xml</value></entry>
            
            <!--informix-->  
              <entry key="businessoperation_std_informix"><value>classpath:config/statistic/businessoperation-config/informix/statistic-config-query-businessoperation_std_informix.xml</value></entry>
              <entry key="businessoperation-succeed-kpi2_informix"><value>classpath:config/statistic/businessoperation-config/informix/statistic-config-query-businessoperation-succeed-kpi2_informix.xml</value></entry>
              <entry key="businessoperation-succeed-kpi3_informix"><value>classpath:config/statistic/businessoperation-config/informix/statistic-config-query-businessoperation-succeed-kpi3_informix.xml</value></entry>
     
           </map>
        </property>
		
		<!-- Excel解析类 		 
			目前使用applicationContext-statistic-base.xml中的配置 
			如需要扩展在子模块内新增子类,扩展基类模块,并注入相应子类,不要修改基类.-->
		<property name="excelConverter" ref="statBaseExcelConverter"/>
	</bean>
	
	<!-- 统计工具需要实现的类
	<bean id= "istatisticTool"
		class="com.boco.eoms.commons.statistic.task.config.ist.StatisticToolTask">
	</bean>-->
	
	<!-- 总体管理类 -->
	<bean id="statBusinessOperationManager" 
		class="com.boco.eoms.commons.statistic.base.mgr.impl.StatManagerImpl">
		<property name="statConfigManager" ref="statBusinessOperationConfigManager" />

		<!-- 详细列表的VO类  -->
		<property name="statDetailVOName">
			<value>com.boco.eoms.commons.statistic.businessoperation.vo.BusinessoperationStatDetailVO</value>
		</property>
		<!-- property name="statisticTool" ref="istatisticTool"></property-->
		<!-- 
			以下3个对象目前使用applicationContext-statistic-base.xml中的配置 
			如需要扩展在子模块内新增子类,扩展基类模块,并注入相应子类,不要修改基类.
		-->
		<property name="statJdbcDAO" ref="statBaseJdbcDAO" />
		<property name="statExcelConverter" ref="statBaseExcelConverter" />
		<!--<property name="statDetailDAO" ref="statDetailDAOOracle" />
		-->
		<property name="statExportExcel" ref="statBaseExportExcel"></property>
	</bean>

	<!-- 统计工具任务工单实现类 -->
	<bean id="businessoperationStatMethod"
		class="com.boco.eoms.commons.statistic.businessoperation.webapp.action.BusinessOperationStatMethodImpl">
		<property name="statManager" ref="statBusinessOperationManager" />
	</bean>
	
	<bean id="busiOperUrl" class="com.boco.eoms.commons.statistic.base.util.StatAttributeUrl" >
		<property name="attributeUrl">
			<props>
				<prop key="bosheet"><![CDATA[/prShowQueryInfo.do]]></prop>
				<prop key="2"><![CDATA[222]]></prop>
			</props>
		</property>
	</bean>
</beans>