<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <!--SafeAudit-START-->

    <bean id="ISafeAuditMainDAO"
          class="com.boco.eoms.sheet.safeaudit.dao.hibernate.SafeAuditMainDAOHibernate" autowire="byName">
    </bean>
    <bean id="ISafeAuditLinkDAO"
          class="com.boco.eoms.sheet.safeaudit.dao.hibernate.SafeAuditLinkDAOHibernate" autowire="byName">
    </bean>
    <bean id="ISafeAuditTaskDAO"
          class="com.boco.eoms.sheet.safeaudit.dao.hibernate.SafeAuditTaskDAOHibernate" autowire="byName">
    </bean>
    <bean id="SafeAuditTask"
          class="com.boco.eoms.sheet.safeaudit.model.SafeAuditTask" autowire="byName">
    </bean>
    <bean id="SafeAuditLink"
          class="com.boco.eoms.sheet.safeaudit.model.SafeAuditLink"
          autowire="byName"/>
    <bean id="SafeAuditMain"
          class="com.boco.eoms.sheet.safeaudit.model.SafeAuditMain"
          autowire="byName"/>
    <bean id="isafeauditTask"
          class="com.boco.eoms.sheet.safeaudit.task.impl.SafeAuditTaskImpl"
          autowire="byName"/>
    <bean id="isafeauditTaskManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.safeaudit.service.impl.SafeAuditTaskManagerImpl">
                <property name="taskModelObject" ref="SafeAuditTask"/>
                <property name="taskDAO">
                    <ref bean="ISafeAuditTaskDAO"/>
                </property>
                <property name="taskConfigPath">
                    <value>/config/safeauditTaskConfig.properties</value>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="iSafeAuditFlowManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.safeaudit.service.impl.SafeAuditFlowManagerImpl">
                <property name="businessFlowAdapterService">
                    <ref bean="BusinessFlowAdapterService"/>
                </property>

            </bean>
        </property>
    </bean>
    <bean id="iSafeAuditLinkManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.safeaudit.service.impl.SafeAuditLinkManagerImpl">
                <property name="linkObject" ref="SafeAuditLink"/>
                <property name="linkDAO">
                    <ref bean="ISafeAuditLinkDAO"/>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iSafeAuditMainManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.safeaudit.service.impl.SafeAuditMainManagerImpl">
                <property name="mainObject" ref="SafeAuditMain"/>
                <property name="mainDAO">
                    <ref bean="ISafeAuditMainDAO"/>
                </property>
                <property name="workSheetQO">
                    <ref bean="iSafeAuditQo"/>
                </property>
                <property name="flowTemplateName">
                    <value>SafeAuditProcess</value>
                </property>
                <property name="roleConfigPath">
                    <value>classpath:config/safeauidt-config.xml</value>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="iSafeAuditQo"
          class="com.boco.eoms.sheet.safeaudit.qo.impl.SafeAuditQoImpl"
          autowire="byName" singleton="false">
        <property name="poMain" value="SafeAuditMain"/>
        <property name="poLink" value="SafeAuditLink"/>
        <property name="aliasMain" value="safeAuditMain"/><!-- 模板 -->
        <property name="aliasLink" value="safeAuditLink"/>
        <property name="poTask" value="SafeAuditTask"/>
        <property name="aliasTask" value="safeAuditTask"/>
    </bean>

    <bean id="SafeAudit" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.safeaudit.webapp.action.SafeAuditMethod">
                <property name="businessFlowService">
                    <ref bean="iSafeAuditFlowManager"/>
                </property>
                <property name="linkService"
                          ref="iSafeAuditLinkManager"/>
                <property name="mainService"
                          ref="iSafeAuditMainManager"/>
                <property name="sheetTask"
                          ref="SafeAuditTask"/>
                <property name="taskService"
                          ref="isafeauditTaskManager"/>
                <property name="pageLength">
                    <value>15</value>
                </property>
                <property name="roleConfigPath">
                    <value>classpath:config/safeaudit-config.xml</value>
                </property>
            </bean>
        </property>
    </bean>
    <!--SafeAudit-END-->
</beans>

