<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <!--SecurityDeal-START-->

    <bean id="ISecurityDealMainDAO"
          class="com.boco.eoms.sheet.securitydeal.dao.hibernate.SecurityDealMainDAOHibernate" autowire="byName">
    </bean>
    <bean id="ISecurityDealLinkDAO"
          class="com.boco.eoms.sheet.securitydeal.dao.hibernate.SecurityDealLinkDAOHibernate" autowire="byName">
    </bean>
    <bean id="ISecurityDealTaskDAO"
          class="com.boco.eoms.sheet.securitydeal.dao.hibernate.SecurityDealTaskDAOHibernate" autowire="byName">
    </bean>
    <bean id="SecurityDealTask"
          class="com.boco.eoms.sheet.securitydeal.model.SecurityDealTask" autowire="byName">
    </bean>
    <bean id="SecurityDealLink"
          class="com.boco.eoms.sheet.securitydeal.model.SecurityDealLink"
          autowire="byName"/>
    <bean id="SecurityDealMain"
          class="com.boco.eoms.sheet.securitydeal.model.SecurityDealMain"
          autowire="byName"/>
    <bean id="isecuritydealTask"
          class="com.boco.eoms.sheet.securitydeal.task.impl.SecurityDealTaskImpl"
          autowire="byName"/>
    <bean id="isecuritydealTaskManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.securitydeal.service.impl.SecurityDealTaskManagerImpl">
                <property name="taskModelObject" ref="SecurityDealTask"/>
                <property name="taskDAO">
                    <ref bean="ISecurityDealTaskDAO"/>
                </property>
                <property name="taskConfigPath">
                    <value>/config/securitydealTaskConfig.properties</value>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iSecurityDealFlowManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.securitydeal.service.impl.SecurityDealFlowManagerImpl">
                <property name="businessFlowAdapterService">
                    <ref bean="BusinessFlowAdapterService"/>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iSecurityDealLinkManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.securitydeal.service.impl.SecurityDealLinkManagerImpl">
                <property name="linkObject" ref="SecurityDealLink"/>
                <property name="linkDAO">
                    <ref bean="ISecurityDealLinkDAO"/>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iSecurityDealMainManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.securitydeal.service.impl.SecurityDealMainManagerImpl">
                <property name="mainObject" ref="SecurityDealMain"/>
                <property name="mainDAO">
                    <ref bean="ISecurityDealMainDAO"/>
                </property>
                <property name="workSheetQO">
                    <ref bean="iSecurityDealQo"/>
                </property>
                <property name="flowTemplateName">
                    <value>SecurityDealProcess</value>
                </property>
                <property name="roleConfigPath">
                    <value>classpath:config/securitydeal-config.xml</value>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="iSecurityDealQo"
          class="com.boco.eoms.sheet.securitydeal.qo.impl.SecurityDealQoImpl"
          autowire="byName" singleton="false">
        <property name="poMain" value="SecurityDealMain"/>
        <property name="poLink" value="SecurityDealLink"/>
        <property name="aliasMain" value="securityDealMain"/>
        <property name="aliasLink" value="securityDealLink"/>
        <property name="poTask" value="SecurityDealTask"/>
        <property name="aliasTask" value="securityDealTask"/>

    </bean>

    <bean id="SecurityDeal" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.securitydeal.webapp.action.SecurityDealMethod">
                <property name="businessFlowService">
                    <ref bean="iSecurityDealFlowManager"/>
                </property>
                <property name="linkService"
                          ref="iSecurityDealLinkManager"/>
                <property name="mainService"
                          ref="iSecurityDealMainManager"/>
                <property name="sheetTask"
                          ref="SecurityDealTask"/>
                <property name="taskService"
                          ref="isecuritydealTaskManager"/>
                <property name="pageLength">
                    <value>15</value>
                </property>
                <property name="roleConfigPath">
                    <value>classpath:config/securitydeal-config.xml</value>
                </property>
            </bean>
        </property>
    </bean>
    <!--SecurityDeal-END-->
</beans>
