<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <bean id="kmFilesAttributes"
          class="com.boco.eoms.km.file.util.KmFilesAttributes">
        <!-- 根路径windows环境下的配置-->
        <property name="netDiskRootPath">
            <value>D:/kmfiles</value>
        </property>
        <!-- 根路径Unix环境下的配置 绝对路径-->
        <!-- <property name="netDiskRootPath">
            <value>/downloads</value>
            </property> -->
        <!-- 最大单个上传文件限制（单位MB）-->
        <property name="maxFileSize">
            <value>300</value>
        </property>
    </bean>

    <bean id="kmFileMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.file.mgr.impl.KmFileMgrImpl">
                <property name="fileDao" ref="kmFileDao"/>
            </bean>
        </property>
    </bean>

    <bean id="kmFileDao"
          class="com.boco.eoms.km.file.dao.hibernate.KmFileDaoHibernate"
          autowire="byName"/>

    <bean id="kmFileTreeMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.file.mgr.impl.KmFileTreeMgrImpl">
                <property name="kmFileTreeDao" ref="kmFileTreeDao"/>
            </bean>
        </property>
    </bean>

    <bean id="kmFileTreeDao"
          class="com.boco.eoms.km.file.dao.hibernate.KmFileTreeDaoHibernate"
          autowire="byName"/>

    <bean id="kmContentsMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.knowledge.mgr.impl.KmContentsMgrImpl">
                <property name="kmTableCacheMgr" ref="kmTableCacheMgr"/>
                <property name="kmOperateDateLogMgr"
                          ref="kmOperateDateLogMgr"/>
                <property name="kmOperateLogMgr" ref="kmOperateLogMgr"/>
                <property name="kmContentsDao" ref="kmContentsDao"/>
                <property name="kmContentsDaoJdbc"
                          ref="kmContentsDaoJdbc"/>
            </bean>
        </property>
    </bean>

    <bean id="kmContentsDao"
          class="com.boco.eoms.km.knowledge.dao.hibernate.KmContentsDaoHibernate"
          autowire="byName"/>

    <bean id="kmContentsDaoJdbc"
          class="com.boco.eoms.km.knowledge.dao.jdbc.KmContentsDaoJdbc"
          autowire="byName"/>

    <!-- 知识订阅的spring ioc -->
    <bean id="kmContentsSubscribeMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.knowledge.mgr.impl.KmContentsSubscribeMgrImpl">
                <property name="kmContentsSubscribeDao"
                          ref="kmContentsSubscribeDao"/>
            </bean>
        </property>
    </bean>

    <bean id="kmContentsSubscribeDao"
          class="com.boco.eoms.km.knowledge.dao.hibernate.KmContentsSubscribeDaoHibernate"
          autowire="byName"/>

    <!-- 知识收藏spring ioc -->
    <bean id="kmContentsCollectMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.knowledge.mgr.impl.KmContentsCollectMgrImpl">
                <property name="kmContentsCollectDao"
                          ref="kmContentsCollectDao"/>
            </bean>
        </property>
    </bean>

    <bean id="kmContentsCollectDao"
          class="com.boco.eoms.km.knowledge.dao.hibernate.KmContentsCollectDaoHibernate"
          autowire="byName"/>

    <bean id="kmContentsOpinionMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.knowledge.mgr.impl.KmContentsOpinionMgrImpl">
                <property name="kmContentsOpinionDao"
                          ref="kmContentsOpinionDao"/>
            </bean>
        </property>
    </bean>

    <bean id="kmContentsOpinionDao"
          class="com.boco.eoms.km.knowledge.dao.hibernate.KmContentsOpinionDaoHibernate"
          autowire="byName"/>

    <bean id="kmContentsDictMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.knowledge.mgr.impl.KmContentsDictMgrImpl">
                <property name="kmContentsDictDao"
                          ref="kmContentsDictDao"/>
            </bean>
        </property>
    </bean>

    <bean id="kmContentsDictDao"
          class="com.boco.eoms.km.knowledge.dao.hibernate.KmContentsDictDaoHibernate"
          autowire="byName"/>

    <bean id="kmContentsHistoryMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.knowledge.mgr.impl.KmContentsHistoryMgrImpl">
                <property name="kmContentsHistoryDao"
                          ref="kmContentsHistoryDao"/>
            </bean>
        </property>
    </bean>

    <bean id="kmContentsHistoryDao"
          class="com.boco.eoms.km.knowledge.dao.hibernate.KmContentsHistoryDaoHibernate"
          autowire="byName"/>

    <bean id="kmContentsApplyMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.knowledge.mgr.impl.KmContentsApplyMgrImpl">
                <property name="kmContentsApplyDao" ref="kmContentsApplyDao"/>
            </bean>
        </property>
    </bean>

    <bean id="kmContentsApplyDao"
          class="com.boco.eoms.km.knowledge.dao.hibernate.KmContentsApplyDaoHibernate"
          autowire="byName"/>

    <bean id="kmOperateDateLogMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.log.mgr.impl.KmOperateDateLogMgrImpl">
                <property name="kmOperateDateLogDao"
                          ref="kmOperateDateLogDao"/>
                <property name="kmOperateScoreMgr"
                          ref="kmOperateScoreMgr"/>
            </bean>
        </property>
    </bean>

    <bean id="kmOperateDateLogDao"
          class="com.boco.eoms.km.log.dao.hibernate.KmOperateDateLogDaoHibernate"
          autowire="byName"/>

    <bean id="kmOperateLogMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.log.mgr.impl.KmOperateLogMgrImpl">
                <property name="kmOperateLogDao" ref="kmOperateLogDao"/>
                <property name="kmOperateScoreMgr"
                          ref="kmOperateScoreMgr"/>
            </bean>
        </property>
    </bean>

    <bean id="kmOperateLogDao"
          class="com.boco.eoms.km.log.dao.hibernate.KmOperateLogDaoHibernate"
          autowire="byName"/>

    <bean id="kmOperateScoreMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.statics.mgr.impl.KmOperateScoreMgrImpl">
                <property name="kmOperateScoreDao"
                          ref="kmOperateScoreDao"/>
            </bean>
        </property>
    </bean>

    <bean id="kmOperateScoreDao"
          class="com.boco.eoms.km.statics.dao.hibernate.KmOperateScoreDaoHibernate"
          autowire="byName"/>
    <bean id="kmTableColumnMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.table.mgr.impl.KmTableColumnMgrImpl">
                <property name="kmTableColumnDao"
                          ref="kmTableColumnDao"/>
            </bean>
        </property>
    </bean>

    <bean id="kmTableColumnDao"
          class="com.boco.eoms.km.table.dao.hibernate.KmTableColumnDaoHibernate"
          autowire="byName"/>

    <bean id="kmTableDictMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.table.mgr.impl.KmTableDictMgrImpl">
                <property name="kmTableDictDao" ref="kmTableDictDao"/>
            </bean>
        </property>
    </bean>

    <bean id="kmTableDictDao"
          class="com.boco.eoms.km.table.dao.hibernate.KmTableDictDaoHibernate"
          autowire="byName"/>

    <bean id="kmTableGeneralMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.table.mgr.impl.KmTableGeneralMgrImpl">
                <property name="kmTableGeneralDao"
                          ref="kmTableGeneralDao"/>
            </bean>
        </property>
    </bean>

    <bean id="kmTableGeneralDao"
          class="com.boco.eoms.km.table.dao.hibernate.KmTableGeneralDaoHibernate"
          autowire="byName"/>

    <bean id="kmTableThemeMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.table.mgr.impl.KmTableThemeMgrImpl">
                <property name="kmTableThemeDao" ref="kmTableThemeDao"/>
            </bean>
        </property>
    </bean>

    <bean id="kmTableThemeDao"
          class="com.boco.eoms.km.table.dao.hibernate.KmTableThemeDaoHibernate"
          autowire="byName"/>

    <bean id="kmTableCacheMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.cache.mgr.imp.KmTableCacheMgrImp">
                <property name="kmTableCacheDaoJdbc"
                          ref="kmTableCacheDaoJdbc"/>
                <property name="kmTableGeneralDao"
                          ref="kmTableGeneralDao"/>
            </bean>
        </property>
    </bean>

    <bean id="kmTableCacheDaoJdbc"
          class="com.boco.eoms.km.cache.dao.jdbc.KmTableCacheDaoJdbc"
          autowire="byName"/>

    <!-- 统计部分 spring bean -->
    <bean id="baseStatisticMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.statics.mgr.impl.BaseStatisticMgrImpl">
            </bean>
        </property>
    </bean>

    <bean id="baseStatisticDao"
          class="com.boco.eoms.km.statics.dao.hibernate.BaseStatisticDaoHibernate"
          autowire="byName"/>

    <bean id="deptContributeStatisticMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.statics.mgr.impl.DeptContributeStatisticMgrImpl">
                <property name="deptContributeStatisticDao"
                          ref="deptContributeStatisticDao"/>
            </bean>
        </property>
    </bean>

    <bean id="deptContributeStatisticDao"
          class="com.boco.eoms.km.statics.dao.hibernate.DeptContributeStatisticDaoHibernate"
          autowire="byName"/>

    <bean id="knowledgeChangesStatisticMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.statics.mgr.impl.KnowledgeChangesStatisticMgrImpl">
                <property name="knowledgeChangesStatisticDao"
                          ref="knowledgeChangesStatisticDao"/>
            </bean>
        </property>
    </bean>

    <bean id="knowledgeChangesStatisticDao"
          class="com.boco.eoms.km.statics.dao.hibernate.KnowledgeChangesStatisticDaoHibernate"
          autowire="byName"/>

    <bean id="personalAuditStatisticMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.statics.mgr.impl.PersonalAuditStatisticMgrImpl">
                <property name="personalAuditStatisticDao"
                          ref="personalAuditStatisticDao"/>
            </bean>
        </property>
    </bean>

    <bean id="personalAuditStatisticDao"
          class="com.boco.eoms.km.statics.dao.hibernate.PersonalAuditStatisticDaoHibernate"
          autowire="byName"/>

    <bean id="personalContributeStatisticMgr"
          parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.statics.mgr.impl.PersonalContributeStatisticMgrImpl">
                <property name="personalContributeStatisticDao"
                          ref="personalContributeStatisticDao"/>
            </bean>
        </property>
    </bean>

    <bean id="personalContributeStatisticDao"
          class="com.boco.eoms.km.statics.dao.hibernate.PersonalContributeStatisticDaoHibernate"
          autowire="byName"/>

    <bean id="personalStatisticMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.statics.mgr.impl.PersonalStatisticMgrImpl">
                <property name="personalStatisticDao"
                          ref="personalStatisticDao"/>
            </bean>
        </property>
    </bean>

    <bean id="personalStatisticDao"
          class="com.boco.eoms.km.statics.dao.hibernate.PersonalStatisticDaoHibernate"
          autowire="byName"/>

    <bean id="personalUseStatisticMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.statics.mgr.impl.PersonalUseStatisticMgrImpl">
                <property name="personalUseStatisticDao"
                          ref="personalUseStatisticDao"/>
            </bean>
        </property>
    </bean>

    <bean id="personalUseStatisticDao"
          class="com.boco.eoms.km.statics.dao.hibernate.PersonalUseStatisticDaoHibernate"
          autowire="byName"/>

    <bean id="kmRuleMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.rule.mgr.impl.KmRuleMgrImpl">
                <property name="kmRuleDao" ref="kmRuleDao"/>
                <property name="kmContentsDaoJdbc"
                          ref="kmContentsDaoJdbc"/>
            </bean>
        </property>
    </bean>

    <bean id="generalStatisticDao"
          class="com.boco.eoms.km.statics.dao.hibernate.GeneralStatisticDaoHibernate"
          autowire="byName"/>

    <bean id="generalStatisticMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.statics.mgr.impl.GeneralStatisticMgrImpl">
                <property name="generalStatisticDao"
                          ref="generalStatisticDao"/>
            </bean>
        </property>
    </bean>

    <bean id="scoreOrderStatisticDao"
          class="com.boco.eoms.km.statics.dao.hibernate.ScoreOrderStatisticDaoHibernate"
          autowire="byName"/>

    <bean id="scoreOrderStatisticMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.statics.mgr.impl.ScoreOrderStatisticMgrImpl">
                <property name="scoreOrderStatisticDao"
                          ref="scoreOrderStatisticDao"/>
            </bean>
        </property>
    </bean>
    <bean id="kmRuleDao"
          class="com.boco.eoms.km.rule.dao.hibernate.KmRuleDaoHibernate"
          autowire="byName"/>

    <bean id="kmExamChoiceMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.exam.mgr.impl.KmExamChoiceMgrImpl">
                <property name="kmExamChoiceDao" ref="kmExamChoiceDao"/>
            </bean>
        </property>
    </bean>


    <bean id="kmAuditerMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.kmAuditer.mgr.impl.KmAuditerMgrImpl">
                <property name="kmAuditerDao" ref="kmAuditerDao"/>
            </bean>
        </property>
    </bean>


    <bean id="kmExamChoiceDao"
          class="com.boco.eoms.km.exam.dao.hibernate.KmExamChoiceDaoHibernate"
          autowire="byName"/>

    <bean id="kmExamQuestionsMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.exam.mgr.impl.KmExamQuestionsMgrImpl">
                <property name="kmExamQuestionsDao" ref="kmExamQuestionsDao"/>
                <property name="kmExamChoiceDao" ref="kmExamChoiceDao"/>
            </bean>
        </property>
    </bean>

    <bean id="kmExamQuestionsDao"
          class="com.boco.eoms.km.exam.dao.hibernate.KmExamQuestionsDaoHibernate"
          autowire="byName"/>

    <bean id="kmExamTestMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.exam.mgr.impl.KmExamTestMgrImpl">
                <property name="kmExamTestDao" ref="kmExamTestDao"/>
            </bean>
        </property>
    </bean>

    <bean id="kmExamTestDao"
          class="com.boco.eoms.km.exam.dao.hibernate.KmExamTestDaoHibernate"
          autowire="byName"/>

    <bean id="kmExamTestTypeMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.exam.mgr.impl.KmExamTestTypeMgrImpl">
                <property name="kmExamTestTypeDao" ref="kmExamTestTypeDao"/>
            </bean>
        </property>
    </bean>

    <bean id="kmExamTestTypeDao"
          class="com.boco.eoms.km.exam.dao.hibernate.KmExamTestTypeDaoHibernate"
          autowire="byName"/>

    <bean id="kmExamTestTypeContentMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.exam.mgr.impl.KmExamTestTypeContentMgrImpl">
                <property name="kmExamTestTypeContentDao" ref="kmExamTestTypeContentDao"/>
            </bean>
        </property>
    </bean>

    <bean id="kmExamTestTypeContentDao"
          class="com.boco.eoms.km.exam.dao.hibernate.KmExamTestTypeContentDaoHibernate"
          autowire="byName"/>

    <bean id="kmExamSpecialtyMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.exam.mgr.impl.KmExamSpecialtyMgrImpl">
                <property name="kmExamSpecialtyDao" ref="kmExamSpecialtyDao"/>
            </bean>
        </property>
    </bean>

    <bean id="kmExamSpecialtyDao"
          class="com.boco.eoms.km.exam.dao.hibernate.KmExamSpecialtyDaoHibernate"
          autowire="byName"/>

    <bean id="kmExamAnswersMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.exam.mgr.impl.KmExamAnswersMgrImpl">
                <property name="kmExamAnswersDao" ref="kmExamAnswersDao"/>
            </bean>
        </property>
    </bean>

    <bean id="kmExamAnswersDao"
          class="com.boco.eoms.km.exam.dao.hibernate.KmExamAnswersDaoHibernate"
          autowire="byName"/>

    <bean id="kmExamPublicMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.exam.mgr.impl.KmExamPublicMgrImpl">
                <property name="kmExamPublicDao" ref="kmExamPublicDao"/>
            </bean>
        </property>
    </bean>

    <bean id="kmExamPublicDao"
          class="com.boco.eoms.km.exam.dao.hibernate.KmExamPublicDaoHibernate"
          autowire="byName"/>

    <bean id="kmExamAttendMgr" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.km.exam.mgr.impl.KmExamAttendMgrImpl">
                <property name="kmExamAttendDao" ref="kmExamAttendDao"/>
                <property name="kmExamTestTypeDao" ref="kmExamTestTypeDao"/>
                <property name="kmExamTestTypeContentDao" ref="kmExamTestTypeContentDao"/>
                <property name="kmExamQuestionsDao" ref="kmExamQuestionsDao"/>
                <property name="kmExamAnswersDao" ref="kmExamAnswersDao"/>
            </bean>
        </property>
    </bean>

    <bean id="kmExamAttendDao"
          class="com.boco.eoms.km.exam.dao.hibernate.KmExamAttendDaoHibernate"
          autowire="byName"/>


    <bean id="trainInformationMgr" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.km.train.mgr.impl.TrainInformationMgrImpl">
                <property name="trainInformationDao" ref="trainInformationDao"/>
            </bean>
        </property>
    </bean>

    <bean id="trainInformationDao"
          class="com.boco.eoms.km.train.dao.hibernate.TrainInformationDaoHibernate"
          autowire="byName"/>

    <bean id="trainRecordMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.train.mgr.impl.TrainRecordMgrImpl">
                <property name="trainRecordDao" ref="trainRecordDao"/>
            </bean>
        </property>
    </bean>

    <bean id="trainRecordDao"
          class="com.boco.eoms.km.train.dao.hibernate.TrainRecordDaoHibernate"
          autowire="byName"/>


    <bean id="trainRequireMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.train.mgr.impl.TrainRequireMgrImpl">
                <property name="trainRequireDao" ref="trainRequireDao"/>
            </bean>
        </property>
    </bean>

    <bean id="trainRequireDao"
          class="com.boco.eoms.km.train.dao.hibernate.TrainRequireDaoHibernate"
          autowire="byName"/>

    <bean id="kmAuditerDao"
          class="com.boco.eoms.km.kmAuditer.dao.hibernate.KmAuditerDaoHibernate"
          autowire="byName"/>

    <bean id="kmAuditerStepMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.kmAuditerStep.mgr.impl.KmAuditerStepMgrImpl">
                <property name="kmAuditerStepDao" ref="kmAuditerStepDao"/>
            </bean>
        </property>
    </bean>

    <bean id="trainSpecialtyMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.train.mgr.impl.TrainSpecialtyMgrImpl">
                <property name="trainSpecialtyDao" ref="trainSpecialtyDao"/>
            </bean>
        </property>
    </bean>

    <bean id="trainSpecialtyDao"
          class="com.boco.eoms.km.train.dao.hibernate.TrainSpecialtyDaoHibernate"
          autowire="byName"/>

    <bean id="trainEnterMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.train.mgr.impl.TrainEnterMgrImpl">
                <property name="trainEnterDao" ref="trainEnterDao"/>
            </bean>
        </property>
    </bean>

    <bean id="trainEnterDao"
          class="com.boco.eoms.km.train.dao.hibernate.TrainEnterDaoHibernate"
          autowire="byName"/>

    <bean id="trainFeedbackMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.train.mgr.impl.TrainFeedbackMgrImpl">
                <property name="trainFeedbackDao" ref="trainFeedbackDao"/>
            </bean>
        </property>
    </bean>

    <bean id="trainFeedbackDao"
          class="com.boco.eoms.km.train.dao.hibernate.TrainFeedbackDaoHibernate"
          autowire="byName"/>

    <bean id="trainPlanMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.train.mgr.impl.TrainPlanMgrImpl">
                <property name="trainPlanDao" ref="trainPlanDao"/>
            </bean>
        </property>
    </bean>

    <bean id="trainPlanDao"
          class="com.boco.eoms.km.train.dao.hibernate.TrainPlanDaoHibernate"
          autowire="byName"/>


    <bean id="kmAuditerStepDao"
          class="com.boco.eoms.km.kmAuditerStep.dao.hibernate.KmAuditerStepDaoHibernate"
          autowire="byName"/>

    <bean id="kmOperateMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.kmOperate.mgr.impl.KmOperateMgrImpl">
                <property name="kmOperateDao" ref="kmOperateDao"/>
            </bean>
        </property>
    </bean>

    <bean id="kmOperateDao"
          class="com.boco.eoms.km.kmOperate.dao.hibernate.KmOperateDaoHibernate"
          autowire="byName"/>

    <!-- 课程管理 -->
    <bean id="kmLessonMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.lesson.mgr.impl.KmLessonMgrImpl">
                <property name="kmLessonDao" ref="kmLessonDao"/>
            </bean>
        </property>
    </bean>

    <bean id="kmLessonDao"
          class="com.boco.eoms.km.lesson.dao.hibernate.KmLessonDaoHibernate"
          autowire="byName"/>

    <!-- 考试信息统计 -->
    <bean id="lessonAnaysisMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.lesson.mgr.impl.LessonAnaysisMgrImpl">
                <property name="lessonAnaysisDao" ref="lessonAnaysisDao"/>
            </bean>
        </property>
    </bean>

    <bean id="lessonAnaysisDao"
          class="com.boco.eoms.km.lesson.dao.hibernate.LessonAnaysisDaoHibernate"
          autowire="byName"/>

    <!-- 专家管理-专家基本信息 -->
    <bean id="kmExpertBasicMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.expert.mgr.impl.KmExpertBasicMgrImpl">
                <property name="kmExpertBasicDao" ref="kmExpertBasicDao"/>
            </bean>
        </property>
    </bean>

    <bean id="kmExpertBasicDao"
          class="com.boco.eoms.km.expert.dao.hibernate.KmExpertBasicDaoHibernate"
          autowire="byName"/>

    <!-- 专家管理-专家基本信息-证书管理 -->
    <bean id="kmExpertCetMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.expert.mgr.impl.KmExpertCetMgrImpl">
                <property name="kmExpertCetDao" ref="kmExpertCetDao"/>
            </bean>
        </property>
    </bean>

    <bean id="kmExpertCetDao"
          class="com.boco.eoms.km.expert.dao.hibernate.KmExpertCetDaoHibernate"
          autowire="byName"/>

    <!-- 专家管理-专家基本信息-竞赛表彰 -->
    <bean id="kmExpertComMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.expert.mgr.impl.KmExpertComMgrImpl">
                <property name="kmExpertComDao" ref="kmExpertComDao"/>
            </bean>
        </property>
    </bean>

    <bean id="kmExpertComDao"
          class="com.boco.eoms.km.expert.dao.hibernate.KmExpertComDaoHibernate"
          autowire="byName"/>

    <!-- 专家管理-专家基本信息-教育经历 -->
    <bean id="kmExpertEduMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.expert.mgr.impl.KmExpertEduMgrImpl">
                <property name="kmExpertEduDao" ref="kmExpertEduDao"/>
            </bean>
        </property>
    </bean>

    <bean id="kmExpertEduDao"
          class="com.boco.eoms.km.expert.dao.hibernate.KmExpertEduDaoHibernate"
          autowire="byName"/>

    <!-- 专家管理-专家基本信息-工作经验 -->
    <bean id="kmExpertExpMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.expert.mgr.impl.KmExpertExpMgrImpl">
                <property name="kmExpertExpDao" ref="kmExpertExpDao"/>
            </bean>
        </property>
    </bean>

    <bean id="kmExpertExpDao"
          class="com.boco.eoms.km.expert.dao.hibernate.KmExpertExpDaoHibernate"
          autowire="byName"/>

    <!-- 专家管理-专家基本信息-培训经历 -->
    <bean id="kmExpertTrainMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.expert.mgr.impl.KmExpertTrainMgrImpl">
                <property name="kmExpertTrainDao" ref="kmExpertTrainDao"/>
            </bean>
        </property>
    </bean>

    <bean id="kmExpertTrainDao"
          class="com.boco.eoms.km.expert.dao.hibernate.KmExpertTrainDaoHibernate"
          autowire="byName"/>

    <!-- 专家管理-专家基本信息-专家头像 -->
    <bean id="kmExpertPhotoMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.expert.mgr.impl.KmExpertPhotoMgrImpl">
                <property name="kmExpertPhotoDao" ref="kmExpertPhotoDao"/>
            </bean>
        </property>
    </bean>

    <bean id="kmExpertPhotoDao"
          class="com.boco.eoms.km.expert.dao.hibernate.KmExpertPhotoDaoHibernate"
          autowire="byName"/>

    <!-- 专家管理-专家人员树 -->
    <bean id="kmExpertTreeMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.expert.mgr.impl.KmExpertTreeMgrImpl">
                <property name="kmExpertTreeDao" ref="kmExpertTreeDao"/>
            </bean>
        </property>
    </bean>

    <bean id="kmExpertTreeDao"
          class="com.boco.eoms.km.expert.dao.hibernate.KmExpertTreeDaoHibernate"
          autowire="byName"/>

    <!-- 专家管理-专家组管理 -->
    <bean id="kmExpertGroupMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.expert.mgr.impl.KmExpertGroupMgrImpl">
                <property name="kmExpertGroupDao" ref="kmExpertGroupDao"/>
            </bean>
        </property>
    </bean>

    <bean id="kmExpertGroupDao"
          class="com.boco.eoms.km.expert.dao.hibernate.KmExpertGroupDaoHibernate"
          autowire="byName"/>

    <!-- 专家问答 -->
    <bean id="kmExpertAnswerMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.expert.mgr.impl.KmExpertAnswerMgrImpl">
                <property name="kmExpertAnswerDao" ref="kmExpertAnswerDao"/>
            </bean>
        </property>
    </bean>

    <bean id="kmExpertAnswerDao"
          class="com.boco.eoms.km.expert.dao.hibernate.KmExpertAnswerDaoHibernate"
          autowire="byName"/>

    <!-- 知识问答 -->
    <bean id="kmAskQuestionMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.ask.mgr.impl.KmAskQuestionMgrImpl">
                <property name="kmAskQuestionDao" ref="kmAskQuestionDao"/>
                <property name="kmAskReplyDao" ref="kmAskReplyDao"/>
            </bean>
        </property>
    </bean>

    <bean id="kmAskQuestionDao"
          class="com.boco.eoms.km.ask.dao.hibernate.KmAskQuestionDaoHibernate"
          autowire="byName"/>


    <bean id="kmAskReplyMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.ask.mgr.impl.KmAskReplyMgrImpl">
                <property name="kmAskReplyDao" ref="kmAskReplyDao"/>
            </bean>
        </property>
    </bean>

    <bean id="kmAskReplyDao"
          class="com.boco.eoms.km.ask.dao.hibernate.KmAskReplyDaoHibernate"
          autowire="byName"/>


    <bean id="kmAskSpecialityMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.ask.mgr.impl.KmAskSpecialityMgrImpl">
                <property name="kmAskSpecialityDao" ref="kmAskSpecialityDao"/>
            </bean>
        </property>
    </bean>

    <bean id="kmAskSpecialityDao"
          class="com.boco.eoms.km.ask.dao.hibernate.KmAskSpecialityDaoHibernate"
          autowire="byName"/>

    <bean id="kmAskVoteMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.ask.mgr.impl.KmAskVoteMgrImpl">
                <property name="kmAskVoteDao" ref="kmAskVoteDao"/>
            </bean>
        </property>
    </bean>

    <bean id="kmAskVoteDao"
          class="com.boco.eoms.km.ask.dao.hibernate.KmAskVoteDaoHibernate"
          autowire="byName"/>

    <bean id="kmAskCommentMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.ask.mgr.impl.KmAskCommentMgrImpl">
                <property name="kmAskCommentDao" ref="kmAskCommentDao"/>
            </bean>
        </property>
    </bean>

    <bean id="kmAskCommentDao"
          class="com.boco.eoms.km.ask.dao.hibernate.KmAskCommentDaoHibernate"
          autowire="byName"/>

    <bean id="kmAskCountScoreMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.ask.mgr.impl.KmAskCountScoreMgrImpl">
                <property name="kmAskCountScoreDao" ref="kmAskCountScoreDao"/>
                <property name="kmAskScoreDao" ref="kmAskScoreDao"/>
            </bean>
        </property>
    </bean>

    <bean id="kmAskCountScoreDao"
          class="com.boco.eoms.km.ask.dao.hibernate.KmAskCountScoreDaoHibernate"
          autowire="byName"/>

    <bean id="kmAskScoreMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.ask.mgr.impl.KmAskScoreMgrImpl">
                <property name="kmAskScoreDao" ref="kmAskScoreDao"/>
            </bean>
        </property>
    </bean>

    <bean id="kmAskScoreDao"
          class="com.boco.eoms.km.ask.dao.hibernate.KmAskScoreDaoHibernate"
          autowire="byName"/>


    <bean id="kmInputScoreMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.score.mgr.impl.KmInputScoreMgrImpl">
                <property name="kmInputScoreDao" ref="kmInputScoreDao"/>
            </bean>
        </property>
    </bean>

    <bean id="kmInputScoreDao"
          class="com.boco.eoms.km.score.dao.jdbc.KmInputScoreDaoJdbc"
          autowire="byName"/>


    <!-- 知识申请排行 -->
    <bean id="kmContentsApplyRankMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.knowledge.mgr.impl.KmContentsApplyRankMgrImpl">
                <property name="kmContentsApplyRankDao" ref="kmContentsApplyRankDao"/>
            </bean>
        </property>
    </bean>
    <bean id="kmContentsApplyRankDao"
          class="com.boco.eoms.km.knowledge.dao.hibernate.KmContentsApplyRankDaoHibernate"
          autowire="byName"/>


    <bean id="kmExpertScoreMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.expert.mgr.impl.KmExpertScoreMgrImpl">
                <property name="kmExpertScoreDao" ref="kmExpertScoreDao"/>
            </bean>
        </property>
    </bean>

    <bean id="kmExpertScoreDao"
          class="com.boco.eoms.km.expert.dao.hibernate.KmExpertScoreDaoHibernate"
          autowire="byName"/>

    <bean id="kmScoreSetMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.score.mgr.impl.KmScoreSetMgrImpl">
                <property name="kmScoreSetDao" ref="kmScoreSetDao"/>
            </bean>
        </property>
    </bean>

    <bean id="kmScoreSetDao"
          class="com.boco.eoms.km.score.dao.hibernate.KmScoreSetDaoHibernate"
          autowire="byName"/>

    <bean id="kmScoreTreeMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.score.mgr.impl.KmScoreTreeMgrImpl">
                <property name="kmScoreTreeDao" ref="kmScoreTreeDao"/>
            </bean>
        </property>
    </bean>

    <bean id="kmScoreTreeDao"
          class="com.boco.eoms.km.score.dao.hibernate.KmScoreTreeDaoHibernate"
          autowire="byName"/>

    <bean id="kmScoreWeightMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.score.mgr.impl.KmScoreWeightMgrImpl">
                <property name="kmScoreWeightDao" ref="kmScoreWeightDao"/>
            </bean>
        </property>
    </bean>

    <bean id="kmScoreWeightDao"
          class="com.boco.eoms.km.score.dao.hibernate.KmScoreWeightDaoHibernate"
          autowire="byName"/>
    <!-- 首页 -->
    <bean id="kmContentsMainMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.knowledge.mgr.impl.KmContentsMainMgrImpl">
                <property name="kmContentsMainDao" ref="kmContentsMainDao"/>
            </bean>
        </property>
    </bean>
    <!-- 考试监控 -->
    <bean id="kmContentsMainDao"
          class="com.boco.eoms.km.knowledge.dao.hibernate.KmContentsMainDaoHibernate"
          autowire="byName"/>

    <bean id="kmExamAttendRecordMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.exam.mgr.impl.KmExamAttendRecordMgrImpl">
                <property name="kmExamAttendRecordDao" ref="kmExamAttendRecordDao"/>
            </bean>
        </property>
    </bean>

    <bean id="kmExamAttendRecordDao"
          class="com.boco.eoms.km.exam.dao.hibernate.KmExamAttendRecordDaoHibernate"
          autowire="byName"/>

    <!-- 知识管理首页Mgr -->
    <bean id="kmIndexMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.km.index.mgr.impl.KmIndexMgrImpl">
                <property name="kmIndexDao" ref="kmIndexDao"/>
            </bean>
        </property>
    </bean>

    <bean id="kmIndexDao"
          class="com.boco.eoms.km.index.dao.hibernate.KmIndexDaoHibernate"
          autowire="byName"/>

    <import resource="classpath:com/boco/eoms/km/config/applicationContext-kmmanager-versionlog.xml"/>

</beans>




