<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
     
    <bean id="proxyDao" class="com.boco.eoms.sheet.proxy.dao.hibernate.ProxyDaoHibernate" autowire="byName"/>
    <bean id="IproxyManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.sheet.proxy.service.impl.ProxyManagerImpl">
                <property name="dao" ref="proxyDao"/>
	        </bean>
        </property>
    </bean>
</beans>


















