<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <!--BusinessChange-START-->

    <bean id="IBusinessChangeMainDAO"
          class="com.boco.eoms.sheet.businesschange.dao.hibernate.BusinessChangeMainDAOHibernate" autowire="byName">
    </bean>
    <bean id="IBusinessChangeLinkDAO"
          class="com.boco.eoms.sheet.businesschange.dao.hibernate.BusinessChangeLinkDAOHibernate" autowire="byName">
    </bean>
    <bean id="IBusinessChangeTaskDAO"
          class="com.boco.eoms.sheet.businesschange.dao.hibernate.BusinessChangeTaskDAOHibernate" autowire="byName">
    </bean>
    <bean id="BusinessChangeTask"
          class="com.boco.eoms.sheet.businesschange.task.impl.BusinessChangeTaskImpl" autowire="byName">
    </bean>
    <bean id="BusinessChangeLink"
          class="com.boco.eoms.sheet.businesschange.model.BusinessChangeLink"
          autowire="byName"/>
    <bean id="BusinessChangeMain"
          class="com.boco.eoms.sheet.businesschange.model.BusinessChangeMain"
          autowire="byName"/>
    <bean id="ibusinesschangeTask"
          class="com.boco.eoms.sheet.businesschange.task.impl.BusinessChangeTaskImpl"
          autowire="byName"/>
    <bean id="ibusinesschangeTaskManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.businesschange.service.impl.BusinessChangeTaskManagerImpl">
                <property name="taskModelObject" ref="BusinessChangeTask"/>
                <property name="taskDAO">
                    <ref bean="IBusinessChangeTaskDAO"/>
                </property>
                <property name="taskConfigPath">
                    <value>/config/businesschangeConfig.properties</value>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iBusinessChangeFlowManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.businesschange.service.impl.BusinessChangeFlowManagerImpl">
                <property name="businessFlowAdapterService">
                    <ref bean="BusinessFlowAdapterService"/>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iBusinessChangeLinkManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.businesschange.service.impl.BusinessChangeLinkManagerImpl">
                <property name="linkObject" ref="BusinessChangeLink"/>
                <property name="linkDAO">
                    <ref bean="IBusinessChangeLinkDAO"/>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iBusinessChangeMainManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.businesschange.service.impl.BusinessChangeMainManagerImpl">
                <property name="mainObject" ref="BusinessChangeMain"/>
                <property name="mainDAO">
                    <ref bean="IBusinessChangeMainDAO"/>
                </property>
                <property name="workSheetQO">
                    <ref bean="iBusinessChangeQo"/>
                </property>
                <property name="flowTemplateName">
                    <value>BusinessChangeProcess</value>
                </property>
                <property name="roleConfigPath">
                    <value>classpath:config/businesschange-config.xml</value>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="iBusinessChangeQo"
          class="com.boco.eoms.sheet.businesschange.qo.impl.BusinessChangeQoImpl"
          autowire="byName" singleton="false">
        <property name="poMain" value="BusinessChangeMain"/>
        <property name="poLink" value="BusinessChangeLink"/>
        <property name="aliasMain" value="businessChangeMain"/>
        <property name="aliasLink" value="businessChangeLink"/>
        <property name="poTask" value="BusinessChangeTaskImpl"/>
        <property name="aliasTask" value="businessChangeTask"/>
    </bean>

    <bean id="BusinessChange" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.businesschange.webapp.action.BusinessChangeMethod">
                <property name="businessFlowService">
                    <ref bean="iBusinessChangeFlowManager"/>
                </property>
                <property name="linkService"
                          ref="iBusinessChangeLinkManager"/>
                <property name="mainService"
                          ref="iBusinessChangeMainManager"/>
                <property name="sheetTask"
                          ref="BusinessChangeTask"/>
                <property name="taskService"
                          ref="ibusinesschangeTaskManager"/>
                <property name="pageLength">
                    <value>15</value>
                </property>
                <property name="roleConfigPath">
                    <value>classpath:config/businesschange-config.xml</value>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iBusinessChangeCrmService" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.businesschange.service.impl.BusinessChangeCrmManagerImpl">
            </bean>
        </property>
    </bean>
    <bean id="iBusinessChangeInterfaceManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.businesschange.service.impl.BusinessChangeInterfaceManagerImpl">
            </bean>
        </property>
    </bean>
    <!--BusinessChange-END-->
</beans>
