<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="transferUtil" parent="deptBaseCacheProxy">
        <property name="target">
            <bean class="com.boco.eoms.security.util.TransferUtil">
                <property name="tawSystemDeptDao"
                          ref="tawSystemDeptDao"/>
                <property name="tawSystemUserDao"
                          ref="tawSystemUserDao"/>
            </bean>
        </property>
    </bean>
    <bean id="tawAdUserScheduler" parent="deptBaseCacheProxy">
        <property name="target">
            <bean
                    class="com.boco.eoms.security.scheduler.TawAdUserScheduler">
                <property name="tawSystemUserManagerImpl"
                          ref="itawSystemUserManager"/>
                <property name="tawSystemDeptManagerImpl"
                          ref="ItawSystemDeptManager"/>
                <property name="tawSystemUserBo" ref="iTawSystemUserBo"/>
                <property name="treeWithDeptDAO" ref="iTreeWithDeptDAO"/>
            </bean>
        </property>

    </bean>
    <bean id="tawAdDeptScheduler" parent="deptBaseCacheProxy">
        <property name="target">
            <bean
                    class="com.boco.eoms.security.scheduler.TawAdDeptScheduler">
                <property name="tawSystemDeptManagerImpl"
                          ref="ItawSystemDeptManager"/>
                <property name="treeWithDeptDAO" ref="iTreeWithDeptDAO"/>
            </bean>
        </property>
    </bean>
    <bean id="tawAdAreaScheduler" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.security.scheduler.TawAdAreaScheduler">
                <property name="tawSystemAreaManager"
                          ref="itawSystemAreaManagerImpl"/>
                <property name="treeWithAreaDAO"
                          ref="iTreeWithAreaDAO"/>
            </bean>
        </property>
    </bean>
    <bean id="itawSystemAreaManagerImpl"
          class="com.boco.eoms.commons.system.area.service.impl.TawSystemAreaManagerImpl"
          autowire="byName"/>

    <bean id="iTreeWithAreaDAO"
          class="com.boco.eoms.security.service.dao.ldap.TreeWithAreaDAO"
          autowire="byName"/>

    <bean id="iTreeWithDeptDAO"
          class="com.boco.eoms.security.service.dao.ldap.TreeWithDeptDAO"
          autowire="byName"/>

    <bean id="serviceAttributes"
          class="com.boco.eoms.security.util.ServiceAttributes">
        <property name="adurl">
            <value>ldap://10.47.0.1:389/</value>
        </property>
        <property name="aduid">
            <value>CN=bind_eoms,OU=sys_users,DC=NMS,DC=FJ,DC=CM</value>
        </property>
        <property name="adpwd">
            <value>Boco.2005</value>
        </property>
    </bean>
</beans>
