<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <!-- Add new Managers here -->
    
  
    
    
    
    
    
    <!--TestTable-START-->    
    <bean id="testTableManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.commons.demo.service.impl.TestTableManagerImpl">
                <property name="testTableDao" ref="testTableDao"/>
            </bean>
        </property>
    </bean>
    <!--TestTable-END-->
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <!--TawDemoMytable-START-->    
    <bean id="tawDemoMytableManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.commons.demo.service.impl.TawDemoMytableManagerImpl">
                <property name="tawDemoMytableDao" ref="tawDemoMytableDao"/>
            </bean>
        </property>
    </bean>
    <!--TawDemoMytable-END-->
</beans>






















































































































































