<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <!--TawSystemPrivMenu-DAO START-->
    <bean id="tawCommonHongXunDao" class="com.boco.eoms.commons.hongxun.dao.jdbc.TawCommonHongXunDaojdbc"
          autowire="byName"/>

</beans>

















