<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <!--TawBureauData-DAO START-->
    <bean id="tawBureauDataDao" class="com.boco.eoms.bureaudata.dao.hibernate.TawBureauDataDaoHibernate" autowire="byName"/>
    <!--TawBureauData-DAO END-->
    <!--TawBureauData-START-->    
    <bean id="ItawBureauDataManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.bureaudata.service.impl.TawBureauDataManagerImpl">
                <property name="tawBureauDataDao" ref="tawBureauDataDao"/>
            </bean>
        </property>
    </bean>
    <!--TawBureauData-END-->
</beans>















