<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <!--BusinessPlan-START-->

    <bean id="IBusinessPlanMainDAO"
          class="com.boco.eoms.sheet.businessplan.dao.hibernate.BusinessPlanMainDAOHibernate" autowire="byName">
    </bean>
    <bean id="IBusinessPlanLinkDAO"
          class="com.boco.eoms.sheet.businessplan.dao.hibernate.BusinessPlanLinkDAOHibernate" autowire="byName">
    </bean>
    <bean id="IBusinessPlanTaskDAO"
          class="com.boco.eoms.sheet.businessplan.dao.hibernate.BusinessPlanTaskDAOHibernate" autowire="byName">
    </bean>
    <bean id="BusinessPlanTask"
          class="com.boco.eoms.sheet.businessplan.model.BusinessPlanTask" autowire="byName">
    </bean>
    <bean id="BusinessPlanLink"
          class="com.boco.eoms.sheet.businessplan.model.BusinessPlanLink"
          autowire="byName"/>
    <bean id="BusinessPlanMain"
          class="com.boco.eoms.sheet.businessplan.model.BusinessPlanMain"
          autowire="byName"/>
    <bean id="iBusinessPlanTask"
          class="com.boco.eoms.sheet.businessplan.task.impl.BusinessPlanTaskImpl"
          autowire="byName"/>
    <bean id="iBusinessPlanTaskManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.businessplan.service.impl.BusinessPlanTaskManagerImpl">
                <property name="taskModelObject" ref="BusinessPlanTask"/>
                <property name="taskDAO">
                    <ref bean="IBusinessPlanTaskDAO"/>
                </property>
                <property name="taskConfigPath">
                    <value>/config/businessplanTaskConfig.properties</value>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iBusinessPlanFlowManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.businessplan.service.impl.BusinessPlanFlowManagerImpl">
                <property name="businessFlowAdapterService">
                    <ref bean="BusinessFlowAdapterService"/>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iBusinessPlanLinkManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.businessplan.service.impl.BusinessPlanLinkManagerImpl">
                <property name="linkObject" ref="BusinessPlanLink"/>
                <property name="linkDAO">
                    <ref bean="IBusinessPlanLinkDAO"/>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iBusinessPlanMainManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.businessplan.service.impl.BusinessPlanMainManagerImpl">
                <property name="mainObject" ref="BusinessPlanMain"/>
                <property name="mainDAO">
                    <ref bean="IBusinessPlanMainDAO"/>
                </property>
                <property name="workSheetQO">
                    <ref bean="iBusinessPlanQo"/>
                </property>
                <property name="flowTemplateName">
                    <value>BusinessPlanProcess</value>
                </property>
                <property name="roleConfigPath">
                    <value>classpath:config/businessplan-config.xml</value>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="iBusinessPlanQo"
          class="com.boco.eoms.sheet.businessplan.qo.impl.BusinessPlanQoImpl"
          autowire="byName" singleton="false">
        <property name="poMain" value="BusinessPlanMain"/>
        <property name="poLink" value="BusinessPlanLink"/>
        <property name="aliasMain" value="businessPlanMain"/>
        <property name="aliasLink" value="businessPlanLink"/>
        <property name="poTask" value="BusinessPlanTask"/>
        <property name="aliasTask" value="businessPlanTask"/>
    </bean>

    <bean id="BusinessPlan" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.businessplan.webapp.action.BusinessPlanMethod">
                <property name="businessFlowService">
                    <ref bean="iBusinessPlanFlowManager"/>
                </property>
                <property name="linkService"
                          ref="iBusinessPlanLinkManager"/>
                <property name="mainService"
                          ref="iBusinessPlanMainManager"/>
                <property name="sheetTask"
                          ref="BusinessPlanTask"/>
                <property name="taskService"
                          ref="iBusinessPlanTaskManager"/>
                <property name="pageLength">
                    <value>15</value>
                </property>
                <property name="roleConfigPath">
                    <value>classpath:config/businessplan-config.xml</value>
                </property>
            </bean>
        </property>
    </bean>
    <!--BusinessPlan-END-->
</beans>
