<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
  <!-- hibernate-configuration 是连接配置文件的根源素 -->
<hibernate-configuration>
  <session-factory>
     <!-- 指定数据库所用到的驱动 -->
     <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
     <!-- 指定数据库链接的url，hibernate链接的数据库名 -->
     <property name="connection.url">jdbc:oracle:thin:@172.16.100.7:1521:orcl</property>
     <!-- 指定连接数据库的用户名 -->
     <property name="connection.username">riskcontrol</property>
     <!-- 指定连接数据库的用户口令 -->
     <property name="connection.password">riskcontrol</property>
     <!-- 指定连接池里的最大连接数 -->
     <property name="hibernate.c3p0.maxsize">20</property>
     <!-- 指定连接池里最小连接数 -->
     <property name="hibernate.cp30.minsize">1</property>
     <!-- 指定连接池里的超时时常 -->
     <property name="hibernate.cp30.timeout">5000</property>
     <!-- 指定连接池里最大缓存多少个Statement对象 -->
     <property name="hibernate.cp30.max_statements">100</property>
     <property name="hibernate.cp30.idle_test_period">3000</property>
     <property name="hibernate.cp30.acquire_increment">2</property>
     <property name="hibernate.cp30.validate">true</property>

     <!-- 罗列所有映射文件 -->
	<mapping resource="com/boco/gr/model/TawRiskDocument.hbm.xml"/> 
	 </session-factory>
</hibernate-configuration>
