body {
    margin: 0px;
    background-image: none;
    position: static;
    left: auto;
    width: 1366px;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
}

#base {
    position: absolute;
    z-index: 0;
}

#u66_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1366px;
    height: 768px;
}

#u66 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1366px;
    height: 768px;
}

#u67 {
    position: absolute;
    left: 2px;
    top: 376px;
    width: 1362px;
    visibility: hidden;
    word-wrap: break-word;
}

#u68_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1052px;
    height: 481px;
}

#u68 {
    position: absolute;
    left: 296px;
    top: 77px;
    width: 1052px;
    height: 481px;
}

#u69 {
    position: absolute;
    left: 2px;
    top: 232px;
    width: 1048px;
    visibility: hidden;
    word-wrap: break-word;
}

#u70 {
    position: absolute;
    left: 150px;
    top: 401px;
    width: 74px;
    height: 72px;
    overflow: hidden;
    background-image: url('../../resources/images/transparent.gif');
}

#u71 {
    position: absolute;
    left: 39px;
    top: 401px;
    width: 74px;
    height: 72px;
    overflow: hidden;
    background-image: url('../../resources/images/transparent.gif');
}

#u72 {
    position: absolute;
    left: 150px;
    top: 535px;
    width: 74px;
    height: 72px;
    overflow: hidden;
    background-image: url('../../resources/images/transparent.gif');
}

#u73 {
    position: absolute;
    left: 39px;
    top: 535px;
    width: 74px;
    height: 72px;
    overflow: hidden;
    background-image: url('../../resources/images/transparent.gif');
}

#u74 {
    position: absolute;
    left: 39px;
    top: 270px;
    width: 74px;
    height: 72px;
    overflow: hidden;
    background-image: url('../../resources/images/transparent.gif');
}

#u75 {
    position: absolute;
    left: 1280px;
    top: 9px;
    width: 68px;
    height: 31px;
    overflow: hidden;
    background-image: url('../../resources/images/transparent.gif');
}

#u76 {
    position: absolute;
    left: 152px;
    top: 271px;
    width: 74px;
    height: 72px;
    overflow: hidden;
    background-image: url('../../resources/images/transparent.gif');
}
