A:visited{TEXT-DECORATION: none;Color:#000000}
A:active{TEXT-DECORATION: none;Color:#000000}
A:hover{TEXT-DECORATION: underline;Color:#000000}
A:link{text-decoration: none;Color:#000000}
.t{LINE-HEIGHT: 1.4}
BODY{
	FONT-FAMILY: "宋体"; FONT-SIZE: 12px;
	SCROLLBAR-HIGHLIGHT-COLOR: #99ccff;
	SCROLLBAR-SHADOW-COLOR: #99ccff;
	SCROLLBAR-3DLIGHT-COLOR: #99ccff;
	SCROLLBAR-TRACK-COLOR: #FFFFFF;
	SCROLLBAR-DARKSHADOW-COLOR: #99ccff;
	scrollbar-Base-Color: #99ccff;
	Color:#000000
}
TD,p,div,br{FONT-FAMILY: "宋体"; FONT-SIZE: 12px;Color:#000000;}
FORM{FONT-FAMILY: "宋体"; FONT-SIZE: 12px}
OPTION{FONT-FAMILY: "宋体"; FONT-SIZE: 12px}
INPUT{BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 9pt; BORDER-LEFT-COLOR: #cccccc; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #cccccc; PADDING-BOTTOM: 1px; BORDER-TOP-COLOR: #cccccc; PADDING-TOP: 1px; HEIGHT: 18px; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #cccccc; font-family: "宋体"; font-size: 12px}
textarea {border-width: 1; border-color: #000000;  font-family: "宋体"; font-size: 12px; font-style: bold;}
select {border-width: 1; border-color: #000000;  font-family: "宋体"; font-size: 12px; font-style: bold;}