.topbar {
			BACKGROUND: url(../images/topbar.gif) #ffeeee;
			BACKGROUND-COLOR: #cccccc;
			BORDER-BOTTOM: #cccccc;
			BORDER-LEFT: #cccccc;
			BORDER-TOP: #cccccc;
			FONT-SIZE: 10pt;
			BORDER-Bright: #cccccc;
			height:0.7cm;
    }

A
{
    COLOR: #003399;
    TEXT-DECORATION: none
}
A:visited
{
    COLOR: #6666cc
}
A:active
{
    TEXT-DECORATION: underline
}
A:hover
{
    TEXT-DECORATION: underline
}
BODY
{
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: 宋体, 楷体_GB2312, verdana, arial, helvetica, sans-serif;
    BORDER: 0px;
}
BUTTON
{
    FONT-FAMILY: 宋体, 楷体_GB2312, verdana, arial, helvetica, sans-serif;
    BACKGROUND-COLOR: cornflowerblue
}
DT
{
    FONT-WEIGHT: bold
}
FORM
{
    MARGIN-BOTTOM: 0px
}
H1
{
    MARGIN-TOP: 0px;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: bolder;
    FONT-SIZE: x-large;
    FILTER: progid:DXImageTransform.Microsoft.Shadow(color='gray', Direction=135, Strength=4);
    MARGIN-BOTTOM: 0em;
    CLIP: rect(10px auto auto auto);
    COLOR: #4e4887;
    FONT-STYLE: italic;
    FONT-FAMILY: arial, 宋体, 楷体_GB2312, verdana, helvetica, sans-serif;
    LETTER-SPACING: 4px;
    TEXT-ALIGN: left;
    FONT-VARIANT: small-caps
}
H2
{
    BORDER-TOP: #4e4887 1px solid;
    MARGIN-TOP: 1em;
    PADDING-LEFT: 4px;
    FONT-SIZE: small;
    MARGIN-BOTTOM: 0.5em;
    BORDER-LEFT: #4e4887 8px solid;
    COLOR: #4e4887
}
H3
{
    BORDER-TOP: #4e4887 1px;
    PADDING-LEFT: 4px;
    FONT-SIZE: x-small;
    MARGIN: 1em 0.5em 0.5em 1em;
    BORDER-LEFT: #4e4887 3px;
    COLOR: #4e4887;
    BORDER-BOTTOM: #4e4887 1px solid;
    LETTER-SPACING: 10px
}
H4
{
    FONT-SIZE: x-small;
    MARGIN-BOTTOM: 0.5em;
    COLOR: #4e4887
}
H5
{
    FONT-SIZE: xx-small;
    MARGIN-BOTTOM: 0.5em;
    COLOR: #4e4887
}
H6
{
    FONT-SIZE: xx-small;
    MARGIN-BOTTOM: 0.5em;
    COLOR: #4e4887;
    FONT-STYLE: italic
}
INPUT
{
    FONT-SIZE: 90%;
    FONT-FAMILY: 宋体, 楷体_GB2312, verdana, arial, helvetica, sans-serif
}
OL
{
    MARGIN-TOP: 0.5em
}
P
{
    MARGIN-TOP: 0.5em;
    MARGIN-BOTTOM: 0.5em
}
PRE
{
    FONT-SIZE: 10pt;
    MARGIN: 1em;
}
SELECT
{
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: 宋体, 楷体_GB2312, verdana, arial, helvetica, sans-serif
}
TABLE
{
    FONT-SIZE: x-small
}
TD
{
    FONT-FAMILY: 宋体, 楷体_GB2312, verdana, arial, helvetica, sans-serif
}
TH
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    BACKGROUND-IMAGE: url(..\images\topbk.gif);
    PADDING-BOTTOM: 4px;
    MARGIN: 2px;
    PADDING-TOP: 4px;
    BACKGROUND-COLOR: lightgrey
}
UL
{
    MARGIN-TOP: 0.5em
}
DIV.clsDocBody
{
    FONT-SIZE: 75%;
    FONT-FAMILY: 宋体, 楷体_GB2312, verdana, arial, helvetica, sans-serif
}
DIV.clsDocBody TD
{
    FONT-SIZE: 70%
}
DIV.clsDocBody TH
{
    FONT-SIZE: 70%
}
DIV.clsDocBody SELECT
{
    FONT-SIZE: 80%;
    FONT-FAMILY: 宋体, 楷体_GB2312, verdana, arial, helvetica, sans-serif
}
IMG.clsMoreImg
{
    MARGIN-TOP: 5px
}
IMG.clsImgButton
{
    MARGIN-TOP: 2px;
    CURSOR: hand
}
INPUT.clsButton
{
    FONT-WEIGHT: bold
}
.ie4footer
{
    FONT-WEIGHT: bold;
    LEFT: -160px;
    WIDTH: 130px;
    COLOR: black;
    POSITION: absolute;
    TOP: 400px
}
.footer
{
    FONT-WEIGHT: bold;
    LEFT: 18px;
    WIDTH: 130px;
    COLOR: black;
    POSITION: absolute;
    TOP: 468px
}
.footer A:link
{
    COLOR: #ffaa57
}
.footer A:visited
{
    COLOR: #ffaa57
}
.footer A:active
{
    COLOR: white
}
.footer A:hover
{
    COLOR: white
}
.link-title
{
    MARGIN-TOP: 0.5em;
    FONT-WEIGHT: bold
}
.link-description
{
    FONT-SIZE: xx-small;
    MARGIN-LEFT: 2em
}
.main
{
    LEFT: 80px;
    POSITION: absolute;
    TOP: 80px
}
.clsTocHead
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 110%;
    COLOR: #003399;
    LINE-HEIGHT: 110%;
    FONT-STYLE: normal;
    FONT-VARIANT: normal
}
DIV.clsTocHead
{
    MARGIN-TOP: 2px;
    CURSOR: hand
}
DIV.clsTocItem DIV
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 95%;
    PADDING-BOTTOM: 4px;
    COLOR: #336699;
    LINE-HEIGHT: 120%;
    FONT-STYLE: normal;
    FONT-VARIANT: normal
}
DIV.clsTocItem1
{
    MARGIN-TOP: 5px;
    PADDING-BOTTOM: 4px
}
TD.clsLNSubItems DIV
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 95%;
    LINE-HEIGHT: 115%;
    FONT-STYLE: normal;
    FONT-VARIANT: normal
}
P.clsFeatureTabText
{
    FONT-SIZE: 100%;
    LINE-HEIGHT: 170%
}
P.clsFeatureTabText SPAN
{
    FONT-SIZE: 125%;
    LINE-HEIGHT: 130%
}
P.clsFeatureText
{
    FONT-SIZE: 100%;
    LINE-HEIGHT: 140%
}
P.clsFeatureText SPAN
{
    FONT-SIZE: 125%;
    LINE-HEIGHT: 130%
}
P.clsFeatureText SPAN.PD
{
    FONT-SIZE: 100%;
    LINE-HEIGHT: 130%
}
SPAN.clsLeftNavDot
{
    FONT-SIZE: 115%;
    COLOR: red;
    LINE-HEIGHT: 1.3
}
TD.clsLND
{
    FONT-SIZE: 115%;
    COLOR: red;
    LINE-HEIGHT: 1.3
}
SPAN.clsCatHeader
{
    PADDING-RIGHT: 1px;
    PADDING-LEFT: 1px;
    PADDING-BOTTOM: 1px;
    COLOR: #ffffff;
    PADDING-TOP: 1px;
    HEIGHT: 1em;
    BACKGROUND-COLOR: #cccccc
}
SPAN.clsBodyTxt
{
    FONT-SIZE: 100%
}
FONT.clsSmallBodyTxt
{
    FONT-SIZE: 100%
}
SPAN.story
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 100%;
    LINE-HEIGHT: 140%;
    FONT-STYLE: normal;
    FONT-VARIANT: normal
}
SPAN.st
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 100%;
    LINE-HEIGHT: 140%;
    FONT-STYLE: normal;
    FONT-VARIANT: normal
}
SPAN.category
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 75%;
    COLOR: #ffffff;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    FONT-VARIANT: normal
}
SPAN.pubdate
{
    COLOR: #999999
}
SPAN.pd
{
    COLOR: #999999
}
.userData
{
    BEHAVIOR: url(#default#userdata)
}
.selected
{
    BORDER-RIGHT: medium none;
    PADDING-RIGHT: 2px;
    BORDER-TOP: medium none;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 2px;
    MARGIN: 2px;
    BORDER-LEFT: medium none;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: medium none;
    BACKGROUND-COLOR: #ffff00;
    TEXT-ALIGN: left
}
.seltd
{
    BORDER-RIGHT: medium none;
    PADDING-RIGHT: 2px;
    BORDER-TOP: medium none;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 2px;
    MARGIN: 2px;
    BORDER-LEFT: medium none;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: medium none;
    BACKGROUND-COLOR: #c89632;
    TEXT-ALIGN: left
}
.explain
{
    BORDER-RIGHT: 0px;
    FONT-SIZE: 9pt;
    BORDER-LEFT: 0px;
    BACKGROUND-COLOR: #f7f7ff
}
.ExplainTitleText
{
	FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    COLOR: darkblue;
    FONT-FAMILY: 隶书,TAHOMA,宋体, 楷体_GB2312, verdana, arial, helvetica, sans-serif;
    BACKGROUND-IMAGE: url(../../images/topbk.gif);
    TEXT-ALIGN: center
}
.ExplainText
{
    HEIGHT:20px;
    Padding:0px;
    COLOR: darkblue;
    FONT-STYLE: normal;
    FONT-FAMILY: TAHOMA, 宋体, 楷体_GB2312, verdana, arial, helvetica, sans-serif;
    BACKGROUND-IMAGE: url(../../images/topbk.gif);
    TEXT-ALIGN: center
}
.AlertText
{
    FONT-SIZE: 12pt;
    COLOR: red;
    FONT-FAMILY: 宋体, 楷体_GB2312, verdana, arial, helvetica, sans-serif;
    TEXT-ALIGN: center
}
.imageTable
{
    FONT-SIZE: 12pt;
    BACKGROUND-IMAGE: url(..\images\backgrounds\tableback.gif);
    COLOR: black;
    BACKGROUND-REPEAT: no-repeat;
    FONT-FAMILY: "Arial";
    BACKGROUND-COLOR: #fdfcfd
}
.purpleTdTable
{
    BORDER-RIGHT: #636bb5 1px;
    BORDER-TOP: #636bb5 1px;
    BORDER-LEFT: #636bb5 1px;
    BORDER-BOTTOM: #636bb5 1px
}
.purpleTd
{
    FONT-SIZE: 9pt;
    FONT-STYLE: normal;
    BACKGROUND-COLOR: #DDE1F0;
    TEXT-ALIGN: center;
    width:100px
}
.bgColorTd
{
    BORDER-RIGHT: medium none;
    PADDING-RIGHT: 2px;
    BORDER-TOP: medium none;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 2px;
    MARGIN: 2px;
    BORDER-LEFT: medium none;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: 宋体, 楷体_GB2312, verdana, arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #e7f2ff;
    TEXT-ALIGN: left
}
.bigTd
{
    FONT-SIZE: 12pt;
    COLOR: black;
    FONT-FAMILY: 宋体, 楷体_GB2312, verdana, arial, helvetica, sans-serif
}
.smallTd
{
    FONT-SIZE: 9pt;
    COLOR: black
}
.dynamicTd
{
    FONT-SIZE: 18pt;
    BACKGROUND-IMAGE: url(../../images/backgrounds/labelback.gif);
    VERTICAL-ALIGN: top;
    COLOR: black;
    FONT-FAMILY: 宋体, 楷体_GB2312, verdana, arial, helvetica, sans-serif;
    HEIGHT: 1.1cm;
    TEXT-ALIGN: center
}
.grayTh
{
    BORDER-RIGHT: #c0c0c0 1px;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #c0c0c0 1px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 9pt;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: #c0c0c0 1px;
    COLOR: black;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #c0c0c0 1px;
    BACKGROUND-COLOR: silver
}
.simpleTh
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    BACKGROUND-COLOR: #f7f7ff;
    TEXT-ALIGN: center
}
.tableTitle
{
    BORDER-RIGHT: black 1px outset;
    BORDER-TOP: white 1px outset;
    BACKGROUND-IMAGE: url(..\images\backgrounds\back7.gif);
    MARGIN: 0px;
    BORDER-LEFT: white 1px outset;
    CURSOR: hand;
    COLOR: #004080;
    BORDER-BOTTOM: black 1px outset;
    TEXT-ALIGN: center
}
.infoId
{
    BORDER-RIGHT: black 1px outset;
    BORDER-TOP: white 1px outset;
    BACKGROUND-IMAGE: url(..\images\backgrounds\back7.gif);
    MARGIN: 0px;
    BORDER-LEFT: white 1px outset;
    COLOR: #004080;
    BORDER-BOTTOM: black 1px outset;
    TEXT-ALIGN: center
}
.clickTitle
{
    BORDER-RIGHT: white 1px inset;
    BORDER-TOP: black 1px inset;
    BACKGROUND-IMAGE: url(..\images\backgrounds\back7.gif);
    BORDER-LEFT: black 1px inset;
    CURSOR: hand;
    COLOR: #ffffff;
    BORDER-BOTTOM: white 1px inset;
    TEXT-ALIGN: center
}
.HighLight
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    CURSOR: hand;
    COLOR: #ffffff;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    BACKGROUND-COLOR: #000080;
    FONT-VARIANT: normal
}
.UnHighLight
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    CURSOR: hand;
    COLOR: #000000;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    BACKGROUND-COLOR: #c0c0c0;
    FONT-VARIANT: normal
}
.ChristmasTree
{
    FONT-SIZE: 9pt;
    CURSOR: hand
}
.popMenu
{
    BORDER-RIGHT: thin outset;
    PADDING-RIGHT: 1px;
    BORDER-TOP: thin outset;
    PADDING-LEFT: 1px;
    FONT-SIZE: 9pt;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: thin outset;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: thin outset;
    POSITION: absolute;
    BACKGROUND-COLOR: #f1f1f1
}
.MenuItem
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    COLOR: black;
    PADDING-TOP: 3px;
    HEIGHT: 14pt
}
#cpyrt A
{
    COLOR: #000000
}
#cpyrt A:hover
{
    COLOR: #003399
}
#content
{
    FONT-SIZE: x-small;
    PADDING-BOTTOM: 2em
}
#custLink A:visited
{
    COLOR: #003399
}
#frmSearch A:visited
{
    COLOR: #003399
}
#frmViews A:visited
{
    COLOR: #003399
}
#links
{
    LEFT: 45px;
    POSITION: absolute;
    TOP: 158px
}
#links A:link
{
    COLOR: #4e4887;
    TEXT-DECORATION: none
}
#links A:visited
{
    COLOR: #4e4887;
    TEXT-DECORATION: none
}
#links A:active
{
    COLOR: white
}
#links A:hover
{
    COLOR: white
}
#mSubscr A:visited
{
    COLOR: #003399
}
#mDevSupport A:visited
{
    COLOR: #003399
}
UL
{
    MARGIN-TOP: 5px;
    MARGIN-LEFT: 15px;
    CURSOR: default;
    MARGIN-RIGHT: 15px
}
LI
{
    MARGIN-TOP: 0px;
    MARGIN-BOTTOM: 0px;
    VERTICAL-ALIGN: middle;
    LIST-STYLE-TYPE: none
}
OL
{
    MARGIN-TOP: 0.5em
}
