<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>


    <!--NBProducts-DAO START-->
    <bean id="nbproductsDao" class="com.boco.eoms.sheet.nbproducts.dao.hibernate.NBProductsDaoHibernate"
          autowire="byName"/>
    <bean id="INBProductsJdbc" class="com.boco.eoms.sheet.nbproducts.dao.hibernate.NBProductsJdbcImpl"
          autowire="byName"/>
    <!--NBProducts-DAO END-->
    <!--NBProducts-START-->
    <bean id="INBProductsManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.sheet.nbproducts.service.impl.NBProductsManagerImpl">
                <property name="nbproductsDao" ref="nbproductsDao"/>
                <property name="nproductsJdbc" ref="INBProductsJdbc"/>
            </bean>
        </property>
    </bean>
    <!--NBProducts-END-->
</beans>




