<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <!--ITRequirement-START-->

    <bean id="IITRequirementMainDAO"
          class="com.boco.eoms.sheet.itrequirement.dao.hibernate.ITRequirementMainDAOHibernate" autowire="byName">
    </bean>
    <bean id="IITRequirementLinkDAO"
          class="com.boco.eoms.sheet.itrequirement.dao.hibernate.ITRequirementLinkDAOHibernate" autowire="byName">
    </bean>
    <bean id="IITRequirementTaskDAO"
          class="com.boco.eoms.sheet.itrequirement.dao.hibernate.ITRequirementTaskDAOHibernate" autowire="byName">
    </bean>
    <bean id="ITRequirementTask"
          class="com.boco.eoms.sheet.itrequirement.model.ITRequirementTask" autowire="byName">
    </bean>
    <bean id="ITRequirementLink"
          class="com.boco.eoms.sheet.itrequirement.model.ITRequirementLink"
          autowire="byName"/>
    <bean id="ITRequirementMain"
          class="com.boco.eoms.sheet.itrequirement.model.ITRequirementMain"
          autowire="byName"/>
    <bean id="iitrequirementTask"
          class="com.boco.eoms.sheet.itrequirement.task.impl.ITRequirementTaskImpl"
          autowire="byName"/>
    <bean id="iitrequirementTaskManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.itrequirement.service.impl.ITRequirementTaskManagerImpl">
                <property name="taskModelObject" ref="ITRequirementTask"/>
                <property name="taskDAO">
                    <ref bean="IITRequirementTaskDAO"/>
                </property>
                <property name="taskConfigPath">
                    <value>/config/itrequirementTaskConfig.properties</value>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iITRequirementFlowManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.itrequirement.service.impl.ITRequirementFlowManagerImpl">
                <property name="businessFlowAdapterService">
                    <ref bean="BusinessFlowAdapterService"/>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iITRequirementLinkManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.itrequirement.service.impl.ITRequirementLinkManagerImpl">
                <property name="linkObject" ref="ITRequirementLink"/>
                <property name="linkDAO">
                    <ref bean="IITRequirementLinkDAO"/>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iITRequirementMainManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.itrequirement.service.impl.ITRequirementMainManagerImpl">
                <property name="mainObject" ref="ITRequirementMain"/>
                <property name="mainDAO">
                    <ref bean="IITRequirementMainDAO"/>
                </property>
                <property name="workSheetQO">
                    <ref bean="iITRequirementQo"/>
                </property>
                <property name="flowTemplateName">
                    <value>ITRequirementProcess</value>
                </property>
                <property name="roleConfigPath">
                    <value>classpath:config/itrequirement-config.xml</value>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="iITRequirementQo"
          class="com.boco.eoms.sheet.itrequirement.qo.impl.ITRequirementQoImpl"
          autowire="byName" singleton="false">
        <property name="poMain" value="ITRequirementMain"/>
        <property name="poLink" value="ITRequirementLink"/>
        <property name="aliasMain" value="iTRequirementMain"/>
        <property name="aliasLink" value="iTRequirementLink"/>
        <property name="poTask" value="ITRequirementTask"/>
        <property name="aliasTask" value="iTRequirementTask"/>
    </bean>

    <bean id="ITRequirement" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.itrequirement.webapp.action.ITRequirementMethod">
                <property name="businessFlowService">
                    <ref bean="iITRequirementFlowManager"/>
                </property>
                <property name="linkService"
                          ref="iITRequirementLinkManager"/>
                <property name="mainService"
                          ref="iITRequirementMainManager"/>
                <property name="sheetTask"
                          ref="ITRequirementTask"/>
                <property name="taskService"
                          ref="iitrequirementTaskManager"/>
                <property name="pageLength">
                    <value>15</value>
                </property>
                <property name="roleConfigPath">
                    <value>classpath:config/itrequirement-config.xml</value>
                </property>
            </bean>
        </property>
    </bean>
    <!--ITRequirement-END-->
</beans>
