<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <!--TawCommonMessageOpertype-DAO START-->
    <bean id="tawSystemCptroomDao"
          class="com.boco.eoms.commons.system.cptroom.dao.hibernate.TawSystemCptroomDaoHibernate" autowire="byName"/>
    <!--TawCommonMessageOpertype-DAO END-->
    <!--TawCommonMessageOpertype-START-->
    <bean id="ItawSystemCptroomManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.commons.system.cptroom.service.impl.TawSystemCptroomManagerImpl">
                <property name="tawSystemCptroomDao" ref="tawSystemCptroomDao"/>
            </bean>
        </property>
    </bean>
    <!--TawCommonMessageOpertype-END-->

</beans>
















