<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="NetChangeLink"
		class="com.boco.eoms.sheet.netchange.model.NetChangeLink"
		autowire="byName" />
	<bean id="NetChangeMain"
		class="com.boco.eoms.sheet.netchange.model.NetChangeMain"
		autowire="byName" />
	
	<bean id="iNetChangeTask"
		class="com.boco.eoms.sheet.netchange.task.impl.NetChangeTaskImpl"
		autowire="byName" />

	<bean id="NetChangeTask"
		class="com.boco.eoms.sheet.netchange.task.impl.NetChangeTask"
		autowire="byName" />
		
	<bean id="iNetChangeTaskManager" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.netchange.service.impl.NetChangeTaskManagerImpl">
				<property name="taskModelObject" ref="NetChangeTask" />
				<property name="taskDAO">
					<ref bean="iNetChangeTaskDAO" />
				</property>
				<property name="taskConfigPath">
			       <value>/config/netchangeTaskConfig.properties</value>
		        </property>				
			</bean>
		</property>
	</bean>		
	<bean id="iNetChangeLinkManager" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.netchange.service.impl.NetChangeLinkManagerImpl">
				<property name="linkObject" ref="NetChangeLink"/>
				<property name="linkDAO">
				  <ref bean="INetChangeLinkDao"/>
				</property>
			</bean>
		</property>
	</bean>
	<bean id="iNetChangeMainManager" parent="txProxyTemplate">
	<property name="target">
	  
			<bean
				class="com.boco.eoms.sheet.netchange.service.impl.NetChangeMainManagerImpl">
			    <property name="mainObject" ref="NetChangeMain" />
				<property name="mainDAO">
				 <ref bean="INetChangeMainDao" />
				 </property>
				 <property name="workSheetQO">
					<ref bean="iNetChangeQo" />
				</property>
				 <property name="flowTemplateName">
					<value>NetChangeMainProcess</value>
				</property>
				<property name="roleConfigPath">
					<value>classpath:config/netchange-config.xml</value>
				</property>
			</bean>
		</property>
	</bean> 

   <bean id="iNetChangeQo"
		class="com.boco.eoms.sheet.netchange.qo.impl.NetChangeQoImpl"
		autowire="byName" singleton="false" >
		<property name="poMain" value="NetChangeMain" />
		<property name="poLink" value="NetChangeLink" />
		<property name="aliasMain" value="netChangeMain" />
		<property name="aliasLink" value="netChangeLink" />
		<property name="poTask" value="NetChangeTask" />
	    <property name="aliasTask" value="netChangeTask" />			
	</bean>
   
	<bean id="iNetChangeFlowManager" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.netchange.service.impl.NetChangeFlowManagerImpl">
				<property name="businessFlowAdapterService">
					<ref bean="BusinessFlowAdapterService" />
				</property>
			</bean>
		</property>
	</bean>

	<bean id="NetChange" parent="txProxyTemplate"> 
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.netchange.webapp.action.NetChangeSheetMethod">
			   <property name="businessFlowService" >
					<ref bean="iNetChangeFlowManager" />
			   </property>
				<property name="linkService" 
					ref="iNetChangeLinkManager" />
				<property name="mainService"
					ref="iNetChangeMainManager" />
				<property name="sheetTask"
					ref="NetChangeTask" />
				<property name="taskService"
					ref="iNetChangeTaskManager" />	
				<property name="pageLength">
					<value>15</value>
				</property>
				<property name="roleConfigPath">
					<value>classpath:config/netchange-config.xml</value>
				</property>
			</bean>
		</property>
	</bean>
	
	<bean id="p2pService"
		class="com.boco.eoms.prm.service.impl.Pojo2PojoServiceImpl">
		<property name="values">
			<list>
				<bean class="com.boco.eoms.prm.model.P2P">
					<property name="name"><value>mainNetSortOne</value></property>
					<property name="toName"><value>mainNetSortOne</value></property>
					<property name="type"><value>java.lang.String</value></property>
				</bean>
				<bean class="com.boco.eoms.prm.model.P2P">
					<property name="name"><value>mainNetSortTwo</value></property>
					<property name="toName"><value>mainNetSortTwo</value></property>
					<property name="type"><value>java.lang.String</value></property>					
				</bean>
				<bean class="com.boco.eoms.prm.model.P2P">
					<property name="name"><value>mainNetSortThree</value></property>
					<property name="toName"><value>mainNetSortThree</value></property>
					<property name="type"><value>java.lang.String</value></property>					
				</bean>
				<bean class="com.boco.eoms.prm.model.P2P">
					<property name="name"><value>mainEquipmentFactory</value></property>
					<property name="toName"><value>mainEquipmentFactory</value></property>
					<property name="type"><value>java.lang.String</value></property>					
				</bean>
				
			</list>
		</property>
	</bean>	
</beans>





















