<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>


    <bean id="IEquipmentInstallationMainDAO"
		class="com.boco.eoms.sheet.equipmentinstallation.dao.hibernate.EquipmentInstallationMainDAOHibernate" autowire="byName">
      </bean>
	<bean id="IEquipmentInstallationLinkDAO"
		class="com.boco.eoms.sheet.equipmentinstallation.dao.hibernate.EquipmentInstallationLinkDAOHibernate" autowire="byName">
     </bean>
     <bean id="IEquipmentInstallationTaskDAO"
		class="com.boco.eoms.sheet.equipmentinstallation.dao.hibernate.EquipmentInstallationTaskDAOHibernate" autowire="byName">
     </bean>
     <bean id="EquipmentInstallationTask"
		class="com.boco.eoms.sheet.equipmentinstallation.model.EquipmentInstallationTask" autowire="byName">
     </bean>
    <bean id="EquipmentInstallationLink"
		class="com.boco.eoms.sheet.equipmentinstallation.model.EquipmentInstallationLink"
		autowire="byName" />
	<bean id="EquipmentInstallationMain"
		class="com.boco.eoms.sheet.equipmentinstallation.model.EquipmentInstallationMain"
		autowire="byName" />
	<bean id="iEquipmentInstallationTaskManager" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.equipmentinstallation.service.impl.EquipmentInstallationTaskManagerImpl">
				<property name="taskModelObject" ref="EquipmentInstallationTask" />
				<property name="taskDAO">
					<ref bean="IEquipmentInstallationTaskDAO" />
				</property>
				<property name="taskConfigPath">
			       <value>/config/equipmentinstallationTaskConfig.properties</value>
		        </property>				
			</bean>
		</property>
	</bean>	
	<bean id="iEquipmentInstallationFlowManager" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.equipmentinstallation.service.impl.EquipmentInstallationFlowManagerImpl">
				<property name="businessFlowAdapterService">
					<ref bean="BusinessFlowAdapterService" />
				</property>
			</bean>
		</property>
	</bean>
	<bean id="iEquipmentInstallationLinkManager" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.equipmentinstallation.service.impl.EquipmentInstallationLinkManagerImpl">
				<property name="linkObject" ref="EquipmentInstallationLink"/>
				<property name="linkDAO">
				  <ref bean="IEquipmentInstallationLinkDAO"/>
				</property>
			</bean>
		</property>
	</bean>
	<bean id="iEquipmentInstallationMainManager" parent="txProxyTemplate">
	<property name="target">
			<bean
				class="com.boco.eoms.sheet.equipmentinstallation.service.impl.EquipmentInstallationMainManagerImpl">
			    <property name="mainObject" ref="EquipmentInstallationMain" />
				<property name="mainDAO">
				 <ref bean="IEquipmentInstallationMainDAO" />
				 </property>
				 <property name="workSheetQO">
					<ref bean="iEquipmentInstallationQo" />
				</property>
				 <property name="flowTemplateName">
					<value>EquipmentInstallation</value>
				</property>
				<property name="roleConfigPath">
					<value>classpath:config/equipmentinstallation-config.xml</value>
				</property>
			</bean>
		</property>
	</bean> 

   <bean id="iEquipmentInstallationQo"
		class="com.boco.eoms.sheet.equipmentinstallation.qo.impl.EquipmentInstallationQoImpl"
		autowire="byName" singleton="false" >
		<property name="poMain" value="EquipmentInstallationMain" />
		<property name="poLink" value="EquipmentInstallationLink" />
		<property name="poTask" value="EquipmentInstallationTask" />
		<property name="aliasMain" value="equipmentinstallationMain" />
		<property name="aliasLink" value="equipmentinstallationLink" />
		<property name="aliasTask" value="equipmentinstallationTask" />

	</bean>

	<bean id="EquipmentInstallation" parent="txProxyTemplate"> 
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.equipmentinstallation.webapp.action.EquipmentInstallationMethod">
				<property name="businessFlowService" >
					<ref bean="iEquipmentInstallationFlowManager" />
			   </property>
				<property name="linkService" 
					ref="iEquipmentInstallationLinkManager" />
				<property name="mainService"
					ref="iEquipmentInstallationMainManager" />
				<property name="sheetTask"
					ref="EquipmentInstallationTask" />
				<property name="taskService"
					ref="iEquipmentInstallationTaskManager" />	
				<property name="pageLength">
					<value>15</value>
				</property>
				<property name="roleConfigPath">
					<value>classpath:config/equipmentinstallation-config.xml</value>
				</property>
			</bean>
		</property>
	</bean>        

</beans>