<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <!--TawWorkdaySet-DAO START-->
    <bean id="tawWorkdaySetDao" class="com.boco.eoms.commons.workdayset.dao.hibernate.TawWorkdaySetDaoHibernate"
          autowire="byName"/>
    <!--TawWorkdaySet-DAO END-->
    <!--TawWorkdaySet-START-->
    <bean id="tawWorkdaySetManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.commons.workdayset.service.impl.TawWorkdaySetManagerImpl">
                <property name="tawWorkdaySetDao" ref="tawWorkdaySetDao"/>
            </bean>
        </property>
    </bean>

    <!--TawWorkdaySet-END-->
</beans>




































