<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean id="roleIdList"
          class="com.boco.eoms.partner.baseinfo.util.RoleIdList">
        <property name="provinceAdminRoleId">
            <value>387</value>
        </property>
        <property name="areaAdminRoleId">
            <value>388</value>
        </property>
        <property name="userRoleId">
            <value>386</value>
        </property>

    </bean>
</beans>








