<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

   
    <bean id="taskplanDao" class="com.boco.eoms.taskplan.dao.hibernate.TaskplanDaoHibernate" autowire="byName"/>
    <bean id="displayDao" class="com.boco.eoms.taskplan.dao.jdbc.DisplayDaoJdbc" autowire="byName"/>
      
    <bean id="ItaskplanManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.taskplan.service.impl.TaskplanManagerImpl">
                <property name="taskplanDao" ref="taskplanDao"/>
            </bean>
        </property>
    </bean>
    
    <bean id="taskplanqueryDao" class="com.boco.eoms.taskplan.dao.hibernate.TaskplanqueryDaoHibernate" autowire="byName"/>
    
    
     
</beans>

  

