<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
 <!--BusinessImplementYY-START-->    

    <bean id="IBusinessImplementYYMainDAO"
		class="com.boco.eoms.sheet.businessimplementyy.dao.hibernate.BusinessImplementYYMainDAOHibernate" autowire="byName">
      </bean>
	<bean id="IBusinessImplementYYLinkDAO"
		class="com.boco.eoms.sheet.businessimplementyy.dao.hibernate.BusinessImplementYYLinkDAOHibernate" autowire="byName">
     </bean>
     <bean id="IBusinessImplementYYTaskDAO"
		class="com.boco.eoms.sheet.businessimplementyy.dao.hibernate.BusinessImplementYYTaskDAOHibernate" autowire="byName">
     </bean>
     <bean id="BusinessImplementYYTask"
		class="com.boco.eoms.sheet.businessimplementyy.model.BusinessImplementYYTask" autowire="byName">
     </bean>
    <bean id="BusinessImplementYYLink"
		class="com.boco.eoms.sheet.businessimplementyy.model.BusinessImplementYYLink"
		autowire="byName" />
	<bean id="BusinessImplementYYMain"
		class="com.boco.eoms.sheet.businessimplementyy.model.BusinessImplementYYMain"
		autowire="byName" />
	<bean id="iBusinessImplementYYTask"
		class="com.boco.eoms.sheet.businessimplementyy.task.impl.BusinessImplementYYTaskImpl"
		autowire="byName" />
	<bean id="iBusinessImplementYYTaskManager" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.businessimplementyy.service.impl.BusinessImplementYYTaskManagerImpl">
				<property name="taskModelObject" ref="BusinessImplementYYTask" />
				<property name="taskDAO">
					<ref bean="IBusinessImplementYYTaskDAO" />
				</property>
				<property name="taskConfigPath">
					<value>/config/businessimplementyyConfig.properties</value>
				</property>
			</bean>
		</property>
	</bean>	
	<bean id="iBusinessImplementYYFlowManager" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.businessimplementyy.service.impl.BusinessImplementYYFlowManagerImpl">
				<property name="businessFlowAdapterService">
					<ref bean="BusinessFlowAdapterService" />
				</property>
			</bean>
		</property>
	</bean>
	<bean id="iBusinessImplementYYLinkManager" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.businessimplementyy.service.impl.BusinessImplementYYLinkManagerImpl">
				<property name="linkObject" ref="BusinessImplementYYLink"/>
				<property name="linkDAO">
				  <ref bean="IBusinessImplementYYLinkDAO"/>
				</property>
			</bean>
		</property>
	</bean>
	<bean id="iBusinessImplementYYMainManager" parent="txProxyTemplate">
	<property name="target">
			<bean
				class="com.boco.eoms.sheet.businessimplementyy.service.impl.BusinessImplementYYMainManagerImpl">
			    <property name="mainObject" ref="BusinessImplementYYMain" />
				<property name="mainDAO">
				 <ref bean="IBusinessImplementYYMainDAO" />
				 </property>
				 <property name="workSheetQO">
					<ref bean="iBusinessImplementYYQo" />
				</property>
				 <property name="flowTemplateName">
					<value>BusinessImplementYYProcess</value>
				</property>
				<property name="roleConfigPath">
					<value>classpath:config/businessimplementyy-config.xml</value>
				</property>				
			</bean>
		</property>
	</bean> 

   <bean id="iBusinessImplementYYQo"
		class="com.boco.eoms.sheet.businessimplementyy.qo.impl.BusinessImplementYYQoImpl"
		autowire="byName" singleton="false" >
		<property name="poMain" value="BusinessImplementYYMain" />
		<property name="poLink" value="BusinessImplementYYLink" />
		<property name="aliasMain" value="BusinessImplementYYMain" />
		<property name="aliasLink" value="BusinessImplementYYLink" />
		<property name="poTask" value="BusinessImplementYYTask" />
	    <property name="aliasTask" value="BusinessImplementYYTask" />			
	</bean>

	<bean id="BusinessImplementYY" parent="txProxyTemplate"> 
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.businessimplementyy.webapp.action.BusinessImplementYYMethod">
				<property name="businessFlowService" >
					<ref bean="iBusinessImplementYYFlowManager" />
			   </property>
				<property name="linkService" 
					ref="iBusinessImplementYYLinkManager" />
				<property name="mainService"
					ref="iBusinessImplementYYMainManager" />
				<property name="sheetTask"
					ref="BusinessImplementYYTask" />
				<property name="taskService"
					ref="iBusinessImplementYYTaskManager" />	
				<property name="pageLength">
					<value>15</value>
				</property>
				<property name="roleConfigPath">
					<value>classpath:config/businessimplementyy-config.xml</value>
				</property>
			</bean>
		</property>
	</bean>        
	<bean id="iBusinessImplementYYCrmService" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.businessimplementyy.service.impl.BusinessImplementYYCrmManagerImpl">
			</bean>
		</property>
	</bean>
	
	<bean id="iBusinessImplementYYInterfaceManager" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.businessimplementyy.service.impl.BusinessImplementYYInterfaceManagerImpl">
			</bean>
		</property>
	</bean>
     <!--BusinessImplementYY-END-->  
</beans>
