<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<bean id="roleCache"
		class="org.springframework.cache.ehcache.EhCacheFactoryBean">
		<property name="cacheManager">
			<ref bean="appCacheManager" />
		</property>
		<property name="cacheName">
			<value>com.boco.eoms.commons.system.role.ROLE_CATCH</value>
		</property>
		<!-- 若ehcache.xml没有chacheName相关配置，则使用下面配置 -->
		<property name="maxElementsInMemory">
			<value>100001</value>
		</property>
		<property name="overflowToDisk">
			<value>true</value>
		</property>
		<property name="eternal">
			<value>true</value>
		</property>
		<property name="timeToLive">
			<value>600</value>
		</property>
		<property name="timeToIdle">
			<value>600</value>
		</property>
		<property name="diskPersistent">
			<value>false</value>
		</property>
		<property name="diskExpiryThreadIntervalSeconds">
			<value>120</value>
		</property>

	</bean>

    
    
	<bean id="roleCacheInterceptor"
		class="com.boco.eoms.commons.cache.support.MethodCacheInterceptor">
		<property name="cache">
			<ref local="roleCache" />
		</property>
	</bean>

	<bean id="roleCachePointCut"
		class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
		<property name="advice">
			<ref local="roleCacheInterceptor" />
		</property>
		<property name="patterns">
			<list>
				<value>.*get*</value>
			</list>
		</property>
	</bean>


	<bean id="roleBaseCacheProxy"
		class="org.springframework.aop.framework.ProxyFactoryBean"
		abstract="true">
		<property name="interceptorNames">
			<list>
				<value>roleCachePointCut</value>
				<value>txInterceptor</value>
			</list>
		</property>
	</bean>

	<!-- 自动更新缓存 -->
	<bean id="roleFlushCachePointCut"
		class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
		<property name="advice">
			<ref local="roleFlushCacheInterceptor" />
		</property>
		<property name="patterns">
			<list>
				<value>.*save*</value>
				<value>.*remove*</value>
				<value>.*create*</value>
				<value>.*delete*</value>
			</list>
		</property>
	</bean>

	<bean id="roleFlushCacheInterceptor"
		class="com.boco.eoms.commons.cache.support.MethodFlushCacheInterceptor">
		<property name="cache">
			<ref local="roleCache" />
		</property>
		<property name="method">
			<props>
				<prop
					key="com.boco.eoms.commons.system.role.service.ITawSystemRoleManager.saveTawSystemRole">
					RoleCacheKeyCallback
				</prop>		
				<prop
					key="com.boco.eoms.commons.system.role.service.ITawSystemRoleManager.removeTawSystemRole">
					RoleCacheKeyCallback
				</prop>	
			</props>
		</property>
	</bean>

	<bean id="roleBaseFlushCacheProxy"
		class="org.springframework.aop.framework.ProxyFactoryBean"
		abstract="true">
		<property name="interceptorNames">
			<list>
				<value>roleFlushCachePointCut</value>
				<value>txInterceptor</value>
			</list>
		</property>
	</bean>
	
	
	<bean id="RoleCacheKeyCallback"
		class="com.boco.eoms.commons.system.role.cache.RoleCacheKeyCallback" />

	<bean id="ItawSystemRoleManagerFlush"
		parent="roleBaseFlushCacheProxy">
		<property name="target">
			<bean
				class="com.boco.eoms.commons.system.role.service.impl.TawSystemRoleManagerImpl">
				<property name="tawSystemRoleDao" ref="tawSystemRoleDao"/>
                <property name="userRoleDao" ref="tawSystemUserRefRoleDao"/>
			</bean>
		</property>
	</bean>
	<bean id="ItawSystemRoleSaveManagerFlush"
		parent="roleBaseCacheProxy">
		<property name="target">
			<bean
				class="com.boco.eoms.commons.system.role.service.impl.TawSystemRoleManagerImpl">
				<property name="tawSystemRoleDao" ref="tawSystemRoleDao"/>
                <property name="userRoleDao" ref="tawSystemUserRefRoleDao"/>
			</bean>
		</property>
	</bean>
	
		<bean id="ImportRoleManager" parent="txProxyTemplate">
		<property name="target">
			<bean class="com.boco.eoms.commons.system.role.service.ImportRoleManager">
			</bean>
		</property>
	</bean>
	 
	
</beans>
