<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="mmsreportMgr" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.commons.mms.mmsreport.mgr.impl.MmsreportMgrImpl">
				<property name="mmsreportDao" ref="mmsreportDao" />
			</bean>
		</property>
	</bean>

	<bean id="mmsreportDao"
		class="com.boco.eoms.commons.mms.mmsreport.dao.hibernate.MmsreportDaoHibernate"
		autowire="byName" />
		

			<bean id="mmsreportTemplateMgr" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.commons.mms.mmsreporttemplate.mgr.impl.MmsreportTemplateMgrImpl">
				<property name="mmsreportTemplateDao" ref="mmsreportTemplateDao" />
			</bean>
		</property>
	</bean>

	<bean id="mmsreportTemplateDao"
		class="com.boco.eoms.commons.mms.mmsreporttemplate.dao.hibernate.MmsreportTemplateDaoHibernate"
		autowire="byName" />
		
		
	<bean id="msssubscribeMgr" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.commons.mms.msssubscribe.mgr.impl.MsssubscribeMgrImpl">
				<property name="msssubscribeDao" ref="msssubscribeDao" />
			</bean>
		</property>
	</bean>

	<bean id="msssubscribeDao"
		class="com.boco.eoms.commons.mms.msssubscribe.dao.hibernate.MsssubscribeDaoHibernate"
		autowire="byName" />
		
		
	<bean id="statreportMgr" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.commons.mms.statreport.mgr.impl.StatreportMgrImpl">
				<property name="statreportDao" ref="statreportDao" />
			</bean>
		</property>
	</bean>

	<bean id="statreportDao"
		class="com.boco.eoms.commons.mms.statreport.dao.hibernate.StatreportDaoHibernate"
		autowire="byName" />
</beans>









