<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="NetOptimizeLink"
		class="com.boco.eoms.sheet.netoptimize.model.NetOptimizeLink"
		autowire="byName" />
	<bean id="NetOptimizeMain"
		class="com.boco.eoms.sheet.netoptimize.model.NetOptimizeMain"
		autowire="byName" />
	
	<bean id="iNetOptimizeTask"
		class="com.boco.eoms.sheet.netoptimize.task.impl.NetOptimizeTaskImpl"
		autowire="byName" />

	<bean id="NetOptimizeTask"
		class="com.boco.eoms.sheet.netoptimize.task.impl.NetOptimizeTask"
		autowire="byName" />
		
	<bean id="iNetOptimizeTaskManager" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.netoptimize.service.impl.NetOptimizeTaskManagerImpl">
				<property name="taskModelObject" ref="NetOptimizeTask" />
				<property name="taskDAO">
					<ref bean="iNetOptimizeTaskDAO" />
				</property>
				<property name="taskConfigPath">
			       <value>/config/netOptimizeTaskConfig.properties</value>
		        </property>				
			</bean>
		</property>
	</bean>		
		
	<bean id="iNetOptimizeFlowManager" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.netoptimize.service.impl.NetOptimizeFlowManagerImpl">
				<property name="businessFlowAdapterService">
					<ref bean="BusinessFlowAdapterService" />
				</property>
			</bean>
		</property>
	</bean>
	<bean id="iNetOptimizeLinkManager" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.netoptimize.service.impl.NetOptimizeLinkManagerImpl">
				<property name="linkObject" ref="NetOptimizeLink"/>
				<property name="linkDAO">
				  <ref bean="INetOptimizeLinkDao"/>
				</property>
			</bean>
		</property>
	</bean>
	<bean id="iNetOptimizeMainManager" parent="txProxyTemplate">
	<property name="target">
	  
			<bean
				class="com.boco.eoms.sheet.netoptimize.service.impl.NetOptimizeMainManagerImpl">
			    <property name="mainObject" ref="NetOptimizeMain" />
				<property name="mainDAO">
				 <ref bean="INetOptimizeMainDao" />
				 </property>
				 <property name="workSheetQO">
					<ref bean="iNetOptimizeQo" />
				</property>
				 <property name="flowTemplateName">
					<value>NetOptimizeProcess</value>
				</property>
				<property name="roleConfigPath">
					<value>classpath:config/netOptimize-config.xml</value>
				</property>
			</bean>
		</property>
	</bean> 

   <bean id="iNetOptimizeQo"
		class="com.boco.eoms.sheet.netoptimize.qo.impl.NetOptimizeQoImpl"
		autowire="byName" singleton="false" >
		<property name="poMain" value="NetOptimizeMain" />
		<property name="poLink" value="NetOptimizeLink" />
		<property name="aliasMain" value="NetOptimizeMain" />
		<property name="aliasLink" value="NetOptimizeLink" />
		<property name="poTask" value="NetOptimizeTask" />
	    <property name="aliasTask" value="NetOptimizeTask" />
	</bean>
   


	<bean id="NetOptimize" parent="txProxyTemplate"> 
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.netoptimize.webapp.action.NetOptimizeSheetMethod">
				<property name="businessFlowService" >
					<ref bean="iNetOptimizeFlowManager" />
			   </property>
				<property name="linkService" 
					ref="iNetOptimizeLinkManager" />
				<property name="mainService"
					ref="iNetOptimizeMainManager" />
				<property name="sheetTask"
					ref="NetOptimizeTask" />
				<property name="taskService"
					ref="iNetOptimizeTaskManager" />	
				<property name="pageLength">
					<value>15</value>
				</property>
				<property name="roleConfigPath">
					<value>classpath:config/netOptimize-config.xml</value>
				</property>
			</bean>
		</property>
	</bean>	
</beans>





















