<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <!--BusinessDredgebroad-START-->

    <bean id="IBusinessDredgebroadMainDAO"
          class="com.boco.eoms.sheet.businessdredgebroad.dao.hibernate.BusinessDredgebroadMainDAOHibernate"
          autowire="byName">
    </bean>
    <bean id="IBusinessDredgebroadLinkDAO"
          class="com.boco.eoms.sheet.businessdredgebroad.dao.hibernate.BusinessDredgebroadLinkDAOHibernate"
          autowire="byName">
    </bean>
    <bean id="IBusinessDredgebroadTaskDAO"
          class="com.boco.eoms.sheet.businessdredgebroad.dao.hibernate.BusinessDredgebroadTaskDAOHibernate"
          autowire="byName">
    </bean>
    <bean id="BusinessDredgebroadTask"
          class="com.boco.eoms.sheet.businessdredgebroad.task.impl.BusinessDredgebroadTaskImpl" autowire="byName">
    </bean>
    <bean id="BusinessDredgebroadLink"
          class="com.boco.eoms.sheet.businessdredgebroad.model.BusinessDredgebroadLink"
          autowire="byName"/>
    <bean id="BusinessDredgebroadMain"
          class="com.boco.eoms.sheet.businessdredgebroad.model.BusinessDredgebroadMain"
          autowire="byName"/>
    <bean id="iBusinessDredgebroadTaskManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.businessdredgebroad.service.impl.BusinessDredgebroadTaskManagerImpl">
                <property name="taskModelObject" ref="BusinessDredgebroadTask"/>
                <property name="taskDAO">
                    <ref bean="IBusinessDredgebroadTaskDAO"/>
                </property>
                <property name="taskConfigPath">
                    <value>/config/commonTaskConfig.properties</value>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iBusinessDredgebroadFlowManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.businessdredgebroad.service.impl.BusinessDredgebroadFlowManagerImpl">
                <property name="businessFlowAdapterService">
                    <ref bean="BusinessFlowAdapterService"/>
                </property>

            </bean>
        </property>
    </bean>
    <bean id="iBusinessDredgebroadLinkManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.businessdredgebroad.service.impl.BusinessDredgebroadLinkManagerImpl">
                <property name="linkObject" ref="BusinessDredgebroadLink"/>
                <property name="linkDAO">
                    <ref bean="IBusinessDredgebroadLinkDAO"/>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iBusinessDredgebroadMainManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.businessdredgebroad.service.impl.BusinessDredgebroadMainManagerImpl">
                <property name="mainObject" ref="BusinessDredgebroadMain"/>
                <property name="mainDAO">
                    <ref bean="IBusinessDredgebroadMainDAO"/>
                </property>
                <property name="workSheetQO">
                    <ref bean="iBusinessDredgebroadQo"/>
                </property>
                <property name="flowTemplateName">
                    <value>BusinessDredgebroadMainFlowProcess</value>
                </property>
                <property name="roleConfigPath">
                    <value>classpath:config/businessdredgebroad-config.xml</value>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="iBusinessDredgebroadQo"
          class="com.boco.eoms.sheet.businessdredgebroad.qo.impl.BusinessDredgebroadQoImpl"
          autowire="byName" singleton="false">
        <property name="poMain" value="BusinessDredgebroadMain"/>
        <property name="poLink" value="BusinessDredgebroadLink"/>
        <property name="aliasMain" value="businessDredgeMain"/>
        <property name="aliasLink" value="businessDredgeLink"/>
        <property name="poTask" value="BusinessDredgebroadTaskImpl"/>
        <property name="aliasTask" value="businessDredgeTask"/>
    </bean>

    <bean id="BusinessDredgebroad" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.businessdredgebroad.webapp.action.BusinessDredgebroadMethod">
                <property name="businessFlowService">
                    <ref bean="iBusinessDredgebroadFlowManager"/>
                </property>
                <property name="linkService"
                          ref="iBusinessDredgebroadLinkManager"/>
                <property name="mainService"
                          ref="iBusinessDredgebroadMainManager"/>
                <property name="sheetTask"
                          ref="BusinessDredgebroadTask"/>
                <property name="taskService"
                          ref="iBusinessDredgebroadTaskManager"/>
                <property name="pageLength">
                    <value>15</value>
                </property>
                <property name="roleConfigPath">
                    <value>classpath:config/businessdredgebroad-config.xml</value>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iBusinessDredgebroadCrmService" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.businessdredgebroad.service.impl.BusinessDredgebroadCrmManagerImpl">
            </bean>
        </property>
    </bean>
    <bean id="iBusinessDredgebroadInterfaceManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.businessdredgebroad.service.impl.BusinessDredgebroadInterfaceManagerImpl">
            </bean>
        </property>
    </bean>
    <!--BusinessDredgebroad-END-->
</beans>
