<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="tawContractMgr" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.parter.baseinfo.contract.mgr.impl.TawContractMgrImpl">
				<property name="tawContractDao" ref="tawContractDao" />
			</bean>
		</property>
	</bean>

	<bean id="tawContractDao"
		class="com.boco.eoms.parter.baseinfo.contract.dao.hibernate.TawContractDaoHibernate"
		autowire="byName" />


</beans>









