<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
 <!--SecurityEvaluate-START-->    

    <bean id="ISecurityEvaluateMainDAO"
		class="com.boco.eoms.sheet.securityevaluate.dao.hibernate.SecurityEvaluateMainDAOHibernate" autowire="byName">
      </bean>
	<bean id="ISecurityEvaluateLinkDAO"
		class="com.boco.eoms.sheet.securityevaluate.dao.hibernate.SecurityEvaluateLinkDAOHibernate" autowire="byName">
     </bean>
     <bean id="ISecurityEvaluateTaskDAO"
		class="com.boco.eoms.sheet.securityevaluate.dao.hibernate.SecurityEvaluateTaskDAOHibernate" autowire="byName">
     </bean>
     <bean id="SecurityEvaluateTask"
		class="com.boco.eoms.sheet.securityevaluate.model.SecurityEvaluateTask" autowire="byName">
     </bean>
    <bean id="SecurityEvaluateLink"
		class="com.boco.eoms.sheet.securityevaluate.model.SecurityEvaluateLink"
		autowire="byName" />
	<bean id="SecurityEvaluateMain"
		class="com.boco.eoms.sheet.securityevaluate.model.SecurityEvaluateMain"
		autowire="byName" />
	<bean id="isecurityevaluateTask"
		class="com.boco.eoms.sheet.securityevaluate.task.impl.SecurityEvaluateTaskImpl"
		autowire="byName" />
	<bean id="isecurityevaluateTaskManager" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.securityevaluate.service.impl.SecurityEvaluateTaskManagerImpl">
				<property name="taskModelObject" ref="SecurityEvaluateTask" />
				<property name="taskDAO">
					<ref bean="ISecurityEvaluateTaskDAO" />
			 	</property>
			    <property name="taskConfigPath">
			       <value>/config/securityevaluateTaskConfig.properties</value>
		        </property>	
			</bean>
		</property>
	</bean>	
	<bean id="iSecurityEvaluateFlowManager" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.securityevaluate.service.impl.SecurityEvaluateFlowManagerImpl">
				<property name="businessFlowAdapterService">
					<ref bean="BusinessFlowAdapterService" />
				</property>
			</bean>
		</property>
	</bean>
	<bean id="iSecurityEvaluateLinkManager" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.securityevaluate.service.impl.SecurityEvaluateLinkManagerImpl">
				<property name="linkObject" ref="SecurityEvaluateLink"/>
				<property name="linkDAO">
				  <ref bean="ISecurityEvaluateLinkDAO"/>
				</property>
			</bean>
		</property>
	</bean>
	<bean id="iSecurityEvaluateMainManager" parent="txProxyTemplate">
	<property name="target">
			<bean
				class="com.boco.eoms.sheet.securityevaluate.service.impl.SecurityEvaluateMainManagerImpl">
			    <property name="mainObject" ref="SecurityEvaluateMain" />
				<property name="mainDAO">
				 <ref bean="ISecurityEvaluateMainDAO" />
				 </property>
				 <property name="workSheetQO">
					<ref bean="iSecurityEvaluateQo" />
				</property>
				 <property name="flowTemplateName">
					<value>SecurityEvaluateProcess</value>
				</property>
				<property name="roleConfigPath">
					<value>classpath:config/securityevaluate-config.xml</value>
				</property>				
			</bean>
		</property>
	</bean> 

   <bean id="iSecurityEvaluateQo"
		class="com.boco.eoms.sheet.securityevaluate.qo.impl.SecurityEvaluateQoImpl"
		autowire="byName" singleton="false" >
		<property name="poMain" value="SecurityEvaluateMain" />
		<property name="poLink" value="SecurityEvaluateLink" />
		<property name="aliasMain" value="securityEvaluateMain" />
		<property name="aliasLink" value="securityEvaluateLink" />
		<property name="poTask" value="SecurityEvaluateTask" />
	    <property name="aliasTask" value="securityEvaluateTask" />		
	</bean>

	<bean id="SecurityEvaluate" parent="txProxyTemplate"> 
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.securityevaluate.webapp.action.SecurityEvaluateMethod">
				<property name="businessFlowService" >
					<ref bean="iSecurityEvaluateFlowManager" />
			   </property>
				<property name="linkService" 
					ref="iSecurityEvaluateLinkManager" />
				<property name="mainService"
					ref="iSecurityEvaluateMainManager" />
				<property name="sheetTask"
					ref="SecurityEvaluateTask" />
				<property name="taskService"
					ref="isecurityevaluateTaskManager" />	
				<property name="pageLength">
					<value>15</value>
				</property>
				<property name="roleConfigPath">
					<value>classpath:config/securityevaluate-config.xml</value>
				</property>				
				
			</bean>
		</property>
	</bean>        
     <!--SecurityEvaluate-END-->  
</beans>
