<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="GroupComplaintLink"
		class="com.boco.eoms.sheet.groupcomplaint.model.GroupComplaintLink"
		autowire="byName" />
	<bean id="GroupComplaintMain"
		class="com.boco.eoms.sheet.groupcomplaint.model.GroupComplaintMain"
		autowire="byName" />
	
	<bean id="iGroupComplaintTask"
		class="com.boco.eoms.sheet.groupcomplaint.task.impl.GroupComplaintTaskImpl"
		autowire="byName" />

	<bean id="GroupComplaintTask"
		class="com.boco.eoms.sheet.groupcomplaint.task.impl.GroupComplaintTask"
		autowire="byName" />
		
	<bean id="iGroupComplaintTaskManager" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.groupcomplaint.service.impl.GroupComplaintTaskManagerImpl">
				<property name="taskModelObject" ref="GroupComplaintTask" />
				<property name="taskDAO">
					<ref bean="iGroupComplaintTaskDAO" />
				</property>
				<property name="taskConfigPath">
			       <value>/config/groupcomplaintTaskConfig.properties</value>
		        </property>				
			</bean>
		</property>
	</bean>		
		
	<bean id="iGroupComplaintFlowManager" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.groupcomplaint.service.impl.GroupComplaintFlowManagerImpl">
				<property name="businessFlowAdapterService">
					<ref bean="BusinessFlowAdapterService" />
				</property>
			</bean>
		</property>
	</bean>
	<bean id="iGroupComplaintLinkManager" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.groupcomplaint.service.impl.GroupComplaintLinkManagerImpl">
				<property name="linkObject" ref="GroupComplaintLink"/>
				<property name="linkDAO">
				  <ref bean="IGroupComplaintLinkDao"/>
				</property>
			</bean>
		</property>
	</bean>   
	<bean id="iGroupComplaintMainManager" parent="txProxyTemplate">
	<property name="target">
	  
			<bean
				class="com.boco.eoms.sheet.groupcomplaint.service.impl.GroupComplaintMainManagerImpl">
			    <property name="mainObject" ref="GroupComplaintMain" />
				<property name="mainDAO">
				 <ref bean="IGroupComplaintMainDao" />
				 </property>
				 <property name="workSheetQO">
					<ref bean="iGroupComplaintQo" />
				</property>
				 <property name="flowTemplateName">
					<value>GroupComplaintProcess</value>
				</property>
				<property name="roleConfigPath">
					<value>classpath:config/groupcomplaint-config.xml</value>
				</property>				
			</bean>
		</property>
	</bean> 

   <bean id="iGroupComplaintQo"
		class="com.boco.eoms.sheet.groupcomplaint.qo.impl.GroupComplaintQoImpl"
		autowire="byName" singleton="false" >
		<property name="poMain" value="GroupComplaintMain" />
		<property name="poLink" value="GroupComplaintLink" />
		<property name="aliasMain" value="GroupComplaintMain" />
		<property name="aliasLink" value="GroupComplaintLink" />
	        <property name="poTask" value="GroupComplaintTask" />
	    <property name="aliasTask" value="groupComplaintTask" />		
	</bean>
   


	<bean id="GroupComplaint" parent="txProxyTemplate"> 
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.groupcomplaint.webapp.action.GroupComplaintSheetMethod">
				<property name="businessFlowService" >
					<ref bean="iGroupComplaintFlowManager" />
			   </property>
				<property name="linkService" 
					ref="iGroupComplaintLinkManager" />
				<property name="mainService"
					ref="iGroupComplaintMainManager" />
				<property name="sheetTask"
					ref="GroupComplaintTask" />
				<property name="taskService"
					ref="iGroupComplaintTaskManager" />	
				<property name="pageLength">
					<value>15</value>
				</property>
				<property name="roleConfigPath">
					<value>classpath:config/groupcomplaint-config.xml</value>
				</property>
			</bean>
		</property>
	</bean>	
	<bean id="iGroupComplaintKnowLedgeService" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.groupcomplaint.knowledage.GroupComplaintKnowledgeServiceImpl">
			</bean>
		</property>
	</bean>
	<bean id="iGroupComplaintCrmService" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.groupcomplaint.service.impl.GroupComplaintCrmManagerImpl">
			</bean>
		</property>
	</bean>
	<bean id="iGroupComplaintInterfaceManager" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.groupcomplaint.service.impl.GroupComplaintInterfaceManagerImpl">
			</bean>
		</property>
	</bean>
</beans>





















