<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="mappCache"
		class="org.springframework.cache.ehcache.EhCacheFactoryBean">
		<property name="cacheManager">
			<ref bean="appCacheManager" />
		</property>
		<property name="cacheName">
			<value>com.boco.eoms.system.mapp.MAPP_CATCH</value>
		</property>
		<!-- 若ehcache.xml没有chacheName相关配置，则使用下面配置 -->
		<property name="maxElementsInMemory">
			<value>100001</value>
		</property>
		<property name="overflowToDisk">
			<value>true</value>
		</property>
		<property name="eternal">
			<value>true</value>
		</property>
		<property name="timeToLive">
			<value>600</value>
		</property>
		<property name="timeToIdle">
			<value>600</value>
		</property>
		<property name="diskPersistent">
			<value>false</value>
		</property>
		<property name="diskExpiryThreadIntervalSeconds">
			<value>120</value>
		</property>
	</bean>

	<bean id="mappCacheInterceptor"
		class="com.boco.eoms.commons.cache.support.MethodCacheInterceptor">
		<property name="cache">
			<ref local="mappCache" />
		</property>
	</bean>

	<bean id="mappCachePointCut"
		class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
		<property name="advice">
			<ref local="mappCacheInterceptor" />
		</property>
		<property name="patterns">
			<list>
				<value>.*getDictData</value>
			</list>
		</property>
	</bean>


	<bean id="mappBaseCacheProxy"
		class="org.springframework.aop.framework.ProxyFactoryBean"
		abstract="true">
		<property name="interceptorNames">
			<list>
				<value>mappCachePointCut</value>
				<value>txInterceptor</value>
			</list>
		</property>
	</bean>



	<bean id="CacheBean" parent="mappBaseCacheProxy">
		<property name="target">
			<bean class="com.boco.eoms.system.mappingstorage.ehcache.DictCacheBean" />
		</property>
	</bean>


	<!-- 自动更新缓存 -->


	<bean id="mappFlushCachePointCut"
		class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
		<property name="advice">
			<ref local="mappFlushCacheInterceptor" />
		</property>
		<property name="patterns">
			<list>
				<!--
					<value>.*methodOne</value>
					<value>.*methodTwo</value>
				-->
				<value>.*addDictData</value>
			</list>
		</property>
	</bean>

	<bean id="mappFlushCacheInterceptor"
		class="com.boco.eoms.commons.cache.support.MethodFlushCacheInterceptor">
		<property name="cache">
			<ref local="mappCache" />
		</property>
		<property name="method">
			<props>
				<prop
					key="com.boco.eoms.system.mappingstorage.ehcache.getDictData">
					com.boco.eoms.system.mappingstorage.ehcache.getDictData
				</prop>
			</props>
		</property>
	</bean>

	<bean id="mappManBaseFlushCacheProxy"
		class="org.springframework.aop.framework.ProxyFactoryBean"
		abstract="true">
		<property name="interceptorNames">
			<list>
				<value>mappFlushCachePointCut</value>
				<value>txInterceptor</value>
			</list>
		</property>
	</bean>

	<bean id="mappFlushCacheBean" parent="mappManBaseFlushCacheProxy">
		<property name="target">
			<bean class="com.boco.eoms.system.mappingstorage.ehcache.DictCacheBean" />
		</property>
	</bean>
</beans>









