<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>


    <bean id="IIndustrySmsMainDAO"
          class="com.boco.eoms.sheet.industrysms.dao.hibernate.IndustrySmsMainDAOHibernate" autowire="byName">
    </bean>
    <bean id="IIndustrySmsLinkDAO"
          class="com.boco.eoms.sheet.industrysms.dao.hibernate.IndustrySmsLinkDAOHibernate" autowire="byName">
    </bean>
    <bean id="IIndustrySmsTaskDAO"
          class="com.boco.eoms.sheet.industrysms.dao.hibernate.IndustrySmsTaskDAOHibernate" autowire="byName">
    </bean>
    <bean id="IndustrySmsTask"
          class="com.boco.eoms.sheet.industrysms.model.IndustrySmsTask" autowire="byName">
    </bean>
    <bean id="IndustrySmsLink"
          class="com.boco.eoms.sheet.industrysms.model.IndustrySmsLink"
          autowire="byName"/>
    <bean id="IndustrySmsMain"
          class="com.boco.eoms.sheet.industrysms.model.IndustrySmsMain"
          autowire="byName"/>
    <bean id="iIndustrySmsTaskManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.industrysms.service.impl.IndustrySmsTaskManagerImpl">
                <property name="taskModelObject" ref="IndustrySmsTask"/>
                <property name="taskDAO">
                    <ref bean="IIndustrySmsTaskDAO"/>
                </property>
                <property name="taskConfigPath">
                    <value>/config/industrysmsTaskConfig.properties</value>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iIndustrySmsFlowManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.industrysms.service.impl.IndustrySmsFlowManagerImpl">
                <property name="businessFlowAdapterService">
                    <ref bean="BusinessFlowAdapterService"/>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iIndustrySmsLinkManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.industrysms.service.impl.IndustrySmsLinkManagerImpl">
                <property name="linkObject" ref="IndustrySmsLink"/>
                <property name="linkDAO">
                    <ref bean="IIndustrySmsLinkDAO"/>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iIndustrySmsMainManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.industrysms.service.impl.IndustrySmsMainManagerImpl">
                <property name="mainObject" ref="IndustrySmsMain"/>
                <property name="mainDAO">
                    <ref bean="IIndustrySmsMainDAO"/>
                </property>
                <property name="workSheetQO">
                    <ref bean="iIndustrySmsQo"/>
                </property>
                <property name="flowTemplateName">
                    <value>IndustrySms</value>
                </property>
                <property name="roleConfigPath">
                    <value>classpath:config/industrysms-config.xml</value>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="iIndustrySmsQo"
          class="com.boco.eoms.sheet.industrysms.qo.impl.IndustrySmsQoImpl"
          autowire="byName" singleton="false">
        <property name="poMain" value="IndustrySmsMain"/>
        <property name="poLink" value="IndustrySmsLink"/>
        <property name="poTask" value="IndustrySmsTask"/>
        <property name="aliasMain" value="industrysmsMain"/>
        <property name="aliasLink" value="industrysmsLink"/>
        <property name="aliasTask" value="industrysmsTask"/>

    </bean>

    <bean id="IndustrySms" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.industrysms.webapp.action.IndustrySmsMethod">
                <property name="businessFlowService">
                    <ref bean="iIndustrySmsFlowManager"/>
                </property>
                <property name="linkService"
                          ref="iIndustrySmsLinkManager"/>
                <property name="mainService"
                          ref="iIndustrySmsMainManager"/>
                <property name="sheetTask"
                          ref="IndustrySmsTask"/>
                <property name="taskService"
                          ref="iIndustrySmsTaskManager"/>
                <property name="pageLength">
                    <value>15</value>
                </property>
                <property name="roleConfigPath">
                    <value>classpath:config/industrysms-config.xml</value>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="iIndustrySmsInterfaceManagerImpl" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.industrysms.service.impl.IndustrySmsInterfaceManagerImpl">
            </bean>
        </property>
    </bean>

    <bean id="automaticswitchDao"
          class="com.boco.eoms.sheet.industrysms.dao.hibernate.AutomaticSwitchDaoHibernate"
          autowire="byName"/>

    <bean id="automaticswitchManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.industrysms.service.impl.AutomaticSwitchManagerImpl">
                <property name="automaticswitchDao" ref="automaticswitchDao"/>
            </bean>
        </property>
    </bean>

</beans>