<?xml version="1.0"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <bean id="IAccountPopedomApplyMainDao"
          class="com.boco.eoms.sheet.accountpopedomapply.dao.hibernate.AccountPopedomApplyMainDaoHibernate"
          autowire="byName">

    </bean>
    <bean id="IAccountPopedomApplyLinkDao"
          class="com.boco.eoms.sheet.accountpopedomapply.dao.hibernate.AccountPopedomApplyLinkDaoHibernate"
          autowire="byName">

    </bean>

    <bean id="iAccountPopedomApplyTaskDAO"
          class="com.boco.eoms.sheet.accountpopedomapply.dao.hibernate.AccountPopedomApplyTaskDAOHibernate"
          autowire="byName">

    </bean>
</beans>