<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>


    <bean id="IEquipmentSecurityResponseMainDAO"
          class="com.boco.eoms.sheet.equipmentsecurityresponse.dao.hibernate.EquipmentSecurityResponseMainDAOHibernate"
          autowire="byName">
    </bean>
    <bean id="IEquipmentSecurityResponseLinkDAO"
          class="com.boco.eoms.sheet.equipmentsecurityresponse.dao.hibernate.EquipmentSecurityResponseLinkDAOHibernate"
          autowire="byName">
    </bean>
    <bean id="IEquipmentSecurityResponseTaskDAO"
          class="com.boco.eoms.sheet.equipmentsecurityresponse.dao.hibernate.EquipmentSecurityResponseTaskDAOHibernate"
          autowire="byName">
    </bean>
    <bean id="EquipmentSecurityResponseTask"
          class="com.boco.eoms.sheet.equipmentsecurityresponse.model.EquipmentSecurityResponseTask" autowire="byName">
    </bean>
    <bean id="EquipmentSecurityResponseLink"
          class="com.boco.eoms.sheet.equipmentsecurityresponse.model.EquipmentSecurityResponseLink"
          autowire="byName"/>
    <bean id="EquipmentSecurityResponseMain"
          class="com.boco.eoms.sheet.equipmentsecurityresponse.model.EquipmentSecurityResponseMain"
          autowire="byName"/>
    <bean id="iEquipmentSecurityResponseTaskManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.equipmentsecurityresponse.service.impl.EquipmentSecurityResponseTaskManagerImpl">
                <property name="taskModelObject" ref="EquipmentSecurityResponseTask"/>
                <property name="taskDAO">
                    <ref bean="IEquipmentSecurityResponseTaskDAO"/>
                </property>
                <property name="taskConfigPath">
                    <value>/config/equipmentsecurityresponseTaskConfig.properties</value>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iEquipmentSecurityResponseFlowManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.equipmentsecurityresponse.service.impl.EquipmentSecurityResponseFlowManagerImpl">
                <property name="businessFlowAdapterService">
                    <ref bean="BusinessFlowAdapterService"/>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iEquipmentSecurityResponseLinkManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.equipmentsecurityresponse.service.impl.EquipmentSecurityResponseLinkManagerImpl">
                <property name="linkObject" ref="EquipmentSecurityResponseLink"/>
                <property name="linkDAO">
                    <ref bean="IEquipmentSecurityResponseLinkDAO"/>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iEquipmentSecurityResponseMainManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.equipmentsecurityresponse.service.impl.EquipmentSecurityResponseMainManagerImpl">
                <property name="mainObject" ref="EquipmentSecurityResponseMain"/>
                <property name="mainDAO">
                    <ref bean="IEquipmentSecurityResponseMainDAO"/>
                </property>
                <property name="workSheetQO">
                    <ref bean="iEquipmentSecurityResponseQo"/>
                </property>
                <property name="flowTemplateName">
                    <value>EquipmentSecurityResponse</value>
                </property>
                <property name="roleConfigPath">
                    <value>classpath:config/equipmentsecurityresponse-config.xml</value>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="iEquipmentSecurityResponseQo"
          class="com.boco.eoms.sheet.equipmentsecurityresponse.qo.impl.EquipmentSecurityResponseQoImpl"
          autowire="byName" singleton="false">
        <property name="poMain" value="EquipmentSecurityResponseMain"/>
        <property name="poLink" value="EquipmentSecurityResponseLink"/>
        <property name="poTask" value="EquipmentSecurityResponseTask"/>
        <property name="aliasMain" value="equipmentsecurityresponseMain"/>
        <property name="aliasLink" value="equipmentsecurityresponseLink"/>
        <property name="aliasTask" value="equipmentsecurityresponseTask"/>

    </bean>

    <bean id="EquipmentSecurityResponse" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.equipmentsecurityresponse.webapp.action.EquipmentSecurityResponseMethod">
                <property name="businessFlowService">
                    <ref bean="iEquipmentSecurityResponseFlowManager"/>
                </property>
                <property name="linkService"
                          ref="iEquipmentSecurityResponseLinkManager"/>
                <property name="mainService"
                          ref="iEquipmentSecurityResponseMainManager"/>
                <property name="sheetTask"
                          ref="EquipmentSecurityResponseTask"/>
                <property name="taskService"
                          ref="iEquipmentSecurityResponseTaskManager"/>
                <property name="pageLength">
                    <value>15</value>
                </property>
                <property name="roleConfigPath">
                    <value>classpath:config/equipmentsecurityresponse-config.xml</value>
                </property>
            </bean>
        </property>
    </bean>

</beans>