<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="complaintSheetMsgConfigMgr" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.tool.complaintmsgconfig.mgr.impl.ComplaintSheetMsgConfigMgrImpl">
				<property name="complaintSheetMsgConfigDao" ref="complaintSheetMsgConfigDao" />
			</bean>
		</property>
	</bean>

	<bean id="complaintSheetMsgConfigDao"
		class="com.boco.eoms.sheet.tool.complaintmsgconfig.dao.hibernate.ComplaintSheetMsgConfigDaoHibernate"
		autowire="byName" />


</beans>









