<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
 <!--CommonTask-START-->    

    <bean id="ICommonTaskMainDAO"
		class="com.boco.eoms.sheet.commontask.dao.hibernate.CommonTaskMainDAOHibernate" autowire="byName">
      </bean>
	<bean id="ICommonTaskLinkDAO"
		class="com.boco.eoms.sheet.commontask.dao.hibernate.CommonTaskLinkDAOHibernate" autowire="byName">
     </bean>
     <bean id="ICommonTaskTaskDAO"
		class="com.boco.eoms.sheet.commontask.dao.hibernate.CommonTaskTaskDAOHibernate" autowire="byName">
     </bean>
     <bean id="CommonTaskTask"
		class="com.boco.eoms.sheet.commontask.model.CommonTaskTask" autowire="byName">
     </bean>
    <bean id="CommonTaskLink"
		class="com.boco.eoms.sheet.commontask.model.CommonTaskLink"
		autowire="byName" />
	<bean id="CommonTaskMain"
		class="com.boco.eoms.sheet.commontask.model.CommonTaskMain"
		autowire="byName" />
	<bean id="icommontaskTask"
		class="com.boco.eoms.sheet.commontask.task.impl.CommonTaskTaskImpl"
		autowire="byName" />
	<bean id="icommontaskTaskManager" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.commontask.service.impl.CommonTaskTaskManagerImplGZ">
				<property name="taskModelObject" ref="CommonTaskTask" />
				<property name="taskDAO">
					<ref bean="ICommonTaskTaskDAO" />
				</property>
				<property name="taskConfigPath">
					<value>/config/commonTaskConfig.properties</value>
				</property>
			</bean>
		</property>
	</bean>	
	<bean id="iCommonTaskFlowManager" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.commontask.service.impl.CommonTaskFlowManagerImpl">
				<property name="businessFlowAdapterService">
					<ref bean="BusinessFlowAdapterService" />
				</property>
			</bean>
		</property>
	</bean>
	
	<bean id="iCommonTaskLinkManager" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.commontask.service.impl.CommonTaskLinkManagerImpl">
				<property name="linkObject" ref="CommonTaskLink"/>
				<property name="linkDAO">
				  <ref bean="ICommonTaskLinkDAO"/>
				</property>
			</bean>
		</property>
	</bean>
	<bean id="iCommonTaskMainManager" parent="txProxyTemplate">
	<property name="target">
			<bean
				class="com.boco.eoms.sheet.commontask.service.impl.CommonTaskMainManagerImpl">
			    <property name="mainObject" ref="CommonTaskMain" />
				<property name="mainDAO">
				 <ref bean="ICommonTaskMainDAO" />
				 </property>
				 <property name="workSheetQO">
					<ref bean="iCommonTaskQo" />
				</property>
				 <property name="flowTemplateName">
					<value>CommonTaskMainFlowProcess</value>
				</property>
				<property name="roleConfigPath">
					<value>classpath:config/commontask-config.xml</value>
				</property>				
			</bean>
		</property>
	</bean> 

   <bean id="iCommonTaskQo"
		class="com.boco.eoms.sheet.commontask.qo.impl.CommonTaskQoImpl"
		autowire="byName" singleton="false" >
		<property name="poMain" value="CommonTaskMain" />
		<property name="poLink" value="CommonTaskLink" />
		<property name="aliasMain" value="commonTaskMain" />
		<property name="aliasLink" value="commonTaskLink" />
		<property name="poTask" value="CommonTaskTask" />
	    <property name="aliasTask" value="commonTaskTask" />			
	</bean>

	<bean id="CommonTask" parent="txProxyTemplate"> 
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.commontask.webapp.action.CommonTaskHBMethod">
				<property name="businessFlowService" >
					<ref bean="iCommonTaskFlowManager" />
			   </property>
				<property name="linkService" 
					ref="iCommonTaskLinkManager" />
				<property name="mainService"
					ref="iCommonTaskMainManager" />
				<property name="sheetTask"
					ref="CommonTaskTask" />
				<property name="taskService"
					ref="icommontaskTaskManager" />	
				<property name="pageLength">
					<value>15</value>
				</property>
				<property name="roleConfigPath">
					<value>classpath:config/commontask-config.xml</value>
				</property>
			</bean>
		</property>
	</bean>        
     <!--CommonTask-END-->  
     <!--<bean id="iCommonTaskCrmService" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.commontask.service.impl.CommonTaskCrmManagerImpl">
			</bean>
		</property>
	</bean>--> 

	<bean id="iCommonTaskCrmService" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.commontask.service.impl.CommonTaskCrmManagerImpl">
			</bean>
		</property>
	</bean>
</beans>
