<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="iWfInterfaceInfoManager" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.interfaceBase.service.impl.WfInterfaceInfoManagerImpl">
				<property name="infoDao">
				 <ref bean="IWfInterfaceInfoDAO" />
				 </property>
			</bean>
		</property>
	</bean> 
</beans>





















