<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <!-- Add new Managers here -->
    
    <!--TawWorkbenchCommissionPreset-DAO START-->
    <bean id="tawWorkbenchCommissionPresetDao" class="com.boco.eoms.workbench.commission.dao.hibernate.TawWorkbenchCommissionPresetDaoHibernate" autowire="byName"/>
    <!--TawWorkbenchCommissionPreset-DAO END-->
    <!--TawWorkbenchCommissionPreset-START-->    
    <bean id="ItawWorkbenchCommissionPresetMgr" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.workbench.commission.mgr.impl.TawWorkbenchCommissionPresetMgrImpl">
                <property name="tawWorkbenchCommissionPresetDao" ref="tawWorkbenchCommissionPresetDao"/>
            </bean>
        </property>
    </bean>
    <!--TawWorkbenchCommissionPreset-END-->
    
    <!--TawWorkbenchCommissionInstance-DAO START-->
    <bean id="tawWorkbenchCommissionInstanceDao" class="com.boco.eoms.workbench.commission.dao.hibernate.TawWorkbenchCommissionInstanceDaoHibernate" autowire="byName"/>
    <!--TawWorkbenchCommissionInstance-DAO END-->
    <!--TawWorkbenchCommissionInstance-START-->    
    <bean id="ItawWorkbenchCommissionInstanceMgr" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.workbench.commission.mgr.impl.TawWorkbenchCommissionInstanceMgrImpl">
                <property name="tawWorkbenchCommissionInstanceDao" ref="tawWorkbenchCommissionInstanceDao"/>
            </bean>
        </property>
    </bean>
    <!--TawWorkbenchCommissionInstance-END-->
    
    <bean id="CommissionMgrAPI"
		class="com.boco.eoms.workbench.commission.mgr.impl.CommissionMgrImpl" >
		<property name="tawWorkbenchCommissionInstanceMgr"
			ref="ItawWorkbenchCommissionInstanceMgr" />
	</bean>
    
</beans>





















