<?xml version="1.0"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="IUrgentFaultMainDao" class="com.boco.eoms.sheet.urgentfault.dao.hibernate.UrgentFaultMainDaoHibernate" autowire="byName">
      </bean>
	<bean id="IUrgentFaultLinkDao" class="com.boco.eoms.sheet.urgentfault.dao.hibernate.UrgentFaultLinkDaoHibernate" autowire="byName">
      </bean>

	<bean id="iUrgentFaultTaskDAO" class="com.boco.eoms.sheet.urgentfault.dao.hibernate.UrgentFaultTaskDAOHibernate" autowire="byName">
      </bean>
</beans>