<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="tawApparatusMgr" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.partner.baseinfo.mgr.impl.TawApparatusMgrImpl">
				<property name="tawApparatusDao" ref="tawApparatusDao" />
			</bean>
		</property>
	</bean>

	<bean id="tawApparatusDao"
		class="com.boco.eoms.partner.baseinfo.dao.hibernate.TawApparatusDaoHibernate"
		autowire="byName" />


</beans>









