<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="doVersionHandler"
		class="com.boco.eoms.version.DoVersionHandler">
		<property name="versionMgr" ref="versionMgrImpl"/>
		<property name="handlers">
			<list>
				<value>workplanVersionHandler</value>
			</list>
		</property>

		<property name="version">
			<bean class="com.boco.eoms.version.Version">
			<!-- 版本名称 -->
				<property name="name">
					<value>b4</value>
				</property>
					<!-- 版本号 -->
				<property name="version">
					<value>b4 desc</value>
				</property>
					<!-- 版本发布日期 -->
				<property name="onDate">
					<value>2009.4.9</value>
				</property>
				<!-- 版本描述 -->
				<property name="desc">
					<value>主版本</value>
				</property>
			</bean>
		</property>
	</bean>
	
	
	<bean id="versionMgrImpl" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.version.mgr.impl.VersionMgrImpl">
				<property name="versionDao" ref="versionDao" />
			</bean>
		</property>
	</bean>

	<bean id="versionDao"
		class="com.boco.eoms.version.dao.hibernate.VersionDaoHibernate"
		autowire="byName" />

</beans>




















