<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <!-- Add new Managers here -->
    
    <!--TawSupplierkpiInfo-DAO START-->
    <bean id="tawSupplierkpiInfoDao" class="com.boco.eoms.extra.supplierkpi.dao.hibernate.TawSupplierkpiInfoDaoHibernate" autowire="byName"/>
    <!--TawSupplierkpiInfo-DAO END-->
    <!--TawSupplierkpiInfo-START-->    
    <bean id="ItawSupplierkpiInfoManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.extra.supplierkpi.service.impl.TawSupplierkpiInfoManagerImpl">
                <property name="tawSupplierkpiInfoDao" ref="tawSupplierkpiInfoDao"/>
            </bean>
        </property>
    </bean>
    <!--TawSupplierkpiInfo-END-->
    
    <!--TawSupplierkpiTemplate-DAO START-->
    <bean id="tawSupplierkpiTemplateDao" class="com.boco.eoms.extra.supplierkpi.dao.hibernate.TawSupplierkpiTemplateDaoHibernate" autowire="byName"/>
    <!--TawSupplierkpiTemplate-DAO END-->
    <!--TawSupplierkpiTemplate-START-->    
    
    
    <bean id="ItawSupplierkpiTemplateManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.extra.supplierkpi.service.impl.TawSupplierkpiTemplateManagerImpl">
                <property name="tawSupplierkpiTemplateDao" ref="tawSupplierkpiTemplateDao"/>
                <property name="tawSupplierkpiItemDao" ref="tawSupplierkpiItemDao"/>
                <property name="tawSupplierkpiDictDao" ref="tawSupplierkpiDictDao"/>
            </bean>
        </property>
    </bean>
    <!--TawSupplierkpiTemplate-END-->
    
    <!--TawSupplierkpiItem-DAO START-->
    <bean id="tawSupplierkpiItemDao" class="com.boco.eoms.extra.supplierkpi.dao.hibernate.TawSupplierkpiItemDaoHibernate" autowire="byName"/>
    <!--TawSupplierkpiItem-DAO END-->
    <!--TawSupplierkpiItem-START-->    
    <bean id="ItawSupplierkpiItemManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.extra.supplierkpi.service.impl.TawSupplierkpiItemManagerImpl">
                <property name="tawSupplierkpiItemDao" ref="tawSupplierkpiItemDao"/>
                <property name="tawSupplierkpiDictDao" ref="tawSupplierkpiDictDao"/>
                <property name="tawSupplierkpiTemplateDao" ref="tawSupplierkpiTemplateDao" />
                <property name="tawSupplierkpiTemplateAssessDao" ref="tawSupplierkpiTemplateAssessDao" />
            </bean>
        </property>
    </bean>
    <!--TawSupplierkpiItem-END-->
    
    <!--TawsuCheckModule-DAO START-->
    <bean id="tawsuCheckModuleDao" class="com.boco.eoms.extra.supplierkpi.dao.hibernate.TawsuCheckModuleDaoHibernate" autowire="byName"/>
    <!--TawsuCheckModule-DAO END-->
    <!--TawsuCheckModule-START-->    
    <bean id="ItawsuCheckModuleManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.extra.supplierkpi.service.impl.TawsuCheckModuleManagerImpl">
                <property name="tawsuCheckModuleDao" ref="tawsuCheckModuleDao"/>
            </bean>
        </property>
    </bean>
    <!--TawsuCheckModule-END-->
    
<!--TawSupplierkpiInstance-DAO START-->
    <bean id="tawSupplierkpiInstanceDao" class="com.boco.eoms.extra.supplierkpi.dao.hibernate.TawSupplierkpiInstanceDaoHibernate" autowire="byName"/>
    <!--TawSupplierkpiInstance-DAO END-->
    <!--TawSupplierkpiInstance-START-->    
    <bean id="ItawSupplierkpiInstanceManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.extra.supplierkpi.service.impl.TawSupplierkpiInstanceManagerImpl">
                <property name="tawSupplierkpiInstanceDao" ref="tawSupplierkpiInstanceDao"/>
            </bean>
        </property>
    </bean>
    <!--TawSupplierkpiInstance-END-->
    
<!--TawSuppKpiInstReportOrder-DAO START-->
    <bean id="tawSuppKpiInstReportOrderDao" class="com.boco.eoms.extra.supplierkpi.dao.hibernate.TawSuppKpiInstReportOrderDaoHibernate" autowire="byName"/>
    <!--TawSuppKpiInstReportOrder-DAO END-->
    <!--TawSuppKpiInstReportOrder-START-->    
    <bean id="ItawSuppKpiInstReportOrderManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.extra.supplierkpi.service.impl.TawSuppKpiInstReportOrderManagerImpl">
                <property name="tawSuppKpiInstReportOrderDao" ref="tawSuppKpiInstReportOrderDao"/>
            </bean>
        </property>
    </bean>
    <!--TawSuppKpiInstReportOrder-END-->    
    
    <!--TawSupplierkpiAssessInstance-DAO START-->
    <bean id="tawSupplierkpiAssessInstanceDao" class="com.boco.eoms.extra.supplierkpi.dao.hibernate.TawSupplierkpiAssessInstanceDaoHibernate" autowire="byName"/>
    <!--TawSupplierkpiAssessInstance-DAO END-->
    <!--TawSupplierkpiAssessInstance-START-->    
    <bean id="ItawSupplierkpiAssessInstanceManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.extra.supplierkpi.service.impl.TawSupplierkpiAssessInstanceManagerImpl">
                <property name="tawSupplierkpiAssessInstanceDao" ref="tawSupplierkpiAssessInstanceDao"/>
                <property name="tawSupplierkpiRelationDao" ref="tawSupplierkpiRelationDao"/>
                <property name="tawSupplierkpiItemDao" ref="tawSupplierkpiItemDao"/>
                <property name="tawSupplierkpiTemplateDao" ref="tawSupplierkpiTemplateDao"/>
                <property name="tawSupplierkpiInfoDao" ref="tawSupplierkpiInfoDao"/>
            </bean>
        </property>
    </bean>
    <!--TawSupplierkpiAssessInstance-END-->
    
	<!--TawSupplierkpiRelation-DAO START-->
    <bean id="tawSupplierkpiRelationDao" class="com.boco.eoms.extra.supplierkpi.dao.hibernate.TawSupplierkpiRelationDaoHibernate" autowire="byName"/>
    <!--TawSupplierkpiRelation-DAO END-->
    <!--TawSupplierkpiRelation-START-->    
    <bean id="ItawSupplierkpiRelationManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.extra.supplierkpi.service.impl.TawSupplierkpiRelationManagerImpl">
                <property name="tawSupplierkpiRelationDao" ref="tawSupplierkpiRelationDao"/>
            </bean>
        </property>
    </bean>
    <!--TawSupplierkpiRelation-END-->

	<!--TawSystemDictType-DAO START-->
	<bean id="tawSystemDictTypeDao"
		class="com.boco.eoms.commons.system.dict.dao.hibernate.TawSystemDictTypeDaoHibernate"
		autowire="byName" />

	<!--TawSystemDictType-DAO END-->
	
	<bean id="tawSystemDictJDBC"
		class="com.boco.eoms.commons.system.dict.dao.hibernate.TawSystemDictJDBCImpl"
		autowire="byName" />
		
	<!--TawSupplierkpiTemplateAssess-DAO START-->
    <bean id="tawSupplierkpiTemplateAssessDao" class="com.boco.eoms.extra.supplierkpi.dao.hibernate.TawSupplierkpiTemplateAssessDaoHibernate" autowire="byName"/>
    <!--TawSupplierkpiTemplateAssess-DAO END-->
    <!--TawSupplierkpiTemplateAssess-START-->    
    <bean id="ItawSupplierkpiTemplateAssessManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.extra.supplierkpi.service.impl.TawSupplierkpiTemplateAssessManagerImpl">
                <property name="tawSupplierkpiTemplateAssessDao" ref="tawSupplierkpiTemplateAssessDao"/>
                <property name="tawSupplierkpiTemplateDao" ref="tawSupplierkpiTemplateDao"/>
                <property name="tawSupplierkpiItemDao" ref="tawSupplierkpiItemDao"/>
                <property name="tawSupplierkpiAssessInstanceDao" ref="tawSupplierkpiAssessInstanceDao"/>
                <property name="tawSupplierkpiRelationDao" ref="tawSupplierkpiRelationDao"/>
            </bean>
        </property>
    </bean>
    <!--TawSupplierkpiTemplateAssess-END-->
    
    <!--TawSupplierkpiInstanceAss-DAO START-->
    <bean id="tawSupplierkpiInstanceAssDao" class="com.boco.eoms.extra.supplierkpi.dao.hibernate.TawSupplierkpiInstanceAssDaoHibernate" autowire="byName"/>
    <!--TawSupplierkpiInstanceAss-DAO END-->
    <!--TawSupplierkpiInstanceAss-START-->    
    <bean id="ItawSupplierkpiInstanceAssManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.extra.supplierkpi.service.impl.TawSupplierkpiInstanceAssManagerImpl">
                <property name="tawSupplierkpiInstanceAssDao" ref="tawSupplierkpiInstanceAssDao"/>
            </bean>
        </property>
    </bean>
    <!--TawSupplierkpiInstanceAss-END-->
    
    <!--TawSupplierkpiLog-DAO START-->
    <bean id="tawSupplierkpiLogDao" class="com.boco.eoms.extra.supplierkpi.dao.hibernate.TawSupplierkpiLogDaoHibernate" autowire="byName"/>
    <!--TawSupplierkpiLog-DAO END-->
    <!--TawSupplierkpiLog-START-->    
    <bean id="ItawSupplierkpiLogManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.extra.supplierkpi.service.impl.TawSupplierkpiLogManagerImpl">
                <property name="tawSupplierkpiLogDao" ref="tawSupplierkpiLogDao"/>
            </bean>
        </property>
    </bean>
    <!--TawSupplierkpiLog-END-->
    
    <!--TawSupplierkpiDict-DAO START-->
    <bean id="tawSupplierkpiDictDao" class="com.boco.eoms.extra.supplierkpi.dao.hibernate.TawSupplierkpiDictDaoHibernate" autowire="byName"/>
    <!--TawSupplierkpiDict-DAO END-->
    <!--TawSupplierkpiDict-START-->    
    <bean id="ItawSupplierkpiDictManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.extra.supplierkpi.service.impl.TawSupplierkpiDictManagerImpl">
                <property name="tawSupplierkpiDictDao" ref="tawSupplierkpiDictDao"/>
            </bean>
        </property>
    </bean>
    <!--TawSupplierkpiDict-END-->
    
</beans>





















