<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="mappingMgr" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.system.mappingstorage.mgr.impl.MappingMgrImpl">
				<property name="mappingDao" ref="mappingDao" />
				
			</bean>
		</property>
	</bean>
	<bean id="mappingDao"
		class="com.boco.eoms.system.mappingstorage.dao.hibernate.MappingDaoHibernate"
		autowire="byName" />
</beans>









