<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="UrgentFaultLink"
		class="com.boco.eoms.sheet.urgentfault.model.UrgentFaultLink"
		autowire="byName" />
	<bean id="UrgentFaultMain"
		class="com.boco.eoms.sheet.urgentfault.model.UrgentFaultMain"
		autowire="byName" />
	
	<bean id="iUrgentFaultTask"
		class="com.boco.eoms.sheet.urgentfault.task.impl.UrgentFaultTaskImpl"
		autowire="byName" />
		
    <bean id="UrgentFaultTask"
		class="com.boco.eoms.sheet.urgentfault.task.impl.UrgentFaultTask"
		autowire="byName" />
		
	<bean id="iUrgentFaultTaskManager" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.urgentfault.service.impl.UrgentFaultTaskManagerImpl">
				<property name="taskModelObject" ref="UrgentFaultTask" />
				<property name="taskDAO">
					<ref bean="iUrgentFaultTaskDAO" />
				</property>
				<property name="taskConfigPath">
			       <value>/config/urgentfaultTaskConfig.properties</value>
		        </property>
			</bean>
		</property>
	</bean>		
		
	<bean id="iUrgentFaultFlowManager" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.urgentfault.service.impl.UrgentFaultFlowManagerImpl">
				<property name="businessFlowAdapterService">
					<ref bean="BusinessFlowAdapterService" />
				</property>
			</bean>
		</property>
	</bean>
	<bean id="iUrgentFaultLinkManager" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.urgentfault.service.impl.UrgentFaultLinkManagerImpl">
				<property name="linkObject" ref="UrgentFaultLink"/>
				<property name="linkDAO">
				  <ref bean="IUrgentFaultLinkDao"/>
				</property>
			</bean>
		</property>
	</bean>
	<bean id="iUrgentFaultMainManager" parent="txProxyTemplate">
	<property name="target">
	  
			<bean
				class="com.boco.eoms.sheet.urgentfault.service.impl.UrgentFaultMainManagerImpl">
			    <property name="mainObject" ref="UrgentFaultMain" />
				<property name="mainDAO">
				 <ref bean="IUrgentFaultMainDao" />
				 </property>
				 <property name="workSheetQO">
					<ref bean="iUrgentFaultQo" />
				</property>
				 <property name="flowTemplateName">
					<value>UrgentFaultMainFlowProcess</value>
				</property>
				 <property name="roleConfigPath">
					<value>classpath:config/urgentfault-config.xml</value>
				</property>
			</bean>
		</property>
	</bean> 

   <bean id="iUrgentFaultQo"
		class="com.boco.eoms.sheet.urgentfault.qo.impl.UrgentFaultQoImpl"
		autowire="byName" singleton="false" >
		<property name="poMain" value="UrgentFaultMain" />
		<property name="poLink" value="UrgentFaultLink" />
		<property name="aliasMain" value="urgentFaultMain" />
		<property name="aliasLink" value="urgentFaultLink" />
	    <property name="poTask" value="UrgentFaultTask" />
	    <property name="aliasTask" value="urgentFaultTask" />
	</bean>
   


	<bean id="UrgentFault" parent="txProxyTemplate"> 
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.urgentfault.webapp.action.UrgentFaultSheetMethod">
				<property name="businessFlowService" >
					<ref bean="iUrgentFaultFlowManager" />
			   </property>
				<property name="linkService" 
					ref="iUrgentFaultLinkManager" />
				<property name="mainService"
					ref="iUrgentFaultMainManager" />
				<property name="sheetTask"
					ref="UrgentFaultTask" />
				<property name="taskService"
					ref="iUrgentFaultTaskManager" />					
				<property name="pageLength">
					<value>15</value>
				</property>
				<property name="roleConfigPath">
					<value>classpath:config/urgentfault-config.xml</value>
				</property>
			</bean>
		</property>
	</bean>
</beans>





















