<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
 <!--NetData-START-->    

    <bean id="INetDataMainDAO"
		class="com.boco.eoms.sheet.netdata.dao.hibernate.NetDataMainDAOHibernate" autowire="byName">
      </bean>
	<bean id="INetDataLinkDAO"
		class="com.boco.eoms.sheet.netdata.dao.hibernate.NetDataLinkDAOHibernate" autowire="byName">
     </bean>
     <bean id="INetDataTaskDAO"
		class="com.boco.eoms.sheet.netdata.dao.hibernate.NetDataTaskDAOHibernate" autowire="byName">
     </bean>
     <bean id="NetDataTask"
		class="com.boco.eoms.sheet.netdata.model.NetDataTask" autowire="byName">
     </bean>
    <bean id="NetDataLink"
		class="com.boco.eoms.sheet.netdata.model.NetDataLink"
		autowire="byName" />
	<bean id="NetDataMain"
		class="com.boco.eoms.sheet.netdata.model.NetDataMain"
		autowire="byName" />
	<bean id="inetdataTask"
		class="com.boco.eoms.sheet.netdata.task.impl.NetDataTaskImpl"
		autowire="byName" />
	<bean id="iNetDataTaskManager" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.netdata.service.impl.NetDataTaskManagerImpl">
				<property name="taskModelObject" ref="NetDataTask" />
				<property name="taskDAO">
					<ref bean="INetDataTaskDAO" />
				</property>
				<property name="taskConfigPath">
			       <value>/config/netdataTaskConfig.properties</value>
		        </property>				
			</bean>
		</property>
	</bean>	
	<bean id="iNetDataFlowManager" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.netdata.service.impl.NetDataFlowManagerImpl">
				<property name="businessFlowAdapterService">
					<ref bean="BusinessFlowAdapterService" />
				</property>
			</bean>
		</property>
	</bean>
	<bean id="iNetDataLinkManager" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.netdata.service.impl.NetDataLinkManagerImpl">
				<property name="linkObject" ref="NetDataLink"/>
				<property name="linkDAO">
				  <ref bean="INetDataLinkDAO"/>
				</property>
			</bean>
		</property>
	</bean>
	<bean id="iNetDataMainManager" parent="txProxyTemplate">
	<property name="target">
			<bean
				class="com.boco.eoms.sheet.netdata.service.impl.NetDataMainManagerImpl">
			    <property name="mainObject" ref="NetDataMain" />
				<property name="mainDAO">
				 <ref bean="INetDataMainDAO" />
				 </property>
				 <property name="workSheetQO">
					<ref bean="iNetDataQo" />
				</property>
				 <property name="flowTemplateName">
					<value>NetDataMainProcess</value>
				</property>
				<property name="roleConfigPath">
					<value>classpath:config/netdata-config.xml</value>
				</property>
			</bean>
		</property>
	</bean> 

   <bean id="iNetDataQo"
		class="com.boco.eoms.sheet.netdata.qo.impl.NetDataQoImpl"
		autowire="byName" singleton="false" >
		<property name="poMain" value="NetDataMain" />
		<property name="poLink" value="NetDataLink" />
		<property name="poTask" value="NetDataTask" />
		<property name="aliasMain" value="netDataMain" />
		<property name="aliasLink" value="netDataLink" />
		<property name="aliasTask" value="netDataTask" />
	</bean>

	<bean id="NetData" parent="txProxyTemplate"> 
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.netdata.webapp.action.NetDataMethod">
				<property name="businessFlowService" >
					<ref bean="iNetDataFlowManager" />
			   </property>
				<property name="linkService" 
					ref="iNetDataLinkManager" />
				<property name="mainService"
					ref="iNetDataMainManager" />
				<property name="sheetTask"
					ref="NetDataTask" />
				<property name="taskService"
					ref="iNetDataTaskManager" />	
				<property name="pageLength">
					<value>15</value>
				</property>
				<property name="roleConfigPath">
					<value>classpath:config/netdata-config.xml</value>
				</property>
			</bean>
		</property>
	</bean>        
     <!--NetData-END-->  
</beans>
