<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <bean id="ParseXmlManagerImpl"
          class="com.boco.eoms.commons.fileconfig.service.impl.ParseXmlManagerImpl">
        <property name="mappingPath">
            <props>
                <prop key="FMExportMapping">classpath:com/boco/eoms/commons/file/config/FMExportMapping.xml</prop>
                <prop key="FMImportMapping">classpath:com/boco/eoms/commons/file/config/FMImportMapping.xml</prop>
                <!-- 规则mapping -->
                <prop key="RuleMapping">classpath:com/boco/eoms/commons/rule/config/RuleMapping.xml</prop>
                <!-- 示例 -->
                <prop key="FMImportMappingSample">
                    classpath:com/boco/eoms/commons/fileconfig/sample/FMImportMapping.xml
                </prop>

                <prop key="BaseKPI">classpath:config/baseKpiCollect.xml</prop>
                <prop key="SeSpecificationKey">classpath:config/specificationKpiCollect.xml</prop>
                <prop key="NopKey">classpath:config/nopKpiCollect.xml</prop>
                <prop key="PerFormAnceKpiCollect">classpath:config/PerFormAnceKpiCollect.xml</prop>
            </props>
        </property>
    </bean>
</beans>






















































































































































