<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>



	<!--TawSystemDept-DAO START-->
	<bean id="tawSystemDeptDao"
		class="com.boco.eoms.commons.system.dept.dao.hibernate.TawSystemDeptDaoHibernate"
		autowire="byName" />
	<!--TawSystemDept-DAO END-->
	<!--TawSystemDept-START-->
	<bean id="ItawSystemDeptManager" parent="deptBaseCacheProxy">
		<property name="target">
			<bean
				class="com.boco.eoms.commons.system.dept.service.impl.TawSystemDeptManagerImpl">
				<property name="tawSystemDeptDao"
					ref="tawSystemDeptDao" />
			</bean>
		</property>
	</bean>
	<bean id="tawSystemDeptDaoJdbc"
		class="com.boco.eoms.commons.system.dept.dao.hibernate.TawSystemDeptDaoJdbcImpl"
		autowire="byName" />
	<!--TawSystemDept-END-->
	
	<!--TawPartnersDept-DAO START-->
	<bean id="tawPartnersDeptDao"
		class="com.boco.eoms.commons.system.dept.dao.hibernate.TawPartnersDeptDaoHibernate"
		autowire="byName" />
	<!--TawPartnersDept-DAO END-->
	
	<!--TawPartnersDept-START-->
	<bean id="ItawPartnersDeptManager" parent="deptBaseCacheProxy">
		<property name="target">
			<bean
				class="com.boco.eoms.commons.system.dept.service.impl.TawPartnersDeptManagerImpl">
				<property name="tawPartnersDeptDao"
					ref="tawPartnersDeptDao" />
			</bean>
		</property>
	</bean>
	<!--TawPartnersDept-END-->


</beans>














