<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    
    
    <!--TawWorkbenchContactGroup-DAO START-->
    <bean id="tawWorkbenchContactGroupDao" class="com.boco.eoms.workbench.contact.dao.hibernate.TawWorkbenchContactGroupDaoHibernate" autowire="byName"/>
    <!--TawWorkbenchContactGroup-DAO END-->
    <!--TawWorkbenchContactGroup-START-->    
    <bean id="ItawWorkbenchContactGroupManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.workbench.contact.service.impl.TawWorkbenchContactGroupManagerImpl">
                <property name="tawWorkbenchContactGroupDao" ref="tawWorkbenchContactGroupDao"/>
            </bean>
        </property>
    </bean>
    <!--TawWorkbenchContactGroup-END-->
    <!--TawWorkbenchContact-DAO START-->
    <bean id="tawWorkbenchContactDao" class="com.boco.eoms.workbench.contact.dao.hibernate.TawWorkbenchContactDaoHibernate" autowire="byName"/>
    <!--TawWorkbenchContact-DAO END-->
    <!--TawWorkbenchContact-START-->    
    <bean id="ItawWorkbenchContactManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.workbench.contact.service.impl.TawWorkbenchContactManagerImpl">
                <property name="tawWorkbenchContactDao" ref="tawWorkbenchContactDao"/>
                <property name="tawWorkbenchDeptContactDao" ref="tawWorkbenchDeptContactDao"/>
                
            </bean>
        </property>
    </bean>
    <!--TawWorkbenchContact-END-->  
	
	
	
	
	
	<!--TawWorkbenchDeptContactGroup-DAO START-->
    <bean id="tawWorkbenchDeptContactGroupDao" class="com.boco.eoms.workbench.contact.dao.hibernate.TawWorkbenchDeptContactGroupDaoHibernate" autowire="byName"/>
    <!--TawWorkbenchDeptContactGroup-DAO END-->
    <!--TawWorkbenchDeptContactGroup-START-->    
    <bean id="ItawWorkbenchDeptContactGroupManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.workbench.contact.service.impl.TawWorkbenchDeptContactGroupManagerImpl">
                <property name="tawWorkbenchDeptContactGroupDao" ref="tawWorkbenchDeptContactGroupDao"/>
            </bean>
        </property>
    </bean>
    <!--TawWorkbenchDeptContactGroup-END-->
    <!--TawWorkbenchDeptContact-DAO START-->
    <bean id="tawWorkbenchDeptContactDao" class="com.boco.eoms.workbench.contact.dao.hibernate.TawWorkbenchDeptContactDaoHibernate" autowire="byName"/>
    <!--TawWorkbenchDeptContact-DAO END-->
    <!--TawWorkbenchDeptContact-START-->    
    <bean id="ItawWorkbenchDeptContactManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.workbench.contact.service.impl.TawWorkbenchDeptContactManagerImpl">
                <property name="tawWorkbenchDeptContactDao" ref="tawWorkbenchDeptContactDao"/>
            </bean>
        </property>
    </bean>
    <!--TawWorkbenchDeptContact-END-->
    
    <bean id="contactAttributes"
		class="com.boco.eoms.workbench.contact.util.ContactAttributes">
	 
		<property name="contactRootPath">
			<value>/duty/model/new</value>
		</property>
		 
	</bean>
</beans>






















