<?xml version="1.0"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

 <!-- remote ejb
	<bean id="WorkflowManager"
		class="org.springframework.ejb.access.SimpleRemoteStatelessSessionProxyFactoryBean"
		lazy-init="true">
		<property name="jndiName">
			<value>com/ibm/bpe/api/BusinessFlowManagerHome</value>
		</property>
		<property name="jndiEnvironment">
			<props>
				<prop key="java.naming.factory.initial">
					com.ibm.websphere.naming.WsnInitialContextFactory
				</prop>
				<prop key="java.naming.provider.url">
					iiop://10.32.2.27:2809/
				</prop>
				<prop key="java.naming.security.principal">admin</prop>
                <prop key="java.naming.security.credentials">111</prop>				
			</props>
		</property>
		<property name="businessInterface">
			<value>com.ibm.bpe.api.BusinessFlowManager</value>
		</property>
	</bean>

	<bean id="HumanTaskManager"
		class="org.springframework.ejb.access.SimpleRemoteStatelessSessionProxyFactoryBean"
		lazy-init="true">
		<property name="jndiName">
			<value>com/ibm/task/api/HumanTaskManagerHome</value>
		</property>
		<property name="jndiEnvironment">
			<props>
				<prop key="java.naming.factory.initial">
					com.ibm.websphere.naming.WsnInitialContextFactory
				</prop>
				<prop key="java.naming.provider.url">
					iiop://10.32.2.27:2809/
				</prop>
				<prop key="java.naming.security.principal">admin</prop>
                <prop key="java.naming.security.credentials">111</prop>	
			</props>
		</property>
		<property name="businessInterface">
			<value>com.ibm.task.api.HumanTaskManager</value>
		</property>
	</bean> -->
	
<!-- local ejb -->
	
		<bean id="WorkflowManager"
		    class="org.springframework.ejb.access.LocalStatelessSessionProxyFactoryBean">	
		<property name="jndiName">
		<value>Local:ejb/com/ibm/bpe/api/BusinessFlowManagerHome</value>
		</property>
		<property name="businessInterface">
		<value>com.ibm.bpe.api.LocalBusinessFlowManager</value>
		</property>
		</bean>
		
		<bean id="HumanTaskManager"
		    class="org.springframework.ejb.access.LocalStatelessSessionProxyFactoryBean">	
		<property name="jndiName">
		<value>Local:ejb/com/ibm/task/api/HumanTaskManagerHome</value>
		</property>
		<property name="businessInterface">
		<value>com.ibm.task.api.LocalHumanTaskManager</value>
		</property>
		</bean>
	
	<bean id="BusinessFlowAdapterService"
		class="com.boco.eoms.sheet.base.adapter.service.wps.WPSBusinessFlowAdapterServiceImpl">
		<property name="engineService">
			<ref bean="WorkflowEngineService" />
		</property>
	</bean>
	
	<bean id="WorkflowEngineService"
		class="com.boco.eoms.sheet.base.adapter.service.wps.WPSEngineServiceImpl" >
		  <property name="workflowManager">
			<ref bean="WorkflowManager" />
		</property>
		<property name="humanTaskManager">
			<ref bean="HumanTaskManager" />
		</property>
		
	</bean>
	
	
	<bean id="WPSQueryHelper"
		class="com.boco.eoms.sheet.base.adapter.service.wps.WPSQueryHelper">
		 <property name="humanTaskManager">
			<ref bean="HumanTaskManager" />
		</property> 
		<property name="activityInstanceId">
			<value>TASK.TKIID</value>
		</property>
		<property name="taskInstancePropertyFile">
			<value>/config/taskInstance_wps.properties</value>
		</property>
		<property name="activityWorkitemQueryPropertyFile">
			<value>/config/activityWorkitemQuery_wps.properties</value>
		</property>
		<property name="activityWorkitemPropertyFile">
			<value>/config/activityWorkitem_wps.properties</value>
		</property>
		<property name="processInstanceQueryPropertyFile">
			<value>/config/processInstanceQuery_wps.properties</value>
		</property>
		<property name="processInstancePropertyFile">
			<value>/config/processInstance_wps.properties</value>
		</property>
		<property name="taskModelPropertyFile">
			<value>/config/taskModelQuery_wps.properties</value>
		</property>
	</bean>
</beans>