<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>


    <bean id="IPlannAdjustMainDAO"
          class="com.boco.eoms.sheet.plannadjust.dao.hibernate.PlannAdjustMainDAOHibernate" autowire="byName">
    </bean>
    <bean id="IPlannAdjustLinkDAO"
          class="com.boco.eoms.sheet.plannadjust.dao.hibernate.PlannAdjustLinkDAOHibernate" autowire="byName">
    </bean>
    <bean id="IPlannAdjustTaskDAO"
          class="com.boco.eoms.sheet.plannadjust.dao.hibernate.PlannAdjustTaskDAOHibernate" autowire="byName">
    </bean>
    <bean id="PlannAdjustTask"
          class="com.boco.eoms.sheet.plannadjust.model.PlannAdjustTask" autowire="byName">
    </bean>
    <bean id="PlannAdjustLink"
          class="com.boco.eoms.sheet.plannadjust.model.PlannAdjustLink"
          autowire="byName"/>
    <bean id="PlannAdjustMain"
          class="com.boco.eoms.sheet.plannadjust.model.PlannAdjustMain"
          autowire="byName"/>
    <bean id="iPlannAdjustTaskManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.plannadjust.service.impl.PlannAdjustTaskManagerImpl">
                <property name="taskModelObject" ref="PlannAdjustTask"/>
                <property name="taskDAO">
                    <ref bean="IPlannAdjustTaskDAO"/>
                </property>
                <property name="taskConfigPath">
                    <value>/config/plannadjustTaskConfig.properties</value>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iPlannAdjustFlowManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.plannadjust.service.impl.PlannAdjustFlowManagerImpl">
                <property name="businessFlowAdapterService">
                    <ref bean="BusinessFlowAdapterService"/>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iPlannAdjustLinkManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.plannadjust.service.impl.PlannAdjustLinkManagerImpl">
                <property name="linkObject" ref="PlannAdjustLink"/>
                <property name="linkDAO">
                    <ref bean="IPlannAdjustLinkDAO"/>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iPlannAdjustMainManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.plannadjust.service.impl.PlannAdjustMainManagerImpl">
                <property name="mainObject" ref="PlannAdjustMain"/>
                <property name="mainDAO">
                    <ref bean="IPlannAdjustMainDAO"/>
                </property>
                <property name="workSheetQO">
                    <ref bean="iPlannAdjustQo"/>
                </property>
                <property name="flowTemplateName">
                    <value>PlannAdjust</value>
                </property>
                <property name="roleConfigPath">
                    <value>classpath:config/plannadjust-config.xml</value>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="iPlannAdjustQo"
          class="com.boco.eoms.sheet.plannadjust.qo.impl.PlannAdjustQoImpl"
          autowire="byName" singleton="false">
        <property name="poMain" value="PlannAdjustMain"/>
        <property name="poLink" value="PlannAdjustLink"/>
        <property name="poTask" value="PlannAdjustTask"/>
        <property name="aliasMain" value="plannadjustMain"/>
        <property name="aliasLink" value="plannadjustLink"/>
        <property name="aliasTask" value="plannadjustTask"/>

    </bean>

    <bean id="PlannAdjust" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.plannadjust.webapp.action.PlannAdjustMethod">
                <property name="businessFlowService">
                    <ref bean="iPlannAdjustFlowManager"/>
                </property>
                <property name="linkService"
                          ref="iPlannAdjustLinkManager"/>
                <property name="mainService"
                          ref="iPlannAdjustMainManager"/>
                <property name="sheetTask"
                          ref="PlannAdjustTask"/>
                <property name="taskService"
                          ref="iPlannAdjustTaskManager"/>
                <property name="pageLength">
                    <value>15</value>
                </property>
                <property name="roleConfigPath">
                    <value>classpath:config/plannadjust-config.xml</value>
                </property>
            </bean>
        </property>
    </bean>

</beans>