<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
   <bean id="autoDistributeDao" class="com.boco.eoms.sheet.autodistribute.dao.hibernate.AutoDistributeDAOImpl" autowire="byName"/>
    <bean id="iAutoDistributeManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.sheet.autodistribute.service.impl.AutoDistributeManagerImpl">
                <property name="dao" ref="autoDistributeDao"/>
	        </bean>
        </property>
    </bean>
</beans>


















