<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <import resource="classpath:config/applicationContext-sheet-base.xml"/>
    <import resource="classpath:config/applicationContext-sheet-tool-relation.xml"/>
    <import resource="classpath:config/applicationContext-sheet-tool-access.xml"/>
    <import resource="classpath:config/applicationContext-sheet-sheetLimit.xml"/>
    <import resource="classpath:config/applicationContext-sheet-commonfault.xml"/>
    <import resource="classpath:config/applicationContext-sheet-urgentfault.xml"/>
    <import resource="classpath:config/applicationContext-sheet-commontask.xml"/>
    <import resource="classpath:config/applicationContext-sheet-complaint.xml"/>
    <import resource="classpath:config/applicationContext-sheet-groupcomplaint.xml"/>
    <import resource="classpath:config/applicationContext-sheet-businessplan.xml"/>
    <import resource="classpath:config/applicationContext-sheet-nBProducts.xml"/>
    <import resource="classpath:config/applicationContext-sheet-circuitdispatch.xml"/>
    <import resource="classpath:config/applicationContext-sheet-businesspilot.xml"/>
    <import resource="classpath:config/applicationContext-sheet-businessoperation.xml"/>
    <import resource="classpath:config/applicationContext-sheet-softchange.xml"/>
    <import resource="classpath:config/applicationContext-sheet-netdata.xml"/>
    <import resource="classpath:config/applicationContext-sheet-netchange.xml"/>
    <import resource="classpath:config/applicationContext-sheet-businessbackout.xml"/>
    <import resource="classpath:config/applicationContext-sheet-businessdredge.xml"/>
    <import resource="classpath:config/applicationContext-sheet-businessdredgebroad.xml"/>
    <import resource="classpath:config/applicationContext-sheet-resourceaffirm.xml"/>
    <import resource="classpath:config/applicationContext-sheet-businesschange.xml"/>
    <import resource="classpath:com/boco/eoms/crm/config/applicationContext-sheet-crmwaitinfo.xml"/>
    <import resource="classpath:config/applicationContext-sheet-itrequirement.xml"/>
    <import resource="classpath:config/applicationContext-sheet-securityDeal.xml"/>
    <import resource="classpath:config/applicationContext-sheet-itsoftchange.xml"/>
    <import resource="classpath:config/applicationContext-sheet-securityEvaluate.xml"/>
    <import resource="classpath:config/applicationContext-sheet-accountpopedomapply.xml"/>
    <import resource="classpath:config/applicationContext-sheet-safeaudit.xml"/>
    <import resource="classpath:config/applicationContext-sheet-netOptimize.xml"/>
    <import resource="classpath:config/applicationContext-sheet-greatEvent.xml"/>
    <import resource="classpath:config/applicationContext-sheet-emergencydrill.xml"/>
    <import resource="classpath:config/applicationContext-sheet-processchange.xml"/>
    <import resource="classpath:config/applicationContext-sheet-overtimetip.xml"/>
    <import resource="classpath:config/applicationContext-sheet-modifytime.xml"/>
    <import resource="classpath:config/applicationContext-sheet-autodistribute.xml"/>
    <import resource="classpath:config/applicationContext-sheet-sheetDealLimit.xml"/>
    <import resource="classpath:config/applicationContext-sheet-wfinterfaceinfo.xml"/>
    <import resource="classpath:config/applicationContext-sheet-dealtypeconfig.xml"/>
    <import resource="classpath:config/applicationContext-sheet-complaintDuban.xml"/>
    <import resource="classpath:config/applicationContext-sheet-netFault.xml"/>
    <import resource="classpath:config/applicationContext-sheet-kpi.xml"/>
    <import resource="classpath:config/applicationContext-sheet-datum.xml"/>
    <import resource="classpath:config/applicationContext-sheet-alarmsolveDate.xml"/>
    <import resource="classpath:config/applicationContext-sheet-bureaudataSave.xml"/>
    <import resource="classpath:config/applicationContext-sheet-circuitoperation.xml"/>
    <import resource="classpath:config/applicationContext-sheet-bureaudataUpdate.xml"/>
    <import resource="classpath:config/applicationContext-sheet-autoCrm.xml"/>
    <import resource="classpath:config/applicationContext-tawlocalrepository.xml"/>
    <import resource="classpath:config/applicationContext-sheet-numberapply.xml"/>
    <import resource="classpath:config/applicationContext-sheet-localCommonTask.xml"/>
    <import resource="classpath:config/applicationContext-sheet-offlineData.xml"/>
    <import resource="classpath:config/applicationContext-sheet-algorithm.xml"/>
    <import resource="classpath:config/applicationContext-sheet-softwareLoad.xml"/>
    <import resource="classpath:config/applicationContext-sheet-softwareApply.xml"/>
    <import resource="classpath:config/applicationContext-sheet-businessimplement.xml"/>
    <import resource="classpath:config/applicationContext-sheet-resourceconfirm.xml"/>
    <import resource="classpath:com/boco/eoms/businessupport/config/applicationContext-businesssupport-serviceprepare.xml"/>
    <import resource="classpath:com/boco/eoms/businessupport/config/applicationContext-businessmanager-attributes.xml"/>
    <import resource="classpath:com/boco/eoms/businessupport/config/applicationContext-businessupport-ordersheet.xml"/>
    <import resource="classpath:com/boco/eoms/businessupport/config/applicationContext-businessupport-gprsspecialline.xml"/>
    <import resource="classpath:com/boco/eoms/businessupport/config/applicationContext-businessupport-languagespecialline.xml"/>
    <import resource="classpath:com/boco/eoms/businessupport/config/applicationContext-businessupport-ipspecialline.xml"/>
    <import resource="classpath:com/boco/eoms/businessupport/config/applicationContext-businessupport-transferspecialline.xml"/>
    <import resource="classpath:com/boco/eoms/businessupport/config/applicationContext-businessupport-trancepoint.xml"/>
    <import resource="classpath:com/boco/eoms/partdata/config/applicationContext-partdata.xml"/>
    <import resource="classpath:config/applicationContext-sheet-agentmaintenance.xml"/>
    <import resource="classpath:config/applicationContext-sheet-arithmeticmodify.xml"/>
    <import resource="classpath:config/applicationContext-sheet-citycustom.xml"/>
    <import resource="classpath:config/applicationContext-sheet-transprovincial.xml"/>
    <import resource="classpath:config/applicationContext-sheet-industrysms.xml"/>
    <import resource="classpath:config/applicationContext-sheet-plannconfirm.xml"/>
    <import resource="classpath:config/applicationContext-sheet-plannadjust.xml"/>
    <import resource="classpath:config/applicationContext-netownership.xml"/>
    <import resource="classpath:config/applicationContext-sheet-circuitcontrol.xml"/>
    <import resource="classpath:config/applicationContext-sheet-equipmentsecurityresponse.xml"/>
    <import resource="classpath:config/applicationContext-sheet-securityobjattribute.xml"/>
    <import resource="classpath:config/applicationContext-sheet-securityobjaudit.xml"/>
    <import resource="classpath:config/applicationContext-sheet-commonfaultcorrigendum.xml"/>
    <import resource="classpath:config/applicationContext-sheet-groupcheck.xml"/>
    <import resource="classpath:config/applicationContext-sheet-focusresourceerrata.xml"/>
    <import resource="classpath:config/applicationContext-sheet-maintenanceservice.xml"/>
    <import resource="classpath:config/applicationContext-sheet-daiweiindexreduction.xml"/>
    <import resource="classpath:config/applicationContext-sheet-branchindexreduction.xml"/>
    <import resource="classpath:config/applicationContext-sheet-equipmentinstallation.xml"/>
    <import resource="classpath:config/applicationContext-sheet-equipmentunsubscribe.xml"/>
    <import resource="classpath:config/applicationContext-sheet-mofficedata.xml"/>
    <!-- update by ggr -->
    <import resource="classpath:config/applicationContext-sheet-supervisetask.xml"/>
</beans>    
