<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <!--SmsService-DAO START-->
    <bean id="ISchedulerDao" class="com.boco.eoms.message.dao.hibernate.SchedulerDaoHibernate_GanSu" autowire="byName"/>
    <!--SmsService-DAO END-->
    <!--SmsService-START-->
    <bean id="IschedulerManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.message.mgr.impl.SchedulerManagerImpl">
                <property name="ISchedulerDao" ref="ISchedulerDao"/>
            </bean>
        </property>
    </bean>
    <!--SmsService-END-->
</beans>