<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <!--TawSystemDictType-DAO START-->
    <bean id="ItawSystemDictTypeDao"
          class="com.boco.eoms.commons.system.dict.dao.hibernate.TawSystemDictTypeDaoHibernate"
          autowire="byName"/>

    <!--TawSystemDictType-DAO END-->
    <!--TawSystemDictType-START-->
    <bean id="ItawSystemDictTypeManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.commons.system.dict.service.impl.TawSystemDictTypeManagerImpl">
                <property name="dictTypeDao"
                          ref="ItawSystemDictTypeDao"/>
                <property name="roleMgr" ref="roleMgr"/>
                <property name="dictjdbc" ref="ITawSystemDictJDBC"/>
            </bean>
        </property>
    </bean>


    <bean id="roleMgr"
          class="com.boco.eoms.commons.system.role.service.impl.RoleMgrImpl"
          autowire="byName"/>
    <!--TawSystemDictType-END-->
    <bean id="ITawSystemDictJDBC"
          class="com.boco.eoms.commons.system.dict.dao.hibernate.TawSystemDictJDBCImpl"
          autowire="byName"/>


    <bean id="id2nameService"
          class="com.boco.eoms.commons.system.dict.service.impl.ID2NameServiceImpl"/>

    <bean id="DictXMLDom4jDocumentFactory"
          class="com.boco.eoms.commons.system.dict.service.impl.DictXMLDom4jDocumentFactory">
        <property name="register">
            <props>
                <prop key="common">
                    classpath:com/boco/eoms/commons/system/dict/config/dict-common.xml
                </prop>
                <prop key="dict-mainlistquery-common">
                    classpath:config/dict-mainlistquery-common.xml
                </prop>
                <prop key="sample">
                    classpath:com/boco/eoms/commons/system/dict/config/dict-sample.xml
                </prop>
                <prop key="sample-relation">
                    classpath:com/boco/eoms/commons/system/dict/config/dict-sample-relation.xml
                </prop>
                <prop key="dict-sheet-circuitoperation">
                    classpath:config/dict-sheet-circuitoperation.xml
                </prop>
                <prop key="dict-sheet-common">
                    classpath:config/dict-sheet-common.xml
                </prop>
                <prop key="sheet-security">
                    classpath:com/boco/eoms/sheet/security/config/dict-sheet-security.xml
                </prop>
                <prop key="sheet-security-relation">
                    classpath:com/boco/eoms/sheet/security/config/dict-sheet-security-relation.xml
                </prop>
                <prop key="dict-sheet-business">
                    classpath:config/dict-sheet-business.xml
                </prop>

                <prop key="dict-sheet-apply">
                    classpath:config/dict-sheet-apply.xml
                </prop>
                <prop key="dict-sheet-esm">
                    classpath:config/dict-sheet-esm.xml
                </prop>
                <prop key="dict-sheet-nop">
                    classpath:config/dict-sheet-nop.xml
                </prop>
                <prop key="dict-major-type">
                    classpath:com/boco/eoms/commons/sheet/special/config/dict-major-type.xml
                </prop>
                <prop key="dict-msg">
                    classpath:com/boco/eoms/message/dict/config/dict-msg.xml
                </prop>
                <prop key="dict-workplan">
                    classpath:com/boco/eoms/workplan/config/dict-workplan.xml
                </prop>
                <prop key="memo-dict">
                    classpath:com/boco/eoms/workbench/memo/config/memo-dict.xml
                </prop>
                <prop key="dict-workbench-infopub">
                    classpath:com/boco/eoms/workbench/infopub/config/dict-workbench-infopub.xml
                </prop>
                <prop key="dict-duty">
                    classpath:com/boco/eoms/duty/util/duty-dict.xml
                </prop>
                <prop key="dict-plancontent">
                    classpath:config/plancontent-dict.xml
                </prop>
                <prop key="dict-log">
                    classpath:com/boco/eoms/commons/log/config/logDict.xml
                </prop>
                <prop key="otherwise-relation">
                    classpath:config/dict-otherwise-relation.xml
                </prop>
                <prop key="dict-commission">
                    classpath:config/dict-commission.xml
                </prop>
                <prop key="dict-hongxun">
                    classpath:com/boco/eoms/commons/hongxun/config/hongxunDict.xml
                </prop>
                <prop key="dict-voiceMessage">
                    classpath:com/boco/eoms/commons/voiceMessage/config/voiceMessage.xml
                </prop>
                <prop key="dict-supplierkpi">
                    classpath:config/dict-supplierkpi.xml
                </prop>
                <prop key="dict-sheet-commonfault">
                    classpath:config/dict-sheet-commonfault.xml
                </prop>
                <prop key="dict-sheet-urgentfault">
                    classpath:config/dict-sheet-urgentfault.xml
                </prop>
                <prop key="dict-sheet-commontask">
                    classpath:config/dict-sheet-commontask.xml
                </prop>
                <prop key="dict-sheet-bureaudataSave">
                    classpath:config/dict-sheet-bureaudataSave.xml
                </prop>
                <prop key="dict-sheet-bureaudataUpdate">
                    classpath:config/dict-sheet-bureaudataUpdate.xml
                </prop>
                <prop key="dict-sheet-netFault">
                    classpath:config/dict-sheet-netFault.xml
                </prop>
                <prop key="dict-sheet-complaint">
                    classpath:config/dict-sheet-complaint.xml
                </prop>
                <prop key="dict-sheet-complaintDuban">
                    classpath:config/dict-sheet-complaintDuban.xml
                </prop>
                <prop key="dict-sheet-softwareApply">
                    classpath:config/dict-sheet-softwareApply.xml
                </prop>
                <prop key="dict-sheet-softwareLoad">
                    classpath:config/dict-sheet-softwareLoad.xml
                </prop>
                <prop key="dict-sheet-groupcomplaint">
                    classpath:config/dict-sheet-groupcomplaint.xml
                </prop>
                <prop key="dict-sheet-businessplan">
                    classpath:config/dict-sheet-businessplan.xml
                </prop>
                <prop key="dict-sheet-businesspilot">
                    classpath:config/dict-sheet-businesspilot.xml
                </prop>
                <prop key="dict-sheet-offlineData">
                    classpath:config/dict-sheet-offlineData.xml
                </prop>
                <prop key="dict-sheet-circuitdispatch">
                    classpath:config/dict-sheet-circuitdispatch.xml
                </prop>
                <prop key="dict-sheet-netchange">
                    classpath:config/dict-sheet-netchange.xml
                </prop>
                <prop key="dict-sheet-businessoperation">
                    classpath:config/dict-sheet-businessoperation.xml
                </prop>
                <prop key="dict-sheet-netdata">
                    classpath:config/dict-sheet-netdata.xml
                </prop>
                <prop key="dict-sheet-softchange">
                    classpath:config/dict-sheet-softchange.xml
                </prop>
                <prop key="dict-sheet-businessdredge">
                    classpath:config/dict-sheet-businessdredge.xml
                </prop>
                <prop key="dict-sheet-businessdredgebroad">
                    classpath:config/dict-sheet-businessdredgebroad.xml
                </prop>
                <prop key="dict-sheet-businesschange">
                    classpath:config/dict-sheet-businesschange.xml
                </prop>
                <prop key="dict-sheet-businessbackout">
                    classpath:config/dict-sheet-businessbackout.xml
                </prop>
                <prop key="dict-sheet-resourceaffirm">
                    classpath:config/dict-sheet-resourceaffirm.xml
                </prop>
                <prop key="dict-reported">
                    classpath:config/reported-dict.xml
                </prop>

                <prop key="dict-sheet-securityevaluate">
                    classpath:config/dict-sheet-securityevaluate.xml
                </prop>
                <prop key="dict-sheet-itrequirement">
                    classpath:config/dict-sheet-itrequirement.xml
                </prop>

                <prop key="dict-sheet-securitydeal">
                    classpath:config/dict-sheet-securitydeal.xml
                </prop>

                <prop key="dict-sheet-itsoftchange">
                    classpath:config/dict-sheet-itsoftchange.xml
                </prop>
                <prop key="dict-sheet-safeaudit">
                    classpath:config/dict-sheet-safeaudit.xml
                </prop>

                <prop key="dict-eva">
                    classpath:config/dict-eva.xml
                </prop>

                <prop key="dict-sheet-greatevent">
                    classpath:config/dict-sheet-greatevent.xml
                </prop>
                <prop key="dict-sheet-emergencydrill">
                    classpath:config/dict-sheet-emergencydrill.xml
                </prop>
                <prop key="dict-sheet-processchange">
                    classpath:config/dict-sheet-processchange.xml
                </prop>

                <prop key="dict-workbench-report">
                    classpath:config/dict-workbench-report.xml
                </prop>
                <prop key="dict-user">
                    classpath:config/dict-user.xml
                </prop>

                <prop key="dict-sheet-netOptimize">
                    classpath:config/dict-sheet-netOptimize.xml
                </prop>
                <prop key="dict-sheet-accountpopedomapply">
                    classpath:config/dict-sheet-accountpopedomapply.xml
                </prop>
                <prop key="dict-kmmanager">
                    classpath:com/boco/eoms/km/config/dict-kmmanager.xml
                </prop>
                <!-- 业务开通 -->
                <prop key="dict-sheet-businessimplement">
                    classpath:config/dict-sheet-businessimplement.xml
                </prop>
                <prop key="dict-sheet-resourceconfirm">
                    classpath:config/dict-sheet-resourceconfirm.xml
                </prop>
                <prop key="dict-repository">
                    classpath:com/boco/eoms/repository/config/dict-repository.xml
                </prop>
                <prop key="dict-businesssupport-professionalservicedirectory">
                    classpath:com/boco/eoms/businessupport/config/dict-businesssupport-professionalservicedirectory.xml
                </prop>
                <prop key="dict-sheet-numberapply">
                    classpath:config/dict-sheet-numberapply.xml
                </prop>
                <prop key="dict-sheet-localCommonTask">
                    classpath:config/dict-sheet-localCommonTask.xml
                </prop>
                <prop key="dict-sheet-algorithm">
                    classpath:config/dict-sheet-algorithm.xml
                </prop>
                <prop key="dict-sheet-agentmaintenance">
                    classpath:config/dict-sheet-agentmaintenance.xml
                </prop>
                <prop key="dict-sheet-arithmeticmodify">
                    classpath:config/dict-sheet-arithmeticmodify.xml
                </prop>
                <prop key="dict-sheet-citycustom">
                    classpath:config/dict-sheet-citycustom.xml
                </prop>
                <prop key="dict-sheet-transprovincial">
                    classpath:config/dict-sheet-transprovincial.xml
                </prop>
                <prop key="dict-sheet-industrysms">
                    classpath:config/dict-sheet-industrysms.xml
                </prop>
                <prop key="dict-sheet-plannconfirm">
                    classpath:config/dict-sheet-plannconfirm.xml
                </prop>
                <prop key="dict-sheet-plannadjust">
                    classpath:config/dict-sheet-plannadjust.xml
                </prop>
                <prop key="dict-sheet-circuitcontrol">
                    classpath:config/dict-sheet-circuitcontrol.xml
                </prop>

                <prop key="dict-sheet-equipmentsecurityresponse">
                    classpath:config/dict-sheet-equipmentsecurityresponse.xml
                </prop>

                <prop key="dict-sheet-securityobjattribute">
                    classpath:config/dict-sheet-securityobjattribute.xml
                </prop>

                <prop key="dict-sheet-securityobjaudit">
                    classpath:config/dict-sheet-securityobjaudit.xml
                </prop>

                <prop key="dict-sheet-commonfaultcorrigendum">
                    classpath:config/dict-sheet-commonfaultcorrigendum.xml
                </prop>

                <prop key="dict-sheet-groupcheck">
                    classpath:config/dict-sheet-groupcheck.xml
                </prop>

                <prop key="dict-sheet-focusresourceerrata">
                    classpath:config/dict-sheet-focusresourceerrata.xml
                </prop>

                <prop key="dict-sheet-maintenanceservice">
                    classpath:config/dict-sheet-maintenanceservice.xml
                </prop>

                <prop key="dict-sheet-daiweiindexreduction">
                    classpath:config/dict-sheet-daiweiindexreduction.xml
                </prop>

                <prop key="dict-sheet-branchindexreduction">
                    classpath:config/dict-sheet-branchindexreduction.xml
                </prop>

                <prop key="dict-sheet-equipmentinstallation">
                    classpath:config/dict-sheet-equipmentinstallation.xml
                </prop>


                <prop key="dict-sheet-equipmentunsubscribe">
                    classpath:config/dict-sheet-equipmentunsubscribe.xml
                </prop>

                <prop key="dict-sheet-mofficedata">
                    classpath:config/dict-sheet-mofficedata.xml
                </prop>

            </props>
        </property>
        <property name="saxReader">
            <bean class="org.dom4j.io.SAXReader"/>
        </property>
    </bean>

    <bean id="DictDaoXML"
          class="com.boco.eoms.commons.system.dict.dao.xml.DictDaoXML">
        <property name="dictXMLDom4jDocumentFactory"
                  ref="DictXMLDom4jDocumentFactory"/>
    </bean>

    <bean id="DictRelationDaoXML"
          class="com.boco.eoms.commons.system.dict.dao.xml.DictRelationDaoXML">
        <property name="dictXMLDom4jDocumentFactory"
                  ref="DictXMLDom4jDocumentFactory"/>
    </bean>

    <bean id="DictService"
          class="com.boco.eoms.commons.system.dict.service.impl.DictServiceImpl">
        <property name="dictDao" ref="DictDaoXML"/>
        <property name="dictRelationDao" ref="DictRelationDaoXML"/>
    </bean>


    <bean id="id2nameXML"
          class="com.boco.eoms.commons.system.dict.tags.ID2NameXMLHelper"/>

    <bean id="id2descriptionXML"
          class="com.boco.eoms.commons.system.dict.tags.ID2DescriptionXMLHelper"/>

    <bean id="dictId2descriptionXML"
          class="com.boco.eoms.commons.system.dict.tags.DictId2DescriptionXMLHelper"/>

    <bean id="selectXML"
          class="com.boco.eoms.commons.system.dict.tags.SelectXML"/>

    <bean id="selectRelationXML"
          class="com.boco.eoms.commons.system.dict.tags.SelectRelationXML"/>

</beans>



