<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>


    <bean id="IDaiWeiIndexReductionMainDAO"
          class="com.boco.eoms.sheet.daiweiindexreduction.dao.hibernate.DaiWeiIndexReductionMainDAOHibernate"
          autowire="byName">
    </bean>
    <bean id="IDaiWeiIndexReductionLinkDAO"
          class="com.boco.eoms.sheet.daiweiindexreduction.dao.hibernate.DaiWeiIndexReductionLinkDAOHibernate"
          autowire="byName">
    </bean>
    <bean id="IDaiWeiIndexReductionTaskDAO"
          class="com.boco.eoms.sheet.daiweiindexreduction.dao.hibernate.DaiWeiIndexReductionTaskDAOHibernate"
          autowire="byName">
    </bean>
    <bean id="DaiWeiIndexReductionTask"
          class="com.boco.eoms.sheet.daiweiindexreduction.model.DaiWeiIndexReductionTask" autowire="byName">
    </bean>
    <bean id="DaiWeiIndexReductionLink"
          class="com.boco.eoms.sheet.daiweiindexreduction.model.DaiWeiIndexReductionLink"
          autowire="byName"/>
    <bean id="DaiWeiIndexReductionMain"
          class="com.boco.eoms.sheet.daiweiindexreduction.model.DaiWeiIndexReductionMain"
          autowire="byName"/>
    <bean id="iDaiWeiIndexReductionTaskManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.daiweiindexreduction.service.impl.DaiWeiIndexReductionTaskManagerImpl">
                <property name="taskModelObject" ref="DaiWeiIndexReductionTask"/>
                <property name="taskDAO">
                    <ref bean="IDaiWeiIndexReductionTaskDAO"/>
                </property>
                <property name="taskConfigPath">
                    <value>/config/daiweiindexreductionTaskConfig.properties</value>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iDaiWeiIndexReductionFlowManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.daiweiindexreduction.service.impl.DaiWeiIndexReductionFlowManagerImpl">
                <property name="businessFlowAdapterService">
                    <ref bean="BusinessFlowAdapterService"/>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iDaiWeiIndexReductionLinkManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.daiweiindexreduction.service.impl.DaiWeiIndexReductionLinkManagerImpl">
                <property name="linkObject" ref="DaiWeiIndexReductionLink"/>
                <property name="linkDAO">
                    <ref bean="IDaiWeiIndexReductionLinkDAO"/>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iDaiWeiIndexReductionMainManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.daiweiindexreduction.service.impl.DaiWeiIndexReductionMainManagerImpl">
                <property name="mainObject" ref="DaiWeiIndexReductionMain"/>
                <property name="mainDAO">
                    <ref bean="IDaiWeiIndexReductionMainDAO"/>
                </property>
                <property name="workSheetQO">
                    <ref bean="iDaiWeiIndexReductionQo"/>
                </property>
                <property name="flowTemplateName">
                    <value>DaiWeiIndexReduction</value>
                </property>
                <property name="roleConfigPath">
                    <value>classpath:config/daiweiindexreduction-config.xml</value>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="iDaiWeiIndexReductionQo"
          class="com.boco.eoms.sheet.daiweiindexreduction.qo.impl.DaiWeiIndexReductionQoImpl"
          autowire="byName" singleton="false">
        <property name="poMain" value="DaiWeiIndexReductionMain"/>
        <property name="poLink" value="DaiWeiIndexReductionLink"/>
        <property name="poTask" value="DaiWeiIndexReductionTask"/>
        <property name="aliasMain" value="daiweiindexreductionMain"/>
        <property name="aliasLink" value="daiweiindexreductionLink"/>
        <property name="aliasTask" value="daiweiindexreductionTask"/>

    </bean>

    <bean id="DaiWeiIndexReduction" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.daiweiindexreduction.webapp.action.DaiWeiIndexReductionMethod">
                <property name="businessFlowService">
                    <ref bean="iDaiWeiIndexReductionFlowManager"/>
                </property>
                <property name="linkService"
                          ref="iDaiWeiIndexReductionLinkManager"/>
                <property name="mainService"
                          ref="iDaiWeiIndexReductionMainManager"/>
                <property name="sheetTask"
                          ref="DaiWeiIndexReductionTask"/>
                <property name="taskService"
                          ref="iDaiWeiIndexReductionTaskManager"/>
                <property name="pageLength">
                    <value>15</value>
                </property>
                <property name="roleConfigPath">
                    <value>classpath:config/daiweiindexreduction-config.xml</value>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="daiSubtractTableMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.daiweiindexreduction.service.impl.DaiSubtractTableMgrImpl">
                <property name="daiSubtractTableDao" ref="daiSubtractTableDao"/>
            </bean>
        </property>
    </bean>
    <bean id="daiSubtractTableDao"
          class="com.boco.eoms.sheet.daiweiindexreduction.dao.hibernate.DaiSubtractTableDaoHibernate"
          autowire="byName"/>

</beans>