.tabletest {
	BEHAVIOR: url(/EOMS_J2EE/css/table/inittable.htc);font-size: 12px;background-color:#9CB8F4;
}

.tabletest td {
	padding-left:4px;padding-right:4px;line-height: 150%; word-break:keep-all; word-wrap:normal;
}