<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <!--AccountPopedomApply-START-->

    <bean id="IAccountPopedomApplyMainDAO"
          class="com.boco.eoms.sheet.accountpopedomapply.dao.hibernate.AccountPopedomApplyMainDAOHibernate"
          autowire="byName">
    </bean>
    <bean id="IAccountPopedomApplyLinkDAO"
          class="com.boco.eoms.sheet.accountpopedomapply.dao.hibernate.AccountPopedomApplyLinkDAOHibernate"
          autowire="byName">
    </bean>
    <bean id="IAccountPopedomApplyTaskDAO"
          class="com.boco.eoms.sheet.accountpopedomapply.dao.hibernate.AccountPopedomApplyTaskDAOHibernate"
          autowire="byName">
    </bean>
    <bean id="AccountPopedomApplyTask"
          class="com.boco.eoms.sheet.accountpopedomapply.model.AccountPopedomApplyTask" autowire="byName">
    </bean>
    <bean id="AccountPopedomApplyLink"
          class="com.boco.eoms.sheet.accountpopedomapply.model.AccountPopedomApplyLink"
          autowire="byName"/>
    <bean id="AccountPopedomApplyMain"
          class="com.boco.eoms.sheet.accountpopedomapply.model.AccountPopedomApplyMain"
          autowire="byName"/>
    <bean id="iaccountpopedomapplyTask"
          class="com.boco.eoms.sheet.accountpopedomapply.task.impl.AccountPopedomApplyTaskImpl"
          autowire="byName"/>
    <bean id="iaccountpopedomapplyTaskManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.accountpopedomapply.service.impl.AccountPopedomApplyTaskManagerImpl">
                <property name="taskModelObject" ref="AccountPopedomApplyTask"/>
                <property name="taskDAO">
                    <ref bean="IAccountPopedomApplyTaskDAO"/>
                </property>
                <property name="taskConfigPath">
                    <value>/config/accountpopedomapplyTaskConfig.properties</value>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iAccountPopedomApplyFlowManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.accountpopedomapply.service.impl.AccountPopedomApplyFlowManagerImpl">
                <property name="businessFlowAdapterService">
                    <ref bean="BusinessFlowAdapterService"/>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iAccountPopedomApplyLinkManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.accountpopedomapply.service.impl.AccountPopedomApplyLinkManagerImpl">
                <property name="linkObject" ref="AccountPopedomApplyLink"/>
                <property name="linkDAO">
                    <ref bean="IAccountPopedomApplyLinkDAO"/>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iAccountPopedomApplyMainManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.accountpopedomapply.service.impl.AccountPopedomApplyMainManagerImpl">
                <property name="mainObject" ref="AccountPopedomApplyMain"/>
                <property name="mainDAO">
                    <ref bean="IAccountPopedomApplyMainDAO"/>
                </property>
                <property name="workSheetQO">
                    <ref bean="iAccountPopedomApplyQo"/>
                </property>
                <property name="flowTemplateName">
                    <value>AccountPopedomApplyProcess</value>
                </property>
                <property name="roleConfigPath">
                    <value>classpath:config/accountpopedomapply-config.xml</value>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="iAccountPopedomApplyQo"
          class="com.boco.eoms.sheet.accountpopedomapply.qo.impl.AccountPopedomApplyQoImpl"
          autowire="byName" singleton="false">
        <property name="poMain" value="AccountPopedomApplyMain"/>
        <property name="poLink" value="AccountPopedomApplyLink"/>
        <property name="aliasMain" value="accountPopedomApplyMain"/>
        <property name="aliasLink" value="accountPopedomApplyLink"/>
        <property name="poTask" value="AccountPopedomApplyTask"/>
        <property name="aliasTask" value="AccountPopedomApplyTask"/>
    </bean>

    <bean id="AccountPopedomApply" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.accountpopedomapply.webapp.action.AccountPopedomApplyMethod">
                <property name="businessFlowService">
                    <ref bean="iAccountPopedomApplyFlowManager"/>
                </property>
                <property name="linkService"
                          ref="iAccountPopedomApplyLinkManager"/>
                <property name="mainService"
                          ref="iAccountPopedomApplyMainManager"/>
                <property name="sheetTask"
                          ref="AccountPopedomApplyTask"/>
                <property name="taskService"
                          ref="iaccountpopedomapplyTaskManager"/>
                <property name="pageLength">
                    <value>15</value>
                </property>
                <property name="roleConfigPath">
                    <value>classpath:config/accountpopedomapply-config.xml</value>
                </property>
            </bean>
        </property>
    </bean>
    <!--AccountPopedomApply-END-->
</beans>
