<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>


    <bean id="INumberApplyMainDAO"
          class="com.boco.eoms.sheet.numberapply.dao.hibernate.NumberApplyMainDAOHibernate"
          autowire="byName">
    </bean>
    <bean id="INumberApplyLinkDAO"
          class="com.boco.eoms.sheet.numberapply.dao.hibernate.NumberApplyLinkDAOHibernate"
          autowire="byName">
    </bean>
    <bean id="INumberApplyTaskDAO"
          class="com.boco.eoms.sheet.numberapply.dao.hibernate.NumberApplyTaskDAOHibernate"
          autowire="byName">
    </bean>
    <bean id="NumberApplyTask"
          class="com.boco.eoms.sheet.numberapply.model.NumberApplyTask"
          autowire="byName">
    </bean>
    <bean id="NumberApplyLink"
          class="com.boco.eoms.sheet.numberapply.model.NumberApplyLink"
          autowire="byName"/>
    <bean id="NumberApplyMain"
          class="com.boco.eoms.sheet.numberapply.model.NumberApplyMain"
          autowire="byName"/>
    <bean id="iNumberApplyTaskManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.numberapply.service.impl.NumberApplyTaskManagerImpl">
                <property name="taskModelObject" ref="NumberApplyTask"/>
                <property name="taskDAO">
                    <ref bean="INumberApplyTaskDAO"/>
                </property>
                <property name="taskConfigPath">
                    <value>/config/numberapplyTaskConfig.properties</value>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iNumberApplyFlowManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.numberapply.service.impl.NumberApplyFlowManagerImpl">
                <property name="businessFlowAdapterService">
                    <ref bean="BusinessFlowAdapterService"/>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iNumberApplyLinkManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.numberapply.service.impl.NumberApplyLinkManagerImpl">
                <property name="linkObject" ref="NumberApplyLink"/>
                <property name="linkDAO">
                    <ref bean="INumberApplyLinkDAO"/>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iNumberApplyMainManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.numberapply.service.impl.NumberApplyMainManagerImpl">
                <property name="mainObject" ref="NumberApplyMain"/>
                <property name="mainDAO">
                    <ref bean="INumberApplyMainDAO"/>
                </property>
                <property name="workSheetQO">
                    <ref bean="iNumberApplyQo"/>
                </property>
                <property name="flowTemplateName">
                    <value>NumberApply</value>
                </property>
                <property name="roleConfigPath">
                    <value>classpath:config/numberapply-config.xml</value>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="iNumberApplyQo"
          class="com.boco.eoms.sheet.numberapply.qo.impl.NumberApplyQoImpl"
          autowire="byName" singleton="false">
        <property name="poMain" value="NumberApplyMain"/>
        <property name="poLink" value="NumberApplyLink"/>
        <property name="poTask" value="NumberApplyTask"/>
        <property name="aliasMain" value="numberapplyMain"/>
        <property name="aliasLink" value="numberapplyLink"/>
        <property name="aliasTask" value="numberapplyTask"/>

    </bean>

    <bean id="NumberApply" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.numberapply.webapp.action.NumberApplyMethod">
                <property name="businessFlowService">
                    <ref bean="iNumberApplyFlowManager"/>
                </property>
                <property name="linkService"
                          ref="iNumberApplyLinkManager"/>
                <property name="mainService"
                          ref="iNumberApplyMainManager"/>
                <property name="sheetTask" ref="NumberApplyTask"/>
                <property name="taskService"
                          ref="iNumberApplyTaskManager"/>
                <property name="pageLength">
                    <value>15</value>
                </property>
                <property name="roleConfigPath">
                    <value>classpath:config/numberapply-config.xml</value>
                </property>
            </bean>
        </property>
    </bean>
    <!-- add by zhouzhe  -->
    <bean id="INumberApplyHlrDAO"
          class="com.boco.eoms.sheet.numberapply.dao.hibernate.NumberApplyHlrDAOHibernate"
          autowire="byName"/>

    <bean id="INumberApplyMscDAO"
          class="com.boco.eoms.sheet.numberapply.dao.hibernate.NumberApplyMscDAOHibernate"
          autowire="byName"/>

    <bean id="INumberApplyBatchHlrDAO"
          class="com.boco.eoms.sheet.numberapply.dao.hibernate.NumberApplyBatchHlrDAOHibernate"
          autowire="byName"/>

    <bean id="INumberApplyBatchMscDAO"
          class="com.boco.eoms.sheet.numberapply.dao.hibernate.NumberApplyBatchMscDAOHibernate"
          autowire="byName"/>

    <bean id="iNumberApplyHlrManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.numberapply.service.impl.NumberApplyHlrManagerImpl">
                <property name="numberApplyHlrDAO">
                    <ref bean="INumberApplyHlrDAO"/>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="iNumberApplyMscManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.numberapply.service.impl.NumberApplyMscManagerImpl">
                <property name="numberApplyMscDAO">
                    <ref bean="INumberApplyMscDAO"/>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="iNumberApplyBatchHlrManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.numberapply.service.impl.INumberApplyBatchHlrManagerImpl">
                <property name="numberApplyBatchHlrDAO">
                    <ref bean="INumberApplyBatchHlrDAO"/>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="iNumberApplyBatchMscManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.numberapply.service.impl.INumberApplyBatchMscManagerImpl">
                <property name="numberApplyBatchMscDAO">
                    <ref bean="INumberApplyBatchMscDAO"/>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="RelationObjectManager" class="com.boco.eoms.sheet.numberapply.service.impl.RelationObjectManager">
        <!-- 根据字典值获得需要更新的资源来源模块的Module对象 -->
        <property name="fromQueryDataMoudle">
            <map>
                <!-- 格式：申请分类的字典值和申请资源种类的字典值组合而成 -->
                <entry key="101340201101340101" value="TawBureaudataHlr"/><!-- HLR 24位信令点 -->
                <entry key="101340201101340102" value="TawPartFourteenSignal"/><!-- HLR 14位信令点 -->
                <entry key="101340201101340103" value="TawBureaudataHlr"/><!-- HLR ID -->
                <entry key="101340202101340301" value="TawpartMscid"/><!-- MSC 24位信令点 -->
                <entry key="101340202101340302" value="TawPartFourteenSignal"/><!-- MSC 14位信令点 -->
                <entry key="101340202101340303" value="TawpartMscid"/><!-- MSC ID -->
            </map>
        </property>
        <!-- 根据字典值获得需要更新的资源来源模块的model的列（表中的列也可，因为表中的列是不区分大小写的） -->
        <property name="fromUpdateColumn">
            <map>
                <!-- 格式：申请分类的字典值和申请资源种类的字典值组合而成 -->
                <entry key="101340201101340101" value="hlrsignalid"/><!-- HLR 24位信令点 -->
                <entry key="101340201101340102" value="signalvalue"/><!-- HLR 14位信令点 -->
                <entry key="101340201101340103" value="hlrid"/><!-- HLR ID -->
                <entry key="101340202101340301" value="signalname"/><!-- MSC 24位信令点 -->
                <entry key="101340202101340302" value="signalvalue"/><!-- MSC 14位信令点 -->
                <entry key="101340202101340303" value="numberFree"/><!-- MSC ID -->
            </map>
        </property>
        <!-- 根据字典值获得需要更新的动态表 -->
        <property name="fromUpdateDynamic">
            <map>
                <!-- 格式：申请分类的字典值和申请资源种类的字典值组合而成 -->
                <entry key="101340201101340101" value="NumberApplyHlrid"/><!-- HLR 24位信令点 -->
                <entry key="101340201101340102" value="NumberApplyHlrid"/><!-- HLR 14位信令点 -->
                <entry key="101340201101340103" value="NumberApplyHlrid"/><!-- HLR ID -->
                <entry key="101340202101340301" value="NumberApplyMscid"/><!-- MSC 24位信令点 -->
                <entry key="101340202101340302" value="NumberApplyMscid"/><!-- MSC 14位信令点 -->
                <entry key="101340202101340303" value="NumberApplyMscid"/><!-- MSC ID -->
            </map>
        </property>
        <!-- 根据字典值获得手动分配时从页面传过来的选中的id的值的名称-->
        <property name="fromManualId">
            <map>
                <!-- 格式：申请分类的字典值和申请资源种类的字典值组合而成 -->
                <entry key="101340201101340101" value="radio24Id"/><!-- HLR 24位信令点 -->
                <entry key="101340201101340102" value="radio14Id"/><!-- HLR 14位信令点 -->
                <entry key="101340201101340103" value="radioidId"/><!-- HLR ID -->
                <entry key="101340202101340301" value="radio24Id"/><!-- MSC 24位信令点 -->
                <entry key="101340202101340302" value="radio14Id"/><!-- MSC 14位信令点 -->
                <entry key="101340202101340303" value="radioidId"/><!-- MSC ID -->
            </map>
        </property>

        <!-- 根据字典值获得手动分配时从页面传过来的选中的值的名称-->
        <property name="fromManualValue">
            <map>
                <!-- 格式：申请分类的字典值和申请资源种类的字典值组合而成 -->
                <entry key="101340201101340101" value="radio24Value"/><!-- HLR 24位信令点 -->
                <entry key="101340201101340102" value="radio14Value"/><!-- HLR 14位信令点 -->
                <entry key="101340201101340103" value="radioidValue"/><!-- HLR ID -->
                <entry key="101340202101340301" value="radio24Value"/><!-- MSC 24位信令点 -->
                <entry key="101340202101340302" value="radio14Value"/><!-- MSC 14位信令点 -->
                <entry key="101340202101340303" value="radioidValue"/><!-- MSC ID -->
            </map>
        </property>

        <!-- 根据字典值获得手动分配时从页面传过来的该条记录原来的24位信令点、14位信令点或者是hlrid或mscid的值的名称-->
        <property name="fromManualResource">
            <map>
                <!-- 格式：申请分类的字典值和申请资源种类的字典值组合而成 -->
                <entry key="101340201101340101" value="commond24"/><!-- HLR 24位信令点 -->
                <entry key="101340201101340102" value="commond14"/><!-- HLR 14位信令点 -->
                <entry key="101340201101340103" value="commondid"/><!-- HLR ID -->
                <entry key="101340202101340301" value="commond24"/><!-- MSC 24位信令点 -->
                <entry key="101340202101340302" value="commond14"/><!-- MSC 14位信令点 -->
                <entry key="101340202101340303" value="commondid"/><!-- MSC ID -->
            </map>
        </property>

        <!--  两张动态表格的表名和module -->
        <property name="needUpdateObject">
            <map>
                <!-- 格式：申请分类的字典值来取得该动态表的对象 -->
                <entry key="101340201Module" value="NumberApplyHlrid"/>
                <entry key="101340202Module" value="NumberApplyMscid"/>
                <!-- 格式：申请分类的字典值来取得该动态表的表名 -->
                <entry key="101340201Table" value="NumberApply_HLRID"/>
                <entry key="101340202Table" value="NumberApply_MSCID"/>
            </map>
        </property>

        <!-- 两张动态表格需要更新的列名 -->
        <property name="neeeUpdateColumn">
            <map>
                <!-- 格式：申请分类的字典值来取得该动态表格的字段 -->
                <entry key="101340201101340101" value="commandCode24"/>
                <entry key="101340201101340102" value="commandCode14"/>
                <entry key="101340201101340103" value="hlrId"/>
                <entry key="101340202101340301" value="commandCode24"/>
                <entry key="101340202101340302" value="commandCode14"/>
                <entry key="101340202101340303" value="mscId"/>
            </map>
        </property>

        <!-- 需要更新的column取值所对应的对象和属性 -->
        <property name="needValueMappingTableColumn">
            <map>
                <entry key="101340201commandCode24" value="TawBureaudataHlr,hlrsignalid"/><!-- HLR 24位信令点 -->
                <entry key="101340201commandCode14" value="TawPartFourteenSignal,signalvalue"/><!-- HLR 14位信令点 -->
                <entry key="101340201hlrId" value="TawBureaudataHlr,hlrid"/><!-- HLR ID -->
                <entry key="101340202commandCode24" value="TawpartMscid,signalname"/><!-- MSC 24位信令点 -->
                <entry key="101340202commandCode14" value="TawPartFourteenSignal,signalvalue"/><!-- MSC 14位信令点 -->
                <entry key="101340202mscId" value="TawpartMscid,numberFree"/><!-- MSC ID -->
            </map>
        </property>


    </bean>


</beans>