<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>


    <bean id="ITransprovincialMainDAO"
		class="com.boco.eoms.sheet.transprovincial.dao.hibernate.TransprovincialMainDAOHibernate" autowire="byName">
      </bean>
	<bean id="ITransprovincialLinkDAO"
		class="com.boco.eoms.sheet.transprovincial.dao.hibernate.TransprovincialLinkDAOHibernate" autowire="byName">
     </bean>
     <bean id="ITransprovincialTaskDAO"
		class="com.boco.eoms.sheet.transprovincial.dao.hibernate.TransprovincialTaskDAOHibernate" autowire="byName">
     </bean>
     <bean id="TransprovincialTask"
		class="com.boco.eoms.sheet.transprovincial.model.TransprovincialTask" autowire="byName">
     </bean>
    <bean id="TransprovincialLink"
		class="com.boco.eoms.sheet.transprovincial.model.TransprovincialLink"
		autowire="byName" />
	<bean id="TransprovincialMain"
		class="com.boco.eoms.sheet.transprovincial.model.TransprovincialMain"
		autowire="byName" />
	<bean id="iTransprovincialTaskManager" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.transprovincial.service.impl.TransprovincialTaskManagerImpl">
				<property name="taskModelObject" ref="TransprovincialTask" />
				<property name="taskDAO">
					<ref bean="ITransprovincialTaskDAO" />
				</property>
				<property name="taskConfigPath">
			       <value>/config/transprovincialTaskConfig.properties</value>
		        </property>				
			</bean>
		</property>
	</bean>	
	<bean id="iTransprovincialFlowManager" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.transprovincial.service.impl.TransprovincialFlowManagerImpl">
				<property name="businessFlowAdapterService">
					<ref bean="BusinessFlowAdapterService" />
				</property>
			</bean>
		</property>
	</bean>
	<bean id="iTransprovincialLinkManager" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.transprovincial.service.impl.TransprovincialLinkManagerImpl">
				<property name="linkObject" ref="TransprovincialLink"/>
				<property name="linkDAO">
				  <ref bean="ITransprovincialLinkDAO"/>
				</property>
			</bean>
		</property>
	</bean>
	<bean id="iTransprovincialMainManager" parent="txProxyTemplate">
	<property name="target">
			<bean
				class="com.boco.eoms.sheet.transprovincial.service.impl.TransprovincialMainManagerImpl">
			    <property name="mainObject" ref="TransprovincialMain" />
				<property name="mainDAO">
				 <ref bean="ITransprovincialMainDAO" />
				 </property>
				 <property name="workSheetQO">
					<ref bean="iTransprovincialQo" />
				</property>
				 <property name="flowTemplateName">
					<value>Transprovincial</value>
				</property>
				<property name="roleConfigPath">
					<value>classpath:config/transprovincial-config.xml</value>
				</property>
			</bean>
		</property>
	</bean> 

   <bean id="iTransprovincialQo"
		class="com.boco.eoms.sheet.transprovincial.qo.impl.TransprovincialQoImpl"
		autowire="byName" singleton="false" >
		<property name="poMain" value="TransprovincialMain" />
		<property name="poLink" value="TransprovincialLink" />
		<property name="poTask" value="TransprovincialTask" />
		<property name="aliasMain" value="transprovincialMain" />
		<property name="aliasLink" value="transprovincialLink" />
		<property name="aliasTask" value="transprovincialTask" />

	</bean>

	<bean id="Transprovincial" parent="txProxyTemplate"> 
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.transprovincial.webapp.action.TransprovincialMethod">
				<property name="businessFlowService" >
					<ref bean="iTransprovincialFlowManager" />
			   </property>
				<property name="linkService" 
					ref="iTransprovincialLinkManager" />
				<property name="mainService"
					ref="iTransprovincialMainManager" />
				<property name="sheetTask"
					ref="TransprovincialTask" />
				<property name="taskService"
					ref="iTransprovincialTaskManager" />	
				<property name="pageLength">
					<value>15</value>
				</property>
				<property name="roleConfigPath">
					<value>classpath:config/transprovincial-config.xml</value>
				</property>
			</bean>
		</property>
	</bean>        

</beans>