<?xml version="1.0"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="IBusinessPilotMainDao" class="com.boco.eoms.sheet.businesspilot.dao.hibernate.BusinessPilotMainDaoHibernate" autowire="byName">
	
      </bean>
	<bean id="IBusinessPilotLinkDao" class="com.boco.eoms.sheet.businesspilot.dao.hibernate.BusinessPilotLinkDaoHibernate" autowire="byName">
	  
      </bean>

	<bean id="iBusinessPilotTaskDAO" class="com.boco.eoms.sheet.businesspilot.dao.hibernate.BusinessPilotTaskDAOHibernate" autowire="byName">
      
      </bean>
</beans>