<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!-- 工单属性配置
		<import
		resource="classpath:config/applicationContext-sheet-attributes.xml" />
	-->
	<!-- 工单dao -->
	<import
		resource="classpath:config/applicationContext-sheet-businesspilot-dao.xml" />

	<!-- 工单service-->
	<import
		resource="classpath:config/applicationContext-sheet-businesspilot-service.xml" />

</beans>
