<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
 <!--BureaudataUpdate-START-->    

    <bean id="IBureaudataUpdateMainDAO"
		class="com.boco.eoms.sheet.bureaudataUpdate.dao.hibernate.BureaudataUpdateMainDAOHibernate" autowire="byName">
      </bean>
	<bean id="IBureaudataUpdateLinkDAO"
		class="com.boco.eoms.sheet.bureaudataUpdate.dao.hibernate.BureaudataUpdateLinkDAOHibernate" autowire="byName">
     </bean>
     <bean id="IBureaudataUpdateTaskDAO"
		class="com.boco.eoms.sheet.bureaudataUpdate.dao.hibernate.BureaudataUpdateTaskDAOHibernate" autowire="byName">
     </bean>
     <bean id="BureaudataUpdateTask"
		class="com.boco.eoms.sheet.bureaudataUpdate.model.BureaudataUpdateTask" autowire="byName">
     </bean>
    <bean id="BureaudataUpdateLink"
		class="com.boco.eoms.sheet.bureaudataUpdate.model.BureaudataUpdateLink"
		autowire="byName" />
	<bean id="BureaudataUpdateMain"
		class="com.boco.eoms.sheet.bureaudataUpdate.model.BureaudataUpdateMain"
		autowire="byName" />
	<bean id="iBureaudataUpdateTask"
		class="com.boco.eoms.sheet.bureaudataUpdate.task.impl.BureaudataUpdateTaskImpl"
		autowire="byName" />
	<bean id="iBureaudataUpdateTaskManager" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.bureaudataUpdate.service.impl.BureaudataUpdateTaskManagerImpl">
				<property name="taskModelObject" ref="BureaudataUpdateTask" />
				<property name="taskDAO">
					<ref bean="IBureaudataUpdateTaskDAO" />
				</property>
				<property name="taskConfigPath">
					<value>/config/bureaudataUpdateConfig.properties</value>
				</property>
			</bean>
		</property>
	</bean>	
	<bean id="iBureaudataUpdateFlowManager" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.bureaudataUpdate.service.impl.BureaudataUpdateFlowManagerImpl">
				<property name="businessFlowAdapterService">
					<ref bean="BusinessFlowAdapterService" />
				</property>
			</bean>
		</property>
	</bean>
	<bean id="iBureaudataUpdateLinkManager" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.bureaudataUpdate.service.impl.BureaudataUpdateLinkManagerImpl">
				<property name="linkObject" ref="BureaudataUpdateLink"/>
				<property name="linkDAO">
				  <ref bean="IBureaudataUpdateLinkDAO"/>
				</property>
			</bean>
		</property>
	</bean>
	<bean id="iBureaudataUpdateMainManager" parent="txProxyTemplate">
	<property name="target">
			<bean
				class="com.boco.eoms.sheet.bureaudataUpdate.service.impl.BureaudataUpdateMainManagerImpl">
			    <property name="mainObject" ref="BureaudataUpdateMain" />
				<property name="mainDAO">
				 <ref bean="IBureaudataUpdateMainDAO" />
				 </property>
				 <property name="workSheetQO">
					<ref bean="iBureaudataUpdateQo" />
				</property>
				 <property name="flowTemplateName">
					<value>BureaudataUpdateProcess</value>
				</property>
				<property name="roleConfigPath">
					<value>classpath:config/bureaudataupdateprocess-config.xml</value>
				</property>				
			</bean>
		</property>
	</bean> 

   <bean id="iBureaudataUpdateQo"
		class="com.boco.eoms.sheet.bureaudataUpdate.qo.impl.BureaudataUpdateQoImpl"
		autowire="byName" singleton="false" >
		<property name="poMain" value="BureaudataUpdateMain" />
		<property name="poLink" value="BureaudataUpdateLink" />
		<property name="aliasMain" value="BureaudataUpdateMain" />
		<property name="aliasLink" value="BureaudataUpdateLink" />
		<property name="poTask" value="BureaudataUpdateTask" />
	    <property name="aliasTask" value="BureaudataUpdateTask" />			
	</bean>

	<bean id="BureaudataUpdate" parent="txProxyTemplate"> 
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.bureaudataUpdate.webapp.action.BureaudataUpdateMethod">
				<property name="businessFlowService" >
					<ref bean="iBureaudataUpdateFlowManager" />
			   </property>
				<property name="linkService" 
					ref="iBureaudataUpdateLinkManager" />
				<property name="mainService"
					ref="iBureaudataUpdateMainManager" />
				<property name="sheetTask"
					ref="BureaudataUpdateTask" />
				<property name="taskService"
					ref="iBureaudataUpdateTaskManager" />	
				<property name="pageLength">
					<value>15</value>
				</property>
				<property name="roleConfigPath">
					<value>classpath:config/bureaudataupdateprocess-config.xml</value>
				</property>
			</bean>
		</property>
	</bean>        
     <!--BureaudataUpdate-END-->  
</beans>
