<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <import
            resource="classpath:config/applicationContext-duty-attributes.xml"/>

    <!--TawRmDispatchRecord-DAO START-->
    <bean id="tawRmDispatchRecordDao" class="com.boco.eoms.duty.dao.hibernate.TawRmDispatchRecordDaoHibernate"
          autowire="byName"/>
    <!--TawRmDispatchRecord-DAO END-->
    <!--TawRmDispatchRecord-START-->
    <bean id="ITawRmDispatchRecordManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.duty.service.impl.TawRmDispatchRecordManagerImpl">
                <property name="tawRmDispatchRecordDao" ref="tawRmDispatchRecordDao"/>
            </bean>
        </property>
    </bean>
    <!--TawRmDispatchRecord-END-->

    <!--TawRmLoanRecord-DAO START-->
    <bean id="tawRmLoanRecordDao" class="com.boco.eoms.duty.dao.hibernate.TawRmLoanRecordDaoHibernate"
          autowire="byName"/>
    <!--TawRmLoanRecord-DAO END-->
    <!--TawRmLoanRecord-START-->
    <bean id="ITawRmLoanRecordManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.duty.service.impl.TawRmLoanRecordManagerImpl">
                <property name="tawRmLoanRecordDao" ref="tawRmLoanRecordDao"/>
            </bean>
        </property>
    </bean>

    <!--TawRmArticle-DAO START-->
    <bean id="tawRmArticleDao" class="com.boco.eoms.duty.dao.hibernate.TawRmArticleDaoHibernate" autowire="byName"/>
    <!--TawRmArticle-DAO END-->
    <!--TawRmArticle-START   -->
    <bean id="ITawRmArticleManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.duty.service.impl.TawRmArticleManagerImpl">
                <property name="tawRmArticleDao" ref="tawRmArticleDao"/>
            </bean>
        </property>
    </bean>

    <!--TawNetTransfer-DAO START-->
    <bean id="tawNetTransferDao" class="com.boco.eoms.duty.dao.hibernate.TawNetTransferDaoHibernate" autowire="byName"/>
    <!--TawNetTransfer-DAO END-->
    <!--TawRmLoanRecord-START   -->
    <bean id="ITawNetTransferManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.duty.service.impl.TawNetTransferManagerImpl">
                <property name="tawNetTransferDao" ref="tawNetTransferDao"/>
            </bean>
        </property>
    </bean>

    <!--TawNetTransfer-DAO-END-->

    <!--TawNetTransferSub-DAO START-->
    <bean id="tawNetTransferSubDao" class="com.boco.eoms.duty.dao.hibernate.TawNetTransferSubDaoHibernate"
          autowire="byName"/>
    <!--TawNetTransfer-DAO END-->
    <!--TawRmLoanRecord-START   -->
    <bean id="ITawNetTransferSubManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.duty.service.impl.TawNetTransferSubManagerImpl">
                <property name="tawNetTransferSubDao" ref="tawNetTransferSubDao"/>
            </bean>
        </property>
    </bean>

    <!--TawNetTransferSub-END-->
    <!--TawExpertInfo-DAO START-->
    <bean id="tawExpertInfoDao" class="com.boco.eoms.duty.dao.hibernate.TawExpertInfoDaoHibernate" autowire="byName"/>
    <!--TawExpertInfo-DAO END-->
    <!--TawExpertInfo-START   -->
    <bean id="ITawExpertInfoManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.duty.service.impl.TawExpertInfoManagerImpl">
                <property name="tawExpertInfoDao" ref="tawExpertInfoDao"/>
            </bean>
        </property>
    </bean>

    <!--TawExpertInfo-DAO-END-->

    <!--TawExpertSub-DAO START-->
    <bean id="tawExpertSubDao" class="com.boco.eoms.duty.dao.hibernate.TawExpertSubDaoHibernate" autowire="byName"/>
    <!--TawExpert-DAO END-->
    <!--TawRmLoanRecord-START   -->
    <bean id="ITawExpertSubManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.duty.service.impl.TawExpertSubManagerImpl">
                <property name="tawExpertSubDao" ref="tawExpertSubDao"/>
            </bean>
        </property>
    </bean>

    <!--TawExpertSub-END-->

    <!--TawRmLogUnite-DAO START-->
    <bean id="tawRmLogUniteDao" class="com.boco.eoms.duty.dao.hibernate.TawRmLogUniteDaoHibernate" autowire="byName"/>
    <!--TawRmLogUnite-DAO END-->
    <!--TawRmLogUnite-START-->
    <bean id="ITawRmLogUniteManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.duty.service.impl.TawRmLogUniteManagerImpl">
                <property name="tawRmLogUniteDao" ref="tawRmLogUniteDao"/>
            </bean>
        </property>
    </bean>
    <!--TawRmLogUnite-END-->

    <!--TawRmPlanContent-DAO START-->
    <bean id="tawRmPlanContentDao" class="com.boco.eoms.duty.dao.hibernate.TawRmPlanContentDaoHibernate"
          autowire="byName"/>
    <!--TawRmPlanContent-DAO END-->
    <!--TawRmPlanContent-START-->
    <bean id="ITawRmPlanContentManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.duty.service.impl.TawRmPlanContentManagerImpl">
                <property name="tawRmPlanContentDao" ref="tawRmPlanContentDao"/>
            </bean>
        </property>
    </bean>
    <!--TawRmPlanContent-END-->

    <!--TawRmReliefRecord-DAO START-->
    <bean id="tawRmReliefRecordDao" class="com.boco.eoms.duty.dao.hibernate.TawRmReliefRecordDaoHibernate"
          autowire="byName"/>
    <!--TawRmReliefRecord-DAO END-->
    <!--TawRmReliefRecord-START-->
    <bean id="ITawRmReliefRecordManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.duty.service.impl.TawRmReliefRecordManagerImpl">
                <property name="tawRmReliefRecordDao" ref="tawRmReliefRecordDao"/>
            </bean>
        </property>
    </bean>
    <!--TawRmReliefRecord-END-->

    <!--TawRmVisitRecord-DAO START-->
    <bean id="tawRmVisitRecordDao" class="com.boco.eoms.duty.dao.hibernate.TawRmVisitRecordDaoHibernate"
          autowire="byName"/>
    <!--TawRmVisitRecord-DAO END-->
    <!--TawRmVisitRecord-START-->
    <bean id="ITawRmVisitRecordManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.duty.service.impl.TawRmVisitRecordManagerImpl">
                <property name="tawRmVisitRecordDao" ref="tawRmVisitRecordDao"/>
            </bean>
        </property>
    </bean>
    <!--TawRmVisitRecord-END-->

    <!--TawRmWorkorderRecord-DAO START-->
    <bean id="tawRmWorkorderRecordDao" class="com.boco.eoms.duty.dao.hibernate.TawRmWorkorderRecordDaoHibernate"
          autowire="byName"/>
    <!--TawRmWorkorderRecord-DAO END-->
    <!--TawRmWorkorderRecord-START-->
    <bean id="ITawRmWorkorderRecordManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.duty.service.impl.TawRmWorkorderRecordManagerImpl">
                <property name="tawRmWorkorderRecordDao" ref="tawRmWorkorderRecordDao"/>
                <property name="tawRmWorkOrderRecordJdbc" ref="tawRmWorkOrderRecordJdbc"/>
            </bean>
        </property>
    </bean>
    <!--TawRmWorkorderRecord-END-->
    <bean id="tawRmWorkOrderRecordJdbc" class="com.boco.eoms.duty.dao.hibernate.TawRmWorkOrderJdbcImpl"
          autowire="byName"/>

    <bean id="tawRmReplaceDaoJdbc" class="com.boco.eoms.duty.dao.jdbc.TawRmReplaceDaoJDBC" autowire="byName"/>

    <bean id="tawRmReplaceDao" class="com.boco.eoms.duty.dao.hibernate.TawRmReplaceDaoHibernate" autowire="byName"/>
    <bean id="ItawRmReplaceManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.duty.service.impl.TawRmReplaceManagerImpl">
                <property name="tawRmReplaceDao" ref="tawRmReplaceDao"/>
                <property name="tawRmReplaceDaoJdbc" ref="tawRmReplaceDaoJdbc"/>
                <property name="privMgrImpl" ref="PrivMgrImpl"/>
                <property name="tawSystemPrivMenuManager" ref="ItawSystemPrivMenuManager"/>
            </bean>
        </property>
    </bean>

    <!-- TawRmAssignwork -->
    <bean id="ItawRmAssignworkManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.duty.service.impl.TawRmAssignworkManagerImpl"/>
        </property>
    </bean>

    <!-- Faultrecord -->
    <bean id="faultrecordDao" class="com.boco.eoms.duty.dao.hibernate.FaultrecordDaoHibernate" autowire="byName"/>

    <bean id="FaultrecordBO" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.duty.faultrecord.bo.FaultrecordBO">
                <property name="faultrecordDao" ref="faultrecordDao"/>
            </bean>
        </property>
    </bean>

    <!--ITawRmExchangePerManager-START-->
    <bean id="tawRmExchangePerDao" class="com.boco.eoms.duty.dao.hibernate.TawRmExchangePerDaoHibernate"
          autowire="byName"/>
    <!--tawRmExchangePerDao-DAO END-->
    <!--ITawRmExchangePerManager-START-->
    <bean id="tawRmExchangePerManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.duty.service.impl.TawRmExchangePerManagerImpl">
                <property name="tawRmExchangePerDao" ref="tawRmExchangePerDao"/>
            </bean>
        </property>
    </bean>
    <!--tawRmDao-DAO START-->
    <bean id="tawRmDutyEventDao" class="com.boco.eoms.duty.dao.hibernate.TawRmDutyEventDaoHibernate" autowire="byName"/>
    <!--tawRmDutyenventDao-DAO END-->
    <!--ITawRmDutyEnventManager-START-->
    <bean id="ITawRmDutyEnventManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.duty.service.impl.TawRmDutyEventManagerImpl">
                <property name="tawRmDutyEventDao" ref="tawRmDutyEventDao"/>
            </bean>
        </property>
    </bean>

    <!--tawRmDutyEventPubDao-DAO START-->
    <bean id="tawRmDutyEventPubDao" class="com.boco.eoms.duty.dao.hibernate.TawRmDutyEventPubDaoHibernate"
          autowire="byName"/>
    <!--tawRmDutyEventPubDao-DAO END-->
    <!--ITawRmDutyEventPubManager-START-->
    <bean id="tawRmDutyEnventPubManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.duty.service.impl.TawRmDutyEventPubManagerImpl">
                <property name="tawRmDutyEventPubDao" ref="tawRmDutyEventPubDao"/>
            </bean>
        </property>
    </bean>
    <!--ITawRmDutyEventPubDaoManager END-->

    <!--ITawRmDutyCacheManager-START-->
    <bean id="ITawRmDutyCacheManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.duty.service.impl.TawRmDutyCacheManagerImpl"/>
        </property>
    </bean>

</beans>
