<?xml version="1.0"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<!-- sample config file  , 
			create new config file in your module -->
<beans>
    <!-- 配置信息类 -->
    <bean id="statCommonfaultConfigManager"
          class="com.boco.eoms.commons.statistic.base.mgr.impl.StatConfigManagerImpl"
          autowire="byName">

        <!-- 是否每次都从新获取配置文件 true:时时都读取 false：相反-->
        <property name="reloadConfig">
            <value>true</value>
        </property>

        <!-- 配置Excel文件路径 key为url传入的参数，value对应文件名称  -->
        <property name="excelConfigMap">
            <map>


                <!--oracle-->
                <entry key="commonfault-std_oracle">
                    <value>
                        classpath:config/statistic/commonfault-config/oracle/statistic-config-excel-commonfault-std_oracle.xls
                    </value>
                </entry>
                <entry key="commonfault_delay_KPI3_oracle">
                    <value>
                        classpath:config/statistic/commonfault-config/oracle/statistic-config-excel-commonfault_delay_KPI3_oracle.xls
                    </value>
                </entry>
                <entry key="commonfault_T_resolve_KPI4_oracle">
                    <value>
                        classpath:config/statistic/commonfault-config/oracle/statistic-config-excel-commonfault_T_resolve_KPI4_oracle.xls
                    </value>
                </entry>
                <!-- 压力测试使用 不要删除 -->
                <entry key="commonfault_T_resolve_KPI4_oracle_test">
                    <value>
                        classpath:config/statistic/commonfault-config/oracle/statistic-config-excel-commonfault_T_resolve_KPI4_oracle_test.xls
                    </value>
                </entry>

                <entry key="commonfault_T_resolve_KPI5_oracle">
                    <value>
                        classpath:config/statistic/commonfault-config/oracle/statistic-config-excel-commonfault_T_resolve_KPI5_oracle.xls
                    </value>
                </entry>
                <entry key="commonfault_T_resolve_KPI6_oracle">
                    <value>
                        classpath:config/statistic/commonfault-config/oracle/statistic-config-excel-commonfault_T_resolve_KPI6_oracle.xls
                    </value>
                </entry>
                <entry key="commonfault-onetimepass-KPI2_oracle">
                    <value>
                        classpath:config/statistic/commonfault-config/oracle/statistic-config-excel-commonfault-onetimepass-KPI2_oracle.xls
                    </value>
                </entry>

                <entry key="commonfault_intime_KPI1_oracle">
                    <value>
                        classpath:config/statistic/commonfault-config/oracle/statistic-config-excel-commonfault_intime_KPI1_oracle.xls
                    </value>
                </entry>

                <!--informix-->
                <entry key="commonfault-std_informix">
                    <value>
                        classpath:config/statistic/commonfault-config/informix/statistic-config-excel-commonfault-std_informix.xls
                    </value>
                </entry>
                <entry key="commonfault_delay_KPI3_informix">
                    <value>
                        classpath:config/statistic/commonfault-config/informix/statistic-config-excel-commonfault_delay_KPI3_informix.xls
                    </value>
                </entry>
                <entry key="commonfault_T_resolve_KPI4_informix">
                    <value>
                        classpath:config/statistic/commonfault-config/informix/statistic-config-excel-commonfault_T_resolve_KPI4_informix.xls
                    </value>
                </entry>

                <entry key="commonfault_T_resolve_KPI5_informix">
                    <value>
                        classpath:config/statistic/commonfault-config/informix/statistic-config-excel-commonfault_T_resolve_KPI5_informix.xls
                    </value>
                </entry>
                <entry key="commonfault_T_resolve_KPI6_informix">
                    <value>
                        classpath:config/statistic/commonfault-config/informix/statistic-config-excel-commonfault_T_resolve_KPI6_informix.xls
                    </value>
                </entry>

                <entry key="commonfault-onetimepass-KPI2_informix">
                    <value>
                        classpath:config/statistic/commonfault-config/informix/statistic-config-excel-commonfault-onetimepass-KPI2_informix.xls
                    </value>
                </entry>

                <entry key="commonfault_intime_KPI1_informix">
                    <value>
                        classpath:config/statistic/commonfault-config/informix/statistic-config-excel-commonfault_intime_KPI1_informix.xls
                    </value>
                </entry>
            </map>
        </property>

        <!-- 配置quary算法文件路径 key为excel中配置的参数，value对应文件名称  -->
        <property name="queryCongigMap">
            <map>
                <!--oracle-->
                <entry key="commonfault-std_oracle">
                    <value>
                        classpath:config/statistic/commonfault-config/oracle/statistic-config-query-commonfault-std_oracle.xml
                    </value>
                </entry>
                <entry key="commonfault_delay_KPI3_oracle">
                    <value>
                        classpath:config/statistic/commonfault-config/oracle/statistic-config-query-commonfault_delay_KPI3_oracle.xml
                    </value>
                </entry>
                <entry key="commonfault_T_resolve_KPI4_oracle">
                    <value>
                        classpath:config/statistic/commonfault-config/oracle/statistic-config-query-commonfault_T_resolve_KPI4_oracle.xml
                    </value>
                </entry>
                <!-- 压力测试使用 不要删除 -->
                <entry key="commonfault_T_resolve_KPI4_oracle_test">
                    <value>
                        classpath:config/statistic/commonfault-config/oracle/statistic-config-query-commonfault_T_resolve_KPI4_oracle_test.xml
                    </value>
                </entry>
                <entry key="commonfault_T_resolve_KPI5_oracle">
                    <value>
                        classpath:config/statistic/commonfault-config/oracle/statistic-config-query-commonfault_T_resolve_KPI5_oracle.xml
                    </value>
                </entry>
                <entry key="commonfault_T_resolve_KPI6_oracle">
                    <value>
                        classpath:config/statistic/commonfault-config/oracle/statistic-config-query-commonfault_T_resolve_KPI6_oracle.xml
                    </value>
                </entry>

                <entry key="commonfault-onetimepass-KPI2_oracle">
                    <value>
                        classpath:config/statistic/commonfault-config/oracle/statistic-config-query-commonfault-onetimepass-KPI2_oracle.xml
                    </value>
                </entry>
                <entry key="commonfault_intime_KPI1_oracle">
                    <value>
                        classpath:config/statistic/commonfault-config/oracle/statistic-config-query-commonfault_intime_KPI1_oracle.xml
                    </value>
                </entry>

                <!--informix-->
                <entry key="commonfault-std_informix">
                    <value>
                        classpath:config/statistic/commonfault-config/informix/statistic-config-query-commonfault-std_informix.xml
                    </value>
                </entry>
                <entry key="commonfault_delay_KPI3_informix">
                    <value>
                        classpath:config/statistic/commonfault-config/informix/statistic-config-query-commonfault_delay_KPI3_informix.xml
                    </value>
                </entry>
                <entry key="commonfault_T_resolve_KPI4_informix">
                    <value>
                        classpath:config/statistic/commonfault-config/informix/statistic-config-query-commonfault_T_resolve_KPI4_informix.xml
                    </value>
                </entry>
                <entry key="commonfault_T_resolve_KPI5_informix">
                    <value>
                        classpath:config/statistic/commonfault-config/informix/statistic-config-query-commonfault_T_resolve_KPI5_informix.xml
                    </value>
                </entry>
                <entry key="commonfault_T_resolve_KPI6_informix">
                    <value>
                        classpath:config/statistic/commonfault-config/informix/statistic-config-query-commonfault_T_resolve_KPI6_informix.xml
                    </value>
                </entry>

                <entry key="commonfault-onetimepass-KPI2_informix">
                    <value>
                        classpath:config/statistic/commonfault-config/informix/statistic-config-query-commonfault-onetimepass-KPI2_informix.xml
                    </value>
                </entry>
                <entry key="commonfault_intime_KPI1_informix">
                    <value>
                        classpath:config/statistic/commonfault-config/informix/statistic-config-query-commonfault_intime_KPI1_informix.xml
                    </value>
                </entry>
            </map>
        </property>

        <!-- Excel解析类
            目前使用applicationContext-statistic-base.xml中的配置
            如需要扩展在子模块内新增子类,扩展基类模块,并注入相应子类,不要修改基类.-->
        <property name="excelConverter" ref="statBaseExcelConverter"/>
    </bean>

    <!-- 统计工具需要实现的类
    <bean id= "istatisticTool"
        class="com.boco.eoms.commons.statistic.task.config.ist.StatisticToolTask">
    </bean>-->

    <!-- 总体管理类 -->
    <bean id="statCommonfaultManager"
          class="com.boco.eoms.commons.statistic.base.mgr.impl.StatManagerImpl">
        <property name="statConfigManager" ref="statCommonfaultConfigManager"/>

        <!-- 详细列表的VO类  -->
        <property name="statDetailVOName">
            <value>com.boco.eoms.commons.statistic.base.vo.StatDetailVO</value>
        </property>

        <!--<property name="statisticTool" ref="istatisticTool"></property>-->

        <!--
            以下3个对象目前使用applicationContext-statistic-base.xml中的配置
            如需要扩展在子模块内新增子类,扩展基类模块,并注入相应子类,不要修改基类.
        -->
        <property name="statJdbcDAO" ref="statBaseJdbcDAO"/>
        <property name="statExcelConverter" ref="statBaseExcelConverter"/>
        <!-- property name="statDetailDAO" ref="statDetailDAOOracle" /-->

        <property name="statExportExcel" ref="statBaseExportExcel"></property>


    </bean>

    <!-- 统计工具任务工单实现类 -->
    <bean id="commonfaultStatMethod"
          class="com.boco.eoms.commons.statistic.commonfault.webapp.action.CommonfaultStatMethodImpl">
        <property name="statManager" ref="statCommonfaultManager"/>
    </bean>

</beans>