<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <!--BusinessDredge-START-->

    <bean id="IBusinessDredgeMainDAO"
          class="com.boco.eoms.sheet.businessdredge.dao.hibernate.BusinessDredgeMainDAOHibernate" autowire="byName">
    </bean>
    <bean id="IBusinessDredgeLinkDAO"
          class="com.boco.eoms.sheet.businessdredge.dao.hibernate.BusinessDredgeLinkDAOHibernate" autowire="byName">
    </bean>
    <bean id="IBusinessDredgeTaskDAO"
          class="com.boco.eoms.sheet.businessdredge.dao.hibernate.BusinessDredgeTaskDAOHibernate" autowire="byName">
    </bean>
    <bean id="BusinessDredgeTask"
          class="com.boco.eoms.sheet.businessdredge.task.impl.BusinessDredgeTaskImpl" autowire="byName">
    </bean>
    <bean id="BusinessDredgeLink"
          class="com.boco.eoms.sheet.businessdredge.model.BusinessDredgeLink"
          autowire="byName"/>
    <bean id="BusinessDredgeMain"
          class="com.boco.eoms.sheet.businessdredge.model.BusinessDredgeMain"
          autowire="byName"/>
    <bean id="iBusinessDredgeTaskManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.businessdredge.service.impl.BusinessDredgeTaskManagerImpl">
                <property name="taskModelObject" ref="BusinessDredgeTask"/>
                <property name="taskDAO">
                    <ref bean="IBusinessDredgeTaskDAO"/>
                </property>
                <property name="taskConfigPath">
                    <value>/config/commonTaskConfig.properties</value>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iBusinessDredgeFlowManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.businessdredge.service.impl.BusinessDredgeFlowManagerImpl">
                <property name="businessFlowAdapterService">
                    <ref bean="BusinessFlowAdapterService"/>
                </property>

            </bean>
        </property>
    </bean>
    <bean id="iBusinessDredgeLinkManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.businessdredge.service.impl.BusinessDredgeLinkManagerImpl">
                <property name="linkObject" ref="BusinessDredgeLink"/>
                <property name="linkDAO">
                    <ref bean="IBusinessDredgeLinkDAO"/>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iBusinessDredgeMainManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.businessdredge.service.impl.BusinessDredgeMainManagerImpl">
                <property name="mainObject" ref="BusinessDredgeMain"/>
                <property name="mainDAO">
                    <ref bean="IBusinessDredgeMainDAO"/>
                </property>
                <property name="workSheetQO">
                    <ref bean="iBusinessDredgeQo"/>
                </property>
                <property name="flowTemplateName">
                    <value>BusinessDredgeMainFlowProcess</value>
                </property>
                <property name="roleConfigPath">
                    <value>classpath:config/businessdredge-config.xml</value>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="iBusinessDredgeQo"
          class="com.boco.eoms.sheet.businessdredge.qo.impl.BusinessDredgeQoImpl"
          autowire="byName" singleton="false">
        <property name="poMain" value="BusinessDredgeMain"/>
        <property name="poLink" value="BusinessDredgeLink"/>
        <property name="aliasMain" value="businessDredgeMain"/>
        <property name="aliasLink" value="businessDredgeLink"/>
        <property name="poTask" value="BusinessDredgeTaskImpl"/>
        <property name="aliasTask" value="businessDredgeTask"/>
    </bean>

    <bean id="BusinessDredge" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.businessdredge.webapp.action.BusinessDredgeMethod">
                <property name="businessFlowService">
                    <ref bean="iBusinessDredgeFlowManager"/>
                </property>
                <property name="linkService"
                          ref="iBusinessDredgeLinkManager"/>
                <property name="mainService"
                          ref="iBusinessDredgeMainManager"/>
                <property name="sheetTask"
                          ref="BusinessDredgeTask"/>
                <property name="taskService"
                          ref="iBusinessDredgeTaskManager"/>
                <property name="pageLength">
                    <value>15</value>
                </property>
                <property name="roleConfigPath">
                    <value>classpath:config/businessdredge-config.xml</value>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="BusinessDrmain" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.businessdredge.webapp.action.BusinessDrMainMethod">
                <property name="businessFlowService">
                    <ref bean="iBusinessDredgeFlowManager"/>
                </property>
                <property name="linkService"
                          ref="iBusinessDredgeLinkManager"/>
                <property name="mainService"
                          ref="iBusinessDredgeMainManager"/>
                <property name="sheetTask"
                          ref="BusinessDredgeTask"/>
                <property name="taskService"
                          ref="iBusinessDredgeTaskManager"/>
                <property name="pageLength">
                    <value>15</value>
                </property>
                <property name="roleConfigPath">
                    <value>classpath:config/businessdredge-config.xml</value>
                </property>
            </bean>
        </property>
    </bean>


    <bean id="iBusinessDredgeCrmService" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.businessdredge.service.impl.BusinessDredgeCrmManagerImpl">
            </bean>
        </property>
    </bean>
    <bean id="iBusinessDredgeInterfaceManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.businessdredge.service.impl.BusinessDredgeInterfaceManagerImpl">
            </bean>
        </property>
    </bean>
    <!--BusinessDredge-END-->
</beans>
