<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>


    <bean id="IEquipmentUnsubscribeMainDAO"
          class="com.boco.eoms.sheet.equipmentunsubscribe.dao.hibernate.EquipmentUnsubscribeMainDAOHibernate"
          autowire="byName">
    </bean>
    <bean id="IEquipmentUnsubscribeLinkDAO"
          class="com.boco.eoms.sheet.equipmentunsubscribe.dao.hibernate.EquipmentUnsubscribeLinkDAOHibernate"
          autowire="byName">
    </bean>
    <bean id="IEquipmentUnsubscribeTaskDAO"
          class="com.boco.eoms.sheet.equipmentunsubscribe.dao.hibernate.EquipmentUnsubscribeTaskDAOHibernate"
          autowire="byName">
    </bean>
    <bean id="EquipmentUnsubscribeTask"
          class="com.boco.eoms.sheet.equipmentunsubscribe.model.EquipmentUnsubscribeTask" autowire="byName">
    </bean>
    <bean id="EquipmentUnsubscribeLink"
          class="com.boco.eoms.sheet.equipmentunsubscribe.model.EquipmentUnsubscribeLink"
          autowire="byName"/>
    <bean id="EquipmentUnsubscribeMain"
          class="com.boco.eoms.sheet.equipmentunsubscribe.model.EquipmentUnsubscribeMain"
          autowire="byName"/>
    <bean id="iEquipmentUnsubscribeTaskManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.equipmentunsubscribe.service.impl.EquipmentUnsubscribeTaskManagerImpl">
                <property name="taskModelObject" ref="EquipmentUnsubscribeTask"/>
                <property name="taskDAO">
                    <ref bean="IEquipmentUnsubscribeTaskDAO"/>
                </property>
                <property name="taskConfigPath">
                    <value>/config/equipmentunsubscribeTaskConfig.properties</value>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iEquipmentUnsubscribeFlowManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.equipmentunsubscribe.service.impl.EquipmentUnsubscribeFlowManagerImpl">
                <property name="businessFlowAdapterService">
                    <ref bean="BusinessFlowAdapterService"/>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iEquipmentUnsubscribeLinkManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.equipmentunsubscribe.service.impl.EquipmentUnsubscribeLinkManagerImpl">
                <property name="linkObject" ref="EquipmentUnsubscribeLink"/>
                <property name="linkDAO">
                    <ref bean="IEquipmentUnsubscribeLinkDAO"/>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iEquipmentUnsubscribeMainManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.equipmentunsubscribe.service.impl.EquipmentUnsubscribeMainManagerImpl">
                <property name="mainObject" ref="EquipmentUnsubscribeMain"/>
                <property name="mainDAO">
                    <ref bean="IEquipmentUnsubscribeMainDAO"/>
                </property>
                <property name="workSheetQO">
                    <ref bean="iEquipmentUnsubscribeQo"/>
                </property>
                <property name="flowTemplateName">
                    <value>EquipmentUnsubscribe</value>
                </property>
                <property name="roleConfigPath">
                    <value>classpath:config/equipmentunsubscribe-config.xml</value>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="iEquipmentUnsubscribeQo"
          class="com.boco.eoms.sheet.equipmentunsubscribe.qo.impl.EquipmentUnsubscribeQoImpl"
          autowire="byName" singleton="false">
        <property name="poMain" value="EquipmentUnsubscribeMain"/>
        <property name="poLink" value="EquipmentUnsubscribeLink"/>
        <property name="poTask" value="EquipmentUnsubscribeTask"/>
        <property name="aliasMain" value="equipmentunsubscribeMain"/>
        <property name="aliasLink" value="equipmentunsubscribeLink"/>
        <property name="aliasTask" value="equipmentunsubscribeTask"/>

    </bean>

    <bean id="EquipmentUnsubscribe" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.equipmentunsubscribe.webapp.action.EquipmentUnsubscribeMethod">
                <property name="businessFlowService">
                    <ref bean="iEquipmentUnsubscribeFlowManager"/>
                </property>
                <property name="linkService"
                          ref="iEquipmentUnsubscribeLinkManager"/>
                <property name="mainService"
                          ref="iEquipmentUnsubscribeMainManager"/>
                <property name="sheetTask"
                          ref="EquipmentUnsubscribeTask"/>
                <property name="taskService"
                          ref="iEquipmentUnsubscribeTaskManager"/>
                <property name="pageLength">
                    <value>15</value>
                </property>
                <property name="roleConfigPath">
                    <value>classpath:config/equipmentunsubscribe-config.xml</value>
                </property>
            </bean>
        </property>
    </bean>

</beans>