<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean id="testCardAttributes"
          class="com.boco.eoms.otherwise.util.TestCardAttributes">

        <property name="serverId">
            <value>8aa081b81bd49fff011bd4a888470015</value>
        </property>

    </bean>
</beans>