<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <!--TawWorkbenchMemo-DAO START-->
    <bean id="tawWorkbenchMemoDao" class="com.boco.eoms.workbench.memo.dao.hibernate.TawWorkbenchMemoDaoHibernate"
          autowire="byName"/>
    <!--TawWorkbenchMemo-DAO END-->
    <!--TawWorkbenchMemo-START-->
    <bean id="ItawWorkbenchMemoManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.workbench.memo.service.impl.TawWorkbenchMemoManagerImpl">
                <property name="tawWorkbenchMemoDao" ref="tawWorkbenchMemoDao"/>
            </bean>
        </property>
    </bean>
    <!--TawWorkbenchMemo-END-->


    <!--TawWorkbenchMemoSendLog-DAO START-->
    <bean id="tawWorkbenchMemoSendLogDao"
          class="com.boco.eoms.workbench.memo.dao.hibernate.TawWorkbenchMemoSendLogDaoHibernate" autowire="byName"/>
    <!--TawWorkbenchMemoSendLog-DAO END-->
    <!--TawWorkbenchMemoSendLog-START-->
    <bean id="ItawWorkbenchMemoSendLogManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.workbench.memo.service.impl.TawWorkbenchMemoSendLogManagerImpl">
                <property name="tawWorkbenchMemoSendLogDao" ref="tawWorkbenchMemoSendLogDao"/>
            </bean>
        </property>
    </bean>


    <bean id="memoAttributes"
          class="com.boco.eoms.workbench.memo.util.MemoAttributes">

        <property name="memoServerID">
            <value>123456789</value>
        </property>

    </bean>
</beans>









