<?xml version="1.0"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="INetChangeMainDao" class="com.boco.eoms.sheet.netchange.dao.hibernate.NetChangeMainDaoHibernate" autowire="byName">
	
      </bean>
	<bean id="INetChangeLinkDao" class="com.boco.eoms.sheet.netchange.dao.hibernate.NetChangeLinkDaoHibernate" autowire="byName">
	  
      </bean>

	<bean id="iNetChangeTaskDAO" class="com.boco.eoms.sheet.netchange.dao.hibernate.NetChangeTaskDAOHibernate" autowire="byName">
      
      </bean>
</beans>