<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <!-- Add new Managers here -->


    <bean id="tawCommonsJobsubscibeDao"
          class="com.boco.eoms.commons.job.dao.hibernate.TawCommonsJobsubscibeDaoHibernate" autowire="byName"/>
    <bean id="tawCommonsJobsortDao" class="com.boco.eoms.commons.job.dao.hibernate.TawCommonsJobsortDaoHibernate"
          autowire="byName"/>
    <bean id="tawCommonsJobmonitorDao" class="com.boco.eoms.commons.job.dao.hibernate.TawCommonsJobmonitorDaoHibernate"
          autowire="byName"/>

    <bean id="jobmonitor" class="com.boco.eoms.commons.job.schedule.JobMonitorSchedule" autowire="byName"/>
    <bean id="eomsJobListener" class="com.boco.eoms.commons.job.listeners.EomsJobListener" autowire="byName"/>

    <bean id="ItawCommonsJobsubscibeManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.commons.job.service.impl.TawCommonsJobsubscibeManagerImpl">
                <property name="tawCommonsJobsubscibeDao" ref="tawCommonsJobsubscibeDao"/>
            </bean>
        </property>
    </bean>

    <bean id="ItawCommonsJobsortManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.commons.job.service.impl.TawCommonsJobsortManagerImpl">
                <property name="tawCommonsJobsortDao" ref="tawCommonsJobsortDao"/>
            </bean>
        </property>
    </bean>

    <bean id="ItawCommonsJobmonitorManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.commons.job.service.impl.TawCommonsJobmonitorManagerImpl">
                <property name="tawCommonsJobmonitorDao" ref="tawCommonsJobmonitorDao"/>
                <property name="tawCommonsJobsortDao" ref="tawCommonsJobsortDao"/>
                <property name="tawCommonsJobsubscibeDao" ref="tawCommonsJobsubscibeDao"/>
            </bean>
        </property>
    </bean>

</beans>




































































































































































