/*****************
 * login.jsp
 *****************/
body#login{
	background: white url(images/bg.gif);
	background-repeat:repeat;
}
#loginForm fieldset {
    width: 300px;
    padding: 10px 30px;
    margin: 0px auto;
}

/***********************************************
 * Box
 ***********************************************/
.box .hd,
.box .rc-tp, .box .rc-tp span,
.box .rc-bt, .box .rc-bt span {
    background: url(images/box_bg.png) no-repeat;
}
.box .rc-tp, .box .rc-bt {
    position: relative; /* raise z-index, hover .hd */
    display: block;
    height: 4px;
}
.box .rc-tp span, .box .rc-bt span {
    float: right;
    width: 4px;
    height: 4px;
}
.box .rc-tp {
    margin-bottom: -4px;
    background-position: -3px 0;
}
.box .rc-bt {
    margin-top: -4px;
    background-position: -3px -3px;
}
.box .rc-bt span {
    background-position: 0 -3px;
}

.box {
    position: relative; /* for .act list */
    margin-bottom: 10px; /* default gutter */
}

.box .hd {
    height: 21px; 
    border: 1px solid #cccccc;
    border-bottom: none;
    background-color: #fbfbfb;
    background-position: 0 -7px;
    background-repeat: repeat-x;
}
.box .hd h3 {
    font-size: 12px;
    line-height: 21px; /* 11px + 5px + 5px */
    color: #404040;
    padding-left: 10px;
}

.box .bd {
    padding: 10px;
    border: 1px solid #cccccc;
    background-color: #f7f7f7;
}

.box .ft .act {
    position: absolute;
    top: 1px;
    right: 1px;
    line-height: 21px;
    padding-right: 5px;
}
.box .ft .act li {
    float: left;
    padding-left: 10px;
}
.box .ft .act li a {
    color: #404040;
}

/* 14px box */
.box-h14 .hd {
    height: 23px;
    background-position: 0 -28px;
}
.box-h14 .hd h3 {
    font-size: 14px;
    line-height: 23px;
}
.box-h14 .ft .act {
    line-height: 23px;
}
/* box hacks */
.box .rc-tp,
.box .rc-bt { _overflow: hidden; /* for ie6 height < 12px */ }

.box .hd h3,
.box .act { *line-height: 23px; _line-height: 21px; /* for ie7 */ }

.box-h14 .hd h3,
.box-h14 .act { *line-height: 25px; _line-height: 23px; /* for ie7 */ }

/* skin-gray is default value */

/* skin-orange */
.skin-orange .box .rc-tp { background-position: -3px -60px; }
.skin-orange .box .rc-tp span { background-position: 0 -60px; }
.skin-orange .box .rc-bt { background-position: -3px -63px; }
.skin-orange .box .rc-bt span { background-position: 0 -63px; }
.skin-orange .box .hd { border-color: #ffcc80; background-color: #fbfbfb; background-position: 0 -67px; }
.skin-orange .box-h14 .hd { background-position: 0 -88px; }
.skin-orange .box .hd h3,
.skin-orange .box .ft .act li a { color: #bf4c00; }
.skin-orange .box .bd { border-color: #ffcc80; background-color: #fffaf2; }

/* skin-blue */
.skin-blue .box .rc-tp { background-position: -3px -120px; }
.skin-blue .box .rc-tp span { background-position: 0 -120px; }
.skin-blue .box .rc-bt { background-position: -3px -123px; }
.skin-blue .box .rc-bt span { background-position: 0 -123px; }
.skin-blue .box .hd { border-color: #80ccff; background-color: #bde5ff; background-position: 0 -127px; }
.skin-blue .box-h14 .hd { background-position: 0 -148px; }
.skin-blue .box .hd h3,
.skin-blue .box .ft .act li a { color: #004d80; }
.skin-blue .box .bd { border-color: #80ccff; background-color: #f2faff; }

#loginForm li {
    text-align: left;
    padding: 0px;
}

.login-box{
	color:#5F6775;
	width:700px;
	margin:4em auto 0pt;
	background:url(images/login-bg.gif) no-repeat scroll left top;
	min-height:430px;
}
.login-content{
	float:left;
	margin:20px 0 20px 5px;
	padding-top:75px;
	min-height:150px !important;
	min-height:80px;
}
.login-form{
	float:right;
	position:relative;
	margin:20px 5px;
	margin-right:40px;
	height:400px;
	width:200px;
}
.login-form-content{
	position:absolute;
	bottom:1px;
}
/*****************
 sheet detail
 *****************/
 div#sheetinfo{
	padding:15px;
 }
 .tabFrame{
 	width:98%;
	height:500px;
	border:0;
 } 
 #tabtool{
	clear:none;
	float:right;
}
 #filter{
  float:left;
  display:inline;
  margin:5px;
  padding:10px;
}
div.history-item{
	font-size:12px;
	padding:0 10px;
}
div.history-item-title{
	font:14px bold;
	background-color:#efefef;
}
div.history-item-content{
	width:100%;
}
table.history-item-table{
	border-collapse: collapse;
	font-size: 12px;
}
table.history-item-table td{
	border: 1px solid #dfdfdf;
	padding: 3px 6px;
}
td.column-title{
	background-color:#f8f7f6;
	width:15%;
}
td.column-content{
	width:35%;
}
 ul.history {list-style:none;}
 li.history-item {font-size:14px; padding: 0px; margin: 0px 2% 10px 5px;} 
 li.history-item a {
 	border: 1px solid #8cacbb;
 	color:#006699;
 	padding: 0.8ex 0px 0.8ex 8px;font-size:14px;
 	display:block; 
 	position:relative; text-decoration:none;
 	height:auto;
	cursor:text;
 } 
 li.history-item a:hover {background:#e5ecf9;border: 1px solid #8cacbb;color:#006699;}
 li.history-item a span {display:none; }
 li.history-item a span.show {display:block; }
 li.history-item a:hover span {display:block; position:relative; }
 
 .tabtool-history-detail{
 }
 
h3.sheet-title{
	margin:0 0 10px;
	font-size:1.2em;
	font-weight:bold;
	color: #444;
}
.sheet-deal{
	border:1px solid #dfeff6;
	margin:20px 0;	
}
.sheet-deal-header{
	background:transparent url(images/header-bg.gif) repeat-x;
  	padding:10px;	
}
.sheet-deal-content{
	margin:10px;
}

/*****************
 * sheet list
 *****************/
.list-title {
	height:22px;
	margin: 0 10px 10px 10px;
	padding:3px 10px 3px 20px;
	vertical-align:middle;
	width:95%;
	clear:right;
	color:#8b8c8d;
	border-bottom:1px solid #cfcfcf;
	background-image:url(../../images/icons/table.png);
	background-repeat:no-repeat;
	background-position:left center;
}

.list table{
	width: 95%;
	border-collapse: collapse;
	font-size: 12px;
}


.list table td {
	border: 1px solid #c1dad7;
	padding: 3px 6px;
}


.list .header {
	background: #cae8ea;
	color:#006699;
}
.list .header td a:link, .list .header td a:visited {
	color:#006699;
}



/*****************
 * success & failure
 *****************/
.successPage h1,.errorPage h1, .failurePage h1{
	height:32px;
	padding:10px 0 0 45px;
	margin:20px;
	vertical-align:middle;
	background-repeat:no-repeat;
	background-position:3px bottom;
 }
.successPage .header{
	color:#3786d6;
	background-image:url(../../images/icons/success.gif);
}
.errorPage .header, .failurePage .header{
    color: #b4c24b;
	background-image:url(../../images/icons/failed.gif);
}
.errorPage .content,.successPage .content,.failurePage .content{
	line-height:24px;
	color:#3786d6;
	border-top:1px solid #acd0f4;
	padding:10px;
	margin:10px;
}
.content ul{
	margin-left:30px;
}
.content #error-msg{
}
.hidden-el{
	display:none;
}


/***************************
 * js frame
 **************************/
#headerPanel{
	background:white url(images/background.gif);
	width:100%;
	height:100%;
}
#headerPanel h1{
	font-size:15px;
	padding:10px;
	width:100%;
	height:100%;
}
.panel{
	padding:10px;
}
.gridPanel-grid{
	border:1px solid #6593cf;
	margin-bottom:10px;
}
.app-header{
	background:url(images/header-bg.gif) repeat-x;
}
.app-panel{
	padding:10px;
}

/*****************
 * upload
 *****************/
iframe.uploadframe{
	height:50px;
}

.upload-box{
	/*border:1px solid #b5b8c8;
	padding:5px;*/
}

a.filelink{
	line-height:1.2em;
}


/*****************
 * welcome
 *****************/
.welcome {
	width:758px;
}
.welcome .title{
	min-height:190px;
	background:url(images/welcome-titlebg.gif) no-repeat;
}
.welcome .title .content{
	margin:50px 10px 10px 20px;
	width:700px;
	line-height:2em;
}
.welcome .title .foot{
	height:10px;
}
.module {
	margin-bottom:20px;
}
.module .img {
	float:left;
}
.module .detail {
	line-height:2em;
}

