<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration
    PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="show_sql">false</property>
        <property name="dialect">org.hibernate.dialect.InformixDialect</property>
	<property name="hibernate.connection.driver_class">com.informix.jdbc.IfxDriver</property>
        <property name="hibernate.cache.provider_class">net.sf.hibernate.cache.EhCacheProvider</property>
        <!-- Mapping files -->
	<mapping resource="com/boco/eoms/worksheet/model/impl/FaultsheetMain.hbm.xml"/>
        <mapping resource="com/boco/eoms/worksheet/model/impl/FaultsheetNode.hbm.xml"/>
        <mapping resource="com/boco/eoms/worksheet/model/impl/FaultsheetLink.hbm.xml"/>

	<mapping resource="com/boco/eoms/worksheet/model/impl/TasksheetMain.hbm.xml"/>
	<mapping resource="com/boco/eoms/worksheet/model/impl/TasksheetNode.hbm.xml"/>
	<mapping resource="com/boco/eoms/worksheet/model/impl/TasksheetLink.hbm.xml"/>

	<mapping resource="com/boco/eoms/worksheet/model/impl/ApplysheetMain.hbm.xml"/>
	<mapping resource="com/boco/eoms/worksheet/model/impl/ApplysheetNode.hbm.xml"/>
	<mapping resource="com/boco/eoms/worksheet/model/impl/ApplysheetLink.hbm.xml"/>

        <mapping resource="com/boco/eoms/worksheet/model/impl/WorksheetLog.hbm.xml"/>
	<mapping resource="com/boco/eoms/worksheet/model/impl/WorksheetOkb.hbm.xml"/>
	<mapping resource="com/boco/eoms/worksheet/model/impl/WorksheetStat.hbm.xml"/>

	<mapping resource="com/boco/eoms/worksheet/model/impl/ReportsheetMain.hbm.xml"/>
	<mapping resource="com/boco/eoms/worksheet/model/impl/ReportsheetNode.hbm.xml"/>
	<mapping resource="com/boco/eoms/worksheet/model/impl/ReportsheetLink.hbm.xml"/>

	<mapping resource="com/boco/eoms/worksheet/model/impl/DatasheetMain.hbm.xml"/>
	<mapping resource="com/boco/eoms/worksheet/model/impl/DatasheetNode.hbm.xml"/>
	<mapping resource="com/boco/eoms/worksheet/model/impl/DatasheetLink.hbm.xml"/>

	<mapping resource="com/boco/eoms/worksheet/model/impl/SoftwaresheetMain.hbm.xml"/>
	<mapping resource="com/boco/eoms/worksheet/model/impl/SoftwaresheetNode.hbm.xml"/>
	<mapping resource="com/boco/eoms/worksheet/model/impl/SoftwaresheetLink.hbm.xml"/>

	<mapping resource="com/boco/eoms/worksheet/model/impl/RequsheetMain.hbm.xml"/>
	<mapping resource="com/boco/eoms/worksheet/model/impl/RequsheetNode.hbm.xml"/>
	<mapping resource="com/boco/eoms/worksheet/model/impl/RequsheetLink.hbm.xml"/>

        <mapping resource="com/boco/eoms/interfaces/log/model/InterfaceLog.hbm.xml"/>
        <mapping resource="com/boco/eoms/interfaces/log/model/InterfaceError.hbm.xml"/>
        <mapping resource="com/boco/eoms/worksheet/model/impl/ApplysheetOkb.hbm.xml"/>

	<mapping resource="com/boco/eoms/worksheet/model/impl/FeedbacksheetMain.hbm.xml"/>
	<mapping resource="com/boco/eoms/worksheet/model/impl/FeedbacksheetNode.hbm.xml"/>
	<mapping resource="com/boco/eoms/worksheet/model/impl/FeedbacksheetLink.hbm.xml"/>

        <mapping resource="com/boco/eoms/studyonline/model/OnlineWarehouse.hbm.xml"/>
        <mapping resource="com/boco/eoms/studyonline/model/OnlineInfo.hbm.xml"/>
        <mapping resource="com/boco/eoms/studyonline/model/OnlineContent.hbm.xml"/>
        <mapping resource="com/boco/eoms/studyonline/model/OnlineConfig.hbm.xml"/>
        <mapping resource="com/boco/eoms/studyonline/model/OnlineSubmit.hbm.xml"/>
        <mapping resource="com/boco/eoms/studyonline/model/OnlineStudyConfig.hbm.xml"/>

	<mapping resource="com/boco/eoms/workplan/model/TawwpModelPlan.hbm.xml"/>
	<mapping resource="com/boco/eoms/workplan/model/TawwpModelExecute.hbm.xml"/>
	<mapping resource="com/boco/eoms/workplan/model/TawwpModelGroup.hbm.xml"/>
	<mapping resource="com/boco/eoms/workplan/model/TawwpModelDispatch.hbm.xml"/>

	<mapping resource="com/boco/eoms/workplan/model/TawwpYearPlan.hbm.xml"/>
	<mapping resource="com/boco/eoms/workplan/model/TawwpYearExecute.hbm.xml"/>
	<mapping resource="com/boco/eoms/workplan/model/TawwpYearCheck.hbm.xml"/>

	<mapping resource="com/boco/eoms/workplan/model/TawwpMonthPlan.hbm.xml"/>
        <mapping resource="com/boco/eoms/workplan/model/TawwpMonthExecute.hbm.xml"/>
        <mapping resource="com/boco/eoms/workplan/model/TawwpMonthCheck.hbm.xml"/>
        <mapping resource="com/boco/eoms/workplan/model/TawwpMonthExecuteUser.hbm.xml"/>

        <mapping resource="com/boco/eoms/workplan/model/TawwpExecuteContent.hbm.xml"/>
        <mapping resource="com/boco/eoms/workplan/model/TawwpExecuteContentUser.hbm.xml"/>
        <mapping resource="com/boco/eoms/workplan/model/TawwpExecuteAssess.hbm.xml"/>
        <mapping resource="com/boco/eoms/workplan/model/TawwpExecuteFile.hbm.xml"/>
        <mapping resource="com/boco/eoms/workplan/model/TawwpExecuteReport.hbm.xml"/>

        <mapping resource="com/boco/eoms/workplan/model/TawwpAddonsTable.hbm.xml"/>
        <mapping resource="com/boco/eoms/workplan/model/TawwpLog.hbm.xml"/>
        <mapping resource="com/boco/eoms/workplan/model/TawwpNet.hbm.xml"/>
        <mapping resource="com/boco/eoms/workplan/model/TawwpStubUser.hbm.xml"/>
        <!--自动统计//add by jintong  -->
        <mapping resource="com/boco/eoms/statistic/model/StSubscription.hbm.xml"/>
        <mapping resource="com/boco/eoms/statistic/model/StTask.hbm.xml"/>
        <!--故障工单 -->
        <mapping resource="com/boco/eoms/statistic/model/StFaultclass.hbm.xml"/>
        <mapping resource="com/boco/eoms/statistic/model/StFaultspecialty.hbm.xml"/>
        <mapping resource="com/boco/eoms/statistic/model/StFaultretransmit.hbm.xml"/>
        <mapping resource="com/boco/eoms/statistic/model/StFaultintime.hbm.xml"/>
        <mapping resource="com/boco/eoms/statistic/model/StFaultsheetDetail.hbm.xml"/>
        <mapping resource="com/boco/eoms/statistic/model/StFaultSatisf.hbm.xml"/>
        <!--申告工单 -->
        <mapping resource="com/boco/eoms/statistic/model/StApplyspecialty.hbm.xml"/>
        <mapping resource="com/boco/eoms/statistic/model/StApplyDetail.hbm.xml"/>
        <mapping resource="com/boco/eoms/statistic/model/StApplyintime.hbm.xml"/>
        <mapping resource="com/boco/eoms/statistic/model/StApplySatisf.hbm.xml"/>
        <!--任务工单-->
         <mapping resource="com/boco/eoms/statistic/model/StTaskintime.hbm.xml"/>
        <mapping resource="com/boco/eoms/statistic/model/StTaskDetail.hbm.xml"/>
        <mapping resource="com/boco/eoms/statistic/model/StTaskSatisf.hbm.xml"/>
        <!--局数据工单 -->
        <mapping resource="com/boco/eoms/statistic/model/StDataintime.hbm.xml"/>
        <mapping resource="com/boco/eoms/statistic/model/StDataDetail.hbm.xml"/>
        <mapping resource="com/boco/eoms/statistic/model/StDataSatisf.hbm.xml"/>
        <!--重大故障工单 -->
        <mapping resource="com/boco/eoms/statistic/model/StReportintime.hbm.xml"/>
        <mapping resource="com/boco/eoms/statistic/model/StReportDetail.hbm.xml"/>
        <!--申请工单 -->
        <mapping resource="com/boco/eoms/statistic/model/StRequintime.hbm.xml"/>
        <mapping resource="com/boco/eoms/statistic/model/StRequDetail.hbm.xml"/>
        <mapping resource="com/boco/eoms/statistic/model/StRequSatisf.hbm.xml"/>
        <!--软件工单 -->
        <mapping resource="com/boco/eoms/statistic/model/StSoftwareintime.hbm.xml"/>
        <mapping resource="com/boco/eoms/statistic/model/StSoftwareDetail.hbm.xml"/>
        <mapping resource="com/boco/eoms/statistic/model/StSoftwareSatisf.hbm.xml"/>
        <!--反馈工单 -->
        <mapping resource="com/boco/eoms/statistic/model/StFeedbackintime.hbm.xml"/>
        <mapping resource="com/boco/eoms/statistic/model/StFeedbackDetail.hbm.xml"/>
        <mapping resource="com/boco/eoms/statistic/model/StFeedbackSatisf.hbm.xml"/>


<!-- end by jintong -->

<!-- add  // 3.0 工单 -->
 	<mapping resource="com/opensymphony/module/propertyset/hibernate/PropertySetItemImpl.hbm.xml"/>
       <mapping resource="com/opensymphony/workflow/spi/hibernate/HibernateCurrentStep.hbm.xml"/>
       <mapping resource="com/opensymphony/workflow/spi/hibernate/HibernateHistoryStep.hbm.xml"/>
       <mapping resource="com/opensymphony/workflow/spi/hibernate/HibernateWorkflowEntry.hbm.xml"/>
       <mapping resource="com/boco/eoms/wfengine/task/model/WfTask.hbm.xml"/>



	<mapping resource="com/boco/eoms/wfworksheet/town_range/model/WfTown_rangeMain.hbm.xml"/>
	<mapping resource="com/boco/eoms/wfworksheet/town_range/model/WfTown_rangeLink.hbm.xml"/>

<!-- -->
<!-- add by daizhigang 20060620-->
	<mapping resource="com/boco/eoms/wfworksheet/city_create/model/WfCity_createMain.hbm.xml"/>
	<mapping resource="com/boco/eoms/wfworksheet/city_create/model/WfCity_createLink.hbm.xml"/>
        <mapping resource="com/boco/eoms/wfworksheet/city_delete/model/WfCity_deleteMain.hbm.xml"/>
	<mapping resource="com/boco/eoms/wfworksheet/city_delete/model/WfCity_deleteLink.hbm.xml"/>
	<mapping resource="com/boco/eoms/wfworksheet/city_modify/model/WfCity_modifyMain.hbm.xml"/>
	<mapping resource="com/boco/eoms/wfworksheet/city_modify/model/WfCity_modifyLink.hbm.xml"/>
	<mapping resource="com/boco/eoms/wfworksheet/city_modifynet/model/WfCity_modifynetMain.hbm.xml"/>
	<mapping resource="com/boco/eoms/wfworksheet/city_modifynet/model/WfCity_modifynetLink.hbm.xml"/>
	<mapping resource="com/boco/eoms/wfworksheet/town_pretreatment/model/WfTown_pretreatmentMain.hbm.xml"/>
	<mapping resource="com/boco/eoms/wfworksheet/town_pretreatment/model/WfTown_pretreatmentLink.hbm.xml"/>
	<mapping resource="com/boco/eoms/wfworksheet/town_delete/model/WfTown_deleteMain.hbm.xml"/>
	<mapping resource="com/boco/eoms/wfworksheet/town_delete/model/WfTown_deleteLink.hbm.xml"/>
	<mapping resource="com/boco/eoms/wfworksheet/town_modify/model/WfTown_modifyMain.hbm.xml"/>
	<mapping resource="com/boco/eoms/wfworksheet/town_modify/model/WfTown_modifyLink.hbm.xml"/>
<!-- end by daizhigang 20060620-->
	<mapping resource="com/boco/eoms/infmanage/model/Collsheet.hbm.xml"/>
<!-- begin by heyi jizhan 20061115-->
        <mapping resource="com/boco/eoms/wfworksheet/stopstation/model/WfStopstationMain.hbm.xml"/>
	<mapping resource="com/boco/eoms/wfworksheet/stopstation/model/WfStopstationLink.hbm.xml"/>
<!-- end by heyi jizhan 20061115-->
<!-- begin by heyi jizhan 20061201-->
<mapping resource="com/boco/eoms/wfworksheet/stopstation/model/WfStopstationStream.hbm.xml"/>

<mapping resource="com/boco/eoms/kbs/model/KbsSheet.hbm.xml"/>
<!-- begin by heyi jizhan 20070312-->
<mapping resource="com/boco/eoms/wfworksheet/newstation/model/WfNewstationMain.hbm.xml"/>
<mapping resource="com/boco/eoms/wfworksheet/newstation/model/WfNewstationLink.hbm.xml"/>
<mapping resource="com/boco/eoms/wfworksheet/newstation/model/stationAlarmInfo.hbm.xml"/>


<mapping resource="com/boco/eoms/worksheet/model/impl/ApplysheetCheck.hbm.xml"/>

    </session-factory>

</hibernate-configuration>

