<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <!--BusinessImplementSms-START-->

    <bean id="IBusinessImplementSmsMainDAO"
          class="com.boco.eoms.sheet.businessimplementsms.dao.hibernate.BusinessImplementSmsMainDAOHibernate"
          autowire="byName">
    </bean>
    <bean id="IBusinessImplementSmsLinkDAO"
          class="com.boco.eoms.sheet.businessimplementsms.dao.hibernate.BusinessImplementSmsLinkDAOHibernate"
          autowire="byName">
    </bean>
    <bean id="IBusinessImplementSmsTaskDAO"
          class="com.boco.eoms.sheet.businessimplementsms.dao.hibernate.BusinessImplementSmsTaskDAOHibernate"
          autowire="byName">
    </bean>
    <bean id="BusinessImplementSmsTask"
          class="com.boco.eoms.sheet.businessimplementsms.model.BusinessImplementSmsTask" autowire="byName">
    </bean>
    <bean id="BusinessImplementSmsLink"
          class="com.boco.eoms.sheet.businessimplementsms.model.BusinessImplementSmsLink"
          autowire="byName"/>
    <bean id="BusinessImplementSmsMain"
          class="com.boco.eoms.sheet.businessimplementsms.model.BusinessImplementSmsMain"
          autowire="byName"/>
    <bean id="iBusinessImplementSmsTask"
          class="com.boco.eoms.sheet.businessimplementsms.task.impl.BusinessImplementSmsTaskImpl"
          autowire="byName"/>
    <bean id="iBusinessImplementSmsTaskManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.businessimplementsms.service.impl.BusinessImplementSmsTaskManagerImpl">
                <property name="taskModelObject" ref="BusinessImplementSmsTask"/>
                <property name="taskDAO">
                    <ref bean="IBusinessImplementSmsTaskDAO"/>
                </property>
                <property name="taskConfigPath">
                    <value>/config/businessimplementsmsConfig.properties</value>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iBusinessImplementSmsFlowManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.businessimplementsms.service.impl.BusinessImplementSmsFlowManagerImpl">
                <property name="businessFlowAdapterService">
                    <ref bean="BusinessFlowAdapterService"/>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iBusinessImplementSmsLinkManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.businessimplementsms.service.impl.BusinessImplementSmsLinkManagerImpl">
                <property name="linkObject" ref="BusinessImplementSmsLink"/>
                <property name="linkDAO">
                    <ref bean="IBusinessImplementSmsLinkDAO"/>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iBusinessImplementSmsMainManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.businessimplementsms.service.impl.BusinessImplementSmsMainManagerImpl">
                <property name="mainObject" ref="BusinessImplementSmsMain"/>
                <property name="mainDAO">
                    <ref bean="IBusinessImplementSmsMainDAO"/>
                </property>
                <property name="workSheetQO">
                    <ref bean="iBusinessImplementSmsQo"/>
                </property>
                <property name="flowTemplateName">
                    <value>BusinessImplementSmsProcess</value>
                </property>
                <property name="roleConfigPath">
                    <value>classpath:config/businessimplementsms-config.xml</value>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="iBusinessImplementSmsQo"
          class="com.boco.eoms.sheet.businessimplementsms.qo.impl.BusinessImplementSmsQoImpl"
          autowire="byName" singleton="false">
        <property name="poMain" value="BusinessImplementSmsMain"/>
        <property name="poLink" value="BusinessImplementSmsLink"/>
        <property name="aliasMain" value="resourceConfirmMain"/>
        <property name="aliasLink" value="resourceConfirmLink"/>
        <property name="poTask" value="BusinessImplementSmsTask"/>
        <property name="aliasTask" value="resourceConfirmTask"/>
    </bean>

    <bean id="BusinessImplementSms" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.businessimplementsms.webapp.action.BusinessImplementSmsMethod">
                <property name="businessFlowService">
                    <ref bean="iBusinessImplementSmsFlowManager"/>
                </property>
                <property name="linkService"
                          ref="iBusinessImplementSmsLinkManager"/>
                <property name="mainService"
                          ref="iBusinessImplementSmsMainManager"/>
                <property name="sheetTask"
                          ref="BusinessImplementSmsTask"/>
                <property name="taskService"
                          ref="iBusinessImplementSmsTaskManager"/>
                <property name="pageLength">
                    <value>15</value>
                </property>
                <property name="roleConfigPath">
                    <value>classpath:config/businessimplementsms-config.xml</value>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iBusinessImplementSmsCrmService" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.businessimplementsms.service.impl.BusinessImplementSmsCrmManagerImpl">
            </bean>
        </property>
    </bean>

    <bean id="iBusinessImplementSmsInterfaceManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.businessimplementsms.service.impl.BusinessImplementSmsInterfaceManagerImpl">
            </bean>
        </property>
    </bean>
    <!--BusinessImplementSms-END-->
</beans>
