<?xml version="1.0"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<!-- sample config file  , 
			create new config file in your module -->
<beans>
	<!-- 配置信息类 -->
	<bean id="statOperuserConfigManager"
		class="com.boco.eoms.commons.statistic.base.mgr.impl.StatConfigManagerImpl"
		autowire="byName">
		<!-- 统计算法配置文件路径 在子模块中新建配置文件 
		<property name="configFilePath">
			<value>classpath:config/statistic-config-query-task.xml</value>
		</property>-->
		
		<!-- Excel配置文件路径 在子模块中新建配置文件
		<property name="excelConfigFilePath">
			<value>classpath:config/statistic-config-excel-task.xls</value>
		</property>-->
		
		<!-- 是否每次都从新获取配置文件 true:时时都读取 false：相反-->
		<property name="reloadConfig">
			<value>true</value>
		</property>
		
		<!-- 配置Excel文件路径 key为url传入的参数，value对应文件名称  -->
		<property name="excelConfigMap">
           <map>
           	<!-- oracle版本 -->
             <entry key="operuser_majortype_oracle"><value>classpath:config/statistic/operuser-config/operuser/statistic-config-excel-operuser-subarea.xls</value></entry>
           	 <entry key="operuser_worklevel_oracle"><value>classpath:config/statistic/operuser-config/operuser/statistic-config-excel-operuser-worklevel.xls</value></entry>
           	 <entry key="operuser_prizelevel_oracle"><value>classpath:config/statistic/operuser-config/operuser/statistic-config-excel-operuser-prizelevel.xls</value></entry>
           	 <entry key="operuser_four_oracle"><value>classpath:config/statistic/operuser-config/operuser/statistic-config-excel-operuser-four.xls</value></entry>
           	 <entry key="operuser_joblevel_oracle"><value>classpath:config/statistic/operuser-config/operuser/statistic-config-excel-operuser-joblevel.xls</value></entry>
           </map>
        </property>
        
        <!-- 配置quary算法文件路径 key为excel中配置的参数，value对应文件名称  -->
        <property name="queryCongigMap">
           <map>
                                     
              <!-- oracle版本 -->
              <entry key="operuser_majortype_oracle"><value>classpath:config/statistic/operuser-config/operuser/statistic-config-query-operuser-subarea.xml</value></entry>   
              <entry key="operuser_worklevel_oracle"><value>classpath:config/statistic/operuser-config/operuser/statistic-config-query-operuser-worklevel.xml</value></entry>     																						  	
           	  <entry key="operuser_prizelevel_oracle"><value>classpath:config/statistic/operuser-config/operuser/statistic-config-query-operuser-prizelevel.xml</value></entry>
           	  <entry key="operuser_four_oracle"><value>classpath:config/statistic/operuser-config/operuser/statistic-config-query-operuser-four.xml</value></entry>
           	  <entry key="operuser_joblevel_oracle"><value>classpath:config/statistic/operuser-config/operuser/statistic-config-query-operuser-joblevel.xml</value></entry>
           </map>
        </property>
		
		<!-- Excel解析类 		 
			目前使用applicationContext-statistic-base.xml中的配置 
			如需要扩展在子模块内新增子类,扩展基类模块,并注入相应子类,不要修改基类.-->
		<property name="excelConverter" ref="statBaseExcelConverter"/>
	</bean>
	
	<!-- 统计工具需要实现的类
	<bean id= "istatisticTool"
		class="com.boco.eoms.commons.statistic.task.config.ist.StatisticToolTask">
	</bean>-->
	
	<!-- 总体管理类 -->
	<bean id="statOperuserManager" 
		class="com.boco.eoms.commons.statistic.base.mgr.impl.StatManagerImpl">
		<property name="statConfigManager" ref="statOperuserConfigManager" />

		<!-- 详细列表的VO类  -->
		<property name="statDetailVOName">
			<value>com.boco.eoms.commons.statistic.base.vo.StatDetailVO</value>
		</property>
		
		<!-- property name="statisticTool" ref="istatisticTool"></property-->
		
		<!-- 
			以下3个对象目前使用applicationContext-statistic-base.xml中的配置 
			如需要扩展在子模块内新增子类,扩展基类模块,并注入相应子类,不要修改基类.
		-->
		<property name="statJdbcDAO" ref="statBaseJdbcDAO" />
		<property name="statExcelConverter" ref="statBaseExcelConverter" />
		

		<property name="statExportExcel" ref="statBaseExportExcel"></property>
		
		<!-- 订制统计访问数据库接口 -->
		<property name="customStatHibernateDAO" ref="customStatHibernateDAO"></property>
		
	</bean>

	<!-- 运维人员基本信息 -->
	<bean id="operStatMethod"
		class="com.boco.eoms.commons.statistic.operuser.webapp.action.OperuserStatMethodImpl">
		<property name="statManager" ref="statOperuserManager" />
	</bean>
	
	<bean id="busiOperUrl" class="com.boco.eoms.commons.statistic.base.util.StatAttributeUrl" >
		<property name="attributeUrl">
			<props>
				<prop key="bosheet"><![CDATA[/prShowQueryInfo.do]]></prop>
				<prop key="2"><![CDATA[222]]></prop>
			</props>
		</property>
	</bean>
	
	<!-- 注册 人员id转name接口 -->
	<bean id="areaDeptTreeDao_v35"
		  class="com.boco.eoms.commons.statistic.base.mgr.impl.StatID2NameV35Impl"
		  autowire="byName">
		<property name="ID2NameV35BeanId">
			<value>areaDeptTreeDao</value>
		</property>
	</bean>
	
</beans>