<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
 <!--ResourceAffirm-START-->    

    <bean id="IResourceAffirmMainDAO"
		class="com.boco.eoms.sheet.resourceaffirm.dao.hibernate.ResourceAffirmMainDAOHibernate" autowire="byName">
      </bean>
	<bean id="IResourceAffirmLinkDAO"
		class="com.boco.eoms.sheet.resourceaffirm.dao.hibernate.ResourceAffirmLinkDAOHibernate" autowire="byName">
     </bean>
     <bean id="IResourceAffirmTaskDAO"
		class="com.boco.eoms.sheet.resourceaffirm.dao.hibernate.ResourceAffirmTaskDAOHibernate" autowire="byName">
     </bean>
     <bean id="ResourceAffirmTask"
		class="com.boco.eoms.sheet.resourceaffirm.task.impl.ResourceAffirmTaskImpl" autowire="byName">
     </bean>
    <bean id="ResourceAffirmLink"
		class="com.boco.eoms.sheet.resourceaffirm.model.ResourceAffirmLink"
		autowire="byName" />
	<bean id="ResourceAffirmMain"
		class="com.boco.eoms.sheet.resourceaffirm.model.ResourceAffirmMain"
		autowire="byName" />
	<bean id="iresourceaffirmTaskManager" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.resourceaffirm.service.impl.ResourceAffirmTaskManagerImpl">
				<property name="taskModelObject" ref="ResourceAffirmTask" />
				<property name="taskDAO">
					<ref bean="IResourceAffirmTaskDAO" />
				</property>
				<property name="taskConfigPath">
					<value>/config/ResourceAffirmTaskConfig.properties</value>
				</property>
			</bean>
		</property>
	</bean>	
	<bean id="iResourceAffirmFlowManager" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.resourceaffirm.service.impl.ResourceAffirmFlowManagerImpl">
				<property name="businessFlowAdapterService">
					<ref bean="BusinessFlowAdapterService" />
				</property>
			</bean>
		</property>
	</bean>
	<bean id="iResourceAffirmLinkManager" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.resourceaffirm.service.impl.ResourceAffirmLinkManagerImpl">
				<property name="linkObject" ref="ResourceAffirmLink"/>
				<property name="linkDAO">
				  <ref bean="IResourceAffirmLinkDAO"/>
				</property>
			</bean>
		</property>
	</bean>
	<bean id="iResourceAffirmMainManager" parent="txProxyTemplate">
	<property name="target">
			<bean
				class="com.boco.eoms.sheet.resourceaffirm.service.impl.ResourceAffirmMainManagerImpl">
			    <property name="mainObject" ref="ResourceAffirmMain" />
				<property name="mainDAO">
				 <ref bean="IResourceAffirmMainDAO" />
				 </property>
				 <property name="workSheetQO">
					<ref bean="iResourceAffirmQo" />
				</property>
				 <property name="flowTemplateName">
					<value>ResourceAffirmProcess</value>
				</property>
				<property name="roleConfigPath">
					<value>classpath:config/resourceaffirm-config.xml</value>
				</property>
			</bean>
		</property>
	</bean> 

   <bean id="iResourceAffirmQo"
		class="com.boco.eoms.sheet.resourceaffirm.qo.impl.ResourceAffirmQoImpl"
		autowire="byName" singleton="false" >
		<property name="poMain" value="ResourceAffirmMain" />
		<property name="poLink" value="ResourceAffirmLink" />
		<property name="aliasMain" value="resourceAffirmMain" />
		<property name="aliasLink" value="resourceAffirmLink" />
		<property name="poTask" value="ResourceAffirmTaskImpl" />
	    <property name="aliasTask" value="resourceAffirmTask" />		
	</bean>

	<bean id="ResourceAffirm" parent="txProxyTemplate"> 
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.resourceaffirm.webapp.action.ResourceAffirmMethod">
				<property name="businessFlowService" >
					<ref bean="iResourceAffirmFlowManager" />
			   </property>
				<property name="linkService" 
					ref="iResourceAffirmLinkManager" />
				<property name="mainService"
					ref="iResourceAffirmMainManager" />
				<property name="sheetTask"
					ref="ResourceAffirmTask" />
				<property name="taskService"
					ref="iresourceaffirmTaskManager" />	
				<property name="pageLength">
					<value>15</value>
				</property>
				<property name="roleConfigPath">
					<value>classpath:config/resourceaffirm-config.xml</value>
				</property>				
			</bean>
		</property>
	</bean>        
	<bean id="iResourceAffirmCrmService" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.resourceaffirm.service.impl.ResourceAffirmCrmManagerImpl">
			</bean>
		</property>
	</bean>
	<bean id="iResourceAffirmInterfaceManager" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.resourceaffirm.service.impl.ResourceAffirmInterfaceManagerImpl">
			</bean>
		</property>
	</bean>
     <!--ResourceAffirm-END-->  
</beans>
