<?xml version="1.0"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="businessFlowService"
		class="com.boco.eoms.sheet.base.service.impl.BusinessFlowServiceImpl">
		<property name="businessFlowAdapterService">
			<ref bean="BusinessFlowAdapterService" />
		</property>
	</bean>
</beans>