body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u89 {
  position:absolute;
  left:2px;
  top:376px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1052px;
  height:479px;
}
#u90 {
  position:absolute;
  left:292px;
  top:74px;
  width:1052px;
  height:479px;
}
#u91 {
  position:absolute;
  left:2px;
  top:232px;
  width:1048px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:150px;
  top:401px;
  width:74px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u93 {
  position:absolute;
  left:39px;
  top:401px;
  width:74px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u94 {
  position:absolute;
  left:150px;
  top:535px;
  width:74px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u95 {
  position:absolute;
  left:39px;
  top:535px;
  width:74px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u96 {
  position:absolute;
  left:39px;
  top:270px;
  width:74px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u97 {
  position:absolute;
  left:1283px;
  top:11px;
  width:68px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u98 {
  position:absolute;
  left:152px;
  top:271px;
  width:74px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
