<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>


	
	<bean id="riskControlDao"
		class="com.boco.gr.dao.hibernate.RiskControlDaoHibernate" autowire="byName" />
	<bean id="riskControlMgr" parent="txProxyTemplate">
		<property name="target">
			<bean class="com.boco.gr.mgr.impl.RiskControlMgrImpl">
				<property name="riskControlDao" ref="riskControlDao" />
			</bean>
		</property>
	</bean>
	
	
</beans>