<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<import
		resource="classpath:com/boco/eoms/crm/config/applicationContext-sheet-crmwaitinfo-dao.xml" />

	<!-- 工单service-->
	<import
		resource="classpath:com/boco/eoms/crm/config/applicationContext-sheet-crmwaitinfo-service.xml" />

</beans>