<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="tawpartMscidMgr" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.partdata.mgr.impl.TawpartMscidMgrImpl">
				<property name="tawpartMscidDao" ref="tawpartMscidDao" />
			</bean>
		</property>
	</bean>

	<bean id="tawpartMscidDao"
		class="com.boco.eoms.partdata.dao.hibernate.TawpartMscidDaoHibernate"
		autowire="byName" />


	<bean id="tawPartFourteenSignalMgr" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.partdata.mgr.impl.TawPartFourteenSignalMgrImpl">
				<property name="tawPartFourteenSignalDao" ref="tawPartFourteenSignalDao" />
			</bean>
		</property>
	</bean>

	<bean id="tawPartFourteenSignalDao"
		class="com.boco.eoms.partdata.dao.hibernate.TawPartFourteenSignalDaoHibernate"
		autowire="byName" />

<bean id="tawpartlacRangeMgr" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.partdata.mgr.impl.TawpartlacRangeMgrImpl">
				<property name="tawpartlacRangeDao" ref="tawpartlacRangeDao" />
			</bean>
		</property>
	</bean>

	<bean id="tawpartlacRangeDao"
		class="com.boco.eoms.partdata.dao.hibernate.TawpartlacRangeDaoHibernate"
		autowire="byName" />
		
	<bean id="tawpartLacBscMgr" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.partdata.mgr.impl.TawpartLacBscMgrImpl">
				<property name="tawpartLacBscDao" ref="tawpartLacBscDao" />
			</bean>
		</property>
	</bean>

	<bean id="tawpartLacBscDao"
		class="com.boco.eoms.partdata.dao.hibernate.TawpartLacBscDaoHibernate"
		autowire="byName" />	
</beans>









