<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>


    <bean id="IFocusResourceErrataMainDAO"
          class="com.boco.eoms.sheet.focusresourceerrata.dao.hibernate.FocusResourceErrataMainDAOHibernate"
          autowire="byName">
    </bean>
    <bean id="IFocusResourceErrataLinkDAO"
          class="com.boco.eoms.sheet.focusresourceerrata.dao.hibernate.FocusResourceErrataLinkDAOHibernate"
          autowire="byName">
    </bean>
    <bean id="IFocusResourceErrataTaskDAO"
          class="com.boco.eoms.sheet.focusresourceerrata.dao.hibernate.FocusResourceErrataTaskDAOHibernate"
          autowire="byName">
    </bean>
    <bean id="FocusResourceErrataTask"
          class="com.boco.eoms.sheet.focusresourceerrata.model.FocusResourceErrataTask" autowire="byName">
    </bean>
    <bean id="FocusResourceErrataLink"
          class="com.boco.eoms.sheet.focusresourceerrata.model.FocusResourceErrataLink"
          autowire="byName"/>
    <bean id="FocusResourceErrataMain"
          class="com.boco.eoms.sheet.focusresourceerrata.model.FocusResourceErrataMain"
          autowire="byName"/>
    <bean id="iFocusResourceErrataTaskManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.focusresourceerrata.service.impl.FocusResourceErrataTaskManagerImpl">
                <property name="taskModelObject" ref="FocusResourceErrataTask"/>
                <property name="taskDAO">
                    <ref bean="IFocusResourceErrataTaskDAO"/>
                </property>
                <property name="taskConfigPath">
                    <value>/config/focusresourceerrataTaskConfig.properties</value>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iFocusResourceErrataFlowManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.focusresourceerrata.service.impl.FocusResourceErrataFlowManagerImpl">
                <property name="businessFlowAdapterService">
                    <ref bean="BusinessFlowAdapterService"/>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iFocusResourceErrataLinkManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.focusresourceerrata.service.impl.FocusResourceErrataLinkManagerImpl">
                <property name="linkObject" ref="FocusResourceErrataLink"/>
                <property name="linkDAO">
                    <ref bean="IFocusResourceErrataLinkDAO"/>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iFocusResourceErrataMainManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.focusresourceerrata.service.impl.FocusResourceErrataMainManagerImpl">
                <property name="mainObject" ref="FocusResourceErrataMain"/>
                <property name="mainDAO">
                    <ref bean="IFocusResourceErrataMainDAO"/>
                </property>
                <property name="workSheetQO">
                    <ref bean="iFocusResourceErrataQo"/>
                </property>
                <property name="flowTemplateName">
                    <value>FocusResourceErrata</value>
                </property>
                <property name="roleConfigPath">
                    <value>classpath:config/focusresourceerrata-config.xml</value>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="iFocusResourceErrataQo"
          class="com.boco.eoms.sheet.focusresourceerrata.qo.impl.FocusResourceErrataQoImpl"
          autowire="byName" singleton="false">
        <property name="poMain" value="FocusResourceErrataMain"/>
        <property name="poLink" value="FocusResourceErrataLink"/>
        <property name="poTask" value="FocusResourceErrataTask"/>
        <property name="aliasMain" value="focusresourceerrataMain"/>
        <property name="aliasLink" value="focusresourceerrataLink"/>
        <property name="aliasTask" value="focusresourceerrataTask"/>

    </bean>

    <bean id="FocusResourceErrata" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.focusresourceerrata.webapp.action.FocusResourceErrataMethod">
                <property name="businessFlowService">
                    <ref bean="iFocusResourceErrataFlowManager"/>
                </property>
                <property name="linkService"
                          ref="iFocusResourceErrataLinkManager"/>
                <property name="mainService"
                          ref="iFocusResourceErrataMainManager"/>
                <property name="sheetTask"
                          ref="FocusResourceErrataTask"/>
                <property name="taskService"
                          ref="iFocusResourceErrataTaskManager"/>
                <property name="pageLength">
                    <value>15</value>
                </property>
                <property name="roleConfigPath">
                    <value>classpath:config/focusresourceerrata-config.xml</value>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="iFocusResourceErrataCrmService" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.focusresourceerrata.service.impl.FocusResourceErrataCrmManagerImpl">
            </bean>
        </property>
    </bean>

</beans>