<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <!--kmsystemCptroomDa-DAO START-->
    <bean id="kmsystemCptroomDao" class="com.boco.eoms.km.cptroom.dao.hibernate.KmsystemCptroomDaoHibernate"
          autowire="byName"/>
    <!--kmsystemCptroomDa-DAO END-->
    <!--kmsystemCptroomDa-START-->
    <bean id="IkmsystemCptroomManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.km.cptroom.service.impl.KmsystemCptroomManagerImpl">
                <property name="kmsystemCptroomDao" ref="kmsystemCptroomDao"/>
            </bean>
        </property>
    </bean>
    <bean id="IKmassignworkManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.boco.eoms.km.duty.service.impl.KmassignworkManagerImpl"/>
        </property>
    </bean>
    <!--kmsystemCptroomDa-END-->
    <import
            resource="classpath:com/boco/eoms/km/cptroom/config/applicationContext-km-cptroom-versionlog.xml"/>
</beans>
















