p,span,div{
  font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
.clearfix:before, .clearfix:after{
    content: '';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    clear:both;
   	zoom:1
}

.e-procedure{
  box-sizing: border-box;
  padding: 60px 20px 20px 0;
  width: 100%;
  min-width: 1020px;
}

.e-float{
  float: left;
}

.e-float-r{
  float: right;
}

.e-header{
  height: 40px;
  margin-bottom: 60px;
}

.e-pass{
  background: #6ebd75;
}

.e-already{
  background: #f9c480;
}

.e-undo{
  background: #eaeaea;
}

.e-about>span{
  font-size: 14px;
  color: #666;
  margin-left: 44px;
  position: relative;
  line-height: 40px;
}

.e-about>span:first-child{
  margin-left: 34px;
}

.e-about>span::before{
  content: "";
  display: table;
  width: 10px;
  height: 8px;
  position: absolute;
  left: -14px;
  top: 4px;
}

.e-about>.e-tooltip-already::before{
  background: #f9c480;
}

.e-about>.e-tooltip-pass::before{
  background: #6ebd75;
}

.e-about>.e-tooltip-undo::before{
  background: #eaeaea;
}

.e-href{
  line-height: 40px;
  color: #80b0f9;
  font-size: 12px;
}



.e-top{
  margin-bottom: 80px;
  margin-left: 20px;
}

.e-bottom{
  margin-left: 20px;
}

.e-timeline-block{
  box-sizing: border-box;
  padding: 8px 15px;
  width: calc(20% - 2px);
  float: left;
  border: 1px solid #eee;
  border-radius: 6px;
  text-align: left;
  position: relative;
}

.e-top .e-timeline-block{
  margin-left: calc(20% - 2px);
}

.e-bottom .e-timeline-block:nth-child(even){
  margin: 0 calc(20% - 2px);
}

.e-personal{
  font-size: 14px;
  line-height: 30px;
  margin: 0;
  color: #fff;
}

.e-undo .e-personal{
  color: #666;
}

.p-content .e-detail{
  font-size: 14px;
  line-height: 30px;
  margin: 0;
  color: #fff;
}

.e-undo .e-detail{
  color: #666;
}

.e-bottom  .e-line{
  position: absolute;
  top: -45px;
  left: 50%;
  width: 100%;
  height: 8px;
  background: #e2e3e4;
  box-shadow: inset 0 0 12px 0 rgba(14,62,142,0.14);
}

.e-bottom  .e-line-last{
  position: absolute;
  top: -45px;
  left: 50%;
  width: 10px;
  height: 8px;
  background: #e2e3e4;
  box-shadow: inset 0 0 12px 0 rgba(14,62,142,0.14);
}

.e-top .e-line{
  position: absolute;
  bottom: -45px;
  left: 50%;
  width: 100%;
  height: 8px;
  background: #e2e3e4;
  box-shadow: inset 0 0 12px 0 rgba(14,62,142,0.14);
}

.e-bottom .e-line:before{
    content: "";
    display: table;
    width: 44px;
    height: 52px;
    position: absolute;
    top: -20px;
    left: -8px;
}

.e-top .e-line:before{
    content: "";
    display: table;
    width: 44px;
    height: 52px;
    position: absolute;
    bottom: -20px;
    left: -22px;
    z-index: 10;
}

.e-bottom .e-pass-bg{
    background: #9ff368;
}

.e-top .e-pass-bg{
    background: #9ff368;
}

.e-bottom .e-pass1:before{
    background: url(../images/xianshi-lv1.png) no-repeat;
}

.e-bottom .e-already1:before{
    background: url(../images/xianshi-huang1.png) no-repeat;
}

.e-bottom .e-undo1:before{
    background: url(../images/xianshi-hui1.png) no-repeat;
}

.e-bottom .e-pass3:before{
    background: url(../images/xianshi-lv3.png) no-repeat;
}

.e-bottom .e-already3:before{
    background: url(../images/xianshi-huang3.png) no-repeat;
}

.e-bottom .e-undo3:before{
    background: url(../images/xianshi-hui3.png) no-repeat;
}

.e-bottom .e-pass5:before{
    background: url(../images/xianshi-lv5.png) no-repeat;
}

.e-bottom .e-already5:before{
    background: url(../images/xianshi-huang5.png) no-repeat;
}

.e-bottom .e-undo5:before{
    background: url(../images/xianshi-hui5.png) no-repeat;
}

.e-top .e-pass2:before{
    background: url(../images/xianshi-lv2.png) no-repeat;
}

.e-top .e-already2:before{
    background: url(../images/xianshi-huang2.png) no-repeat;
}

.e-top .e-undo2:before{
    background: url(../images/xianshi-hui2.png) no-repeat;
}

.e-top .e-pass4:before{
    background: url(../images/xianshi-lv4.png) no-repeat;
}

.e-top .e-already4:before{
    background: url(../images/xianshi-huang4.png) no-repeat;
}

.e-top .e-undo4:before{
    background: url(../images/xianshi-hui4.png) no-repeat;
}
