<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <!--NetData-START-->

    <bean id="INetOwnershipwirelessDAO"
          class="com.boco.eoms.sheet.netownershipwireless.dao.hibernate.NetOwnershipwirelessDAOHibernate"
          autowire="byName">
    </bean>
    <bean id="NetOwnershipwireless"
          class="com.boco.eoms.sheet.netownershipwireless.model.NetOwnershipwireless"
          autowire="byName"/>
    <bean id="iNetOwnershipwirelessManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.netownershipwireless.service.impl.NetOwnershipwirelessManagerImpl">
                <property name="netObject" ref="NetOwnershipwireless"/>
                <property name="netDAO">
                    <ref bean="INetOwnershipwirelessDAO"/>
                </property>
                <property name="netQo">
                    <ref bean="iNetOwnershipwirelessQo"/>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="iNetOwnershipwirelessQo"
          class="com.boco.eoms.sheet.netownershipwireless.qo.impl.NetOwnershipwirelessQoImpl"
          autowire="byName" singleton="false">
        <property name="poNet" value="NetOwnershipwireless"/>
        <property name="aliasNet" value="netOwnershipwireless"/>

    </bean>

</beans>
