<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="acceptSheetRuleMgr" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.acceptsheetrule.mgr.impl.AcceptSheetRuleMgrImpl">
				<property name="acceptSheetRuleDao" ref="acceptSheetRuleDao" />
			</bean>
		</property>
	</bean>

    <bean id="getIsUsedUserIdList" parent="txProxyTemplate">
        <property name="target">
            <bean
		        class="com.boco.eoms.sheet.acceptsheetrule.mgr.impl.AutoAcceptGetUserIdsImpl">
	        </bean>
	    </property>
   </bean>
			
	<bean id="acceptSheetRuleDao"
		class="com.boco.eoms.sheet.acceptsheetrule.dao.hibernate.AcceptSheetRuleDaoHibernate"
		autowire="byName" />

</beans>









