<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <bean id="iTawBureaudataBasicDAO"
          class="com.boco.eoms.datum.dao.hibernate.TawBureaudataBasicDaoHibernate"
          autowire="byName">
    </bean>
    <bean id="iTawBureaudataBasicDAOManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.datum.service.impl.TawBureaudataBasicDAOManagerImpl">
                <property name="bureaudataBasicDAO">
                    <ref bean="iTawBureaudataBasicDAO"/>
                </property>
            </bean>
        </property>
    </bean>


    <bean id="iTawBureaudataHlrDAO"
          class="com.boco.eoms.datum.dao.hibernate.TawBureaudataHlrDaoHibernate"
          autowire="byName">
    </bean>
    <bean id="iTawBureaudataHlrDAOManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.datum.service.impl.TawBureaudataHlrDAOManagerImpl">
                <property name="bureaudataHlrDAO">
                    <ref bean="iTawBureaudataHlrDAO"/>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="iTawBureaudataApplyDao"
          class="com.boco.eoms.datum.dao.hibernate.TawBureaudataApplyHibernate"
          autowire="byName">
    </bean>
    <bean id="iTawBureaudataCityzoneDao"
          class="com.boco.eoms.datum.dao.hibernate.TawBureaudataCityzoneHibernate"
          autowire="byName">
    </bean>
    <bean id="iTawBureaudataCityzoneManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.datum.service.impl.TawBureaudataCityzoneManagerImpl">
                <property name="bureaudataCityzoneDao">
                    <ref bean="iTawBureaudataCityzoneDao"/>
                </property>
                <property name="bureaudataApplyDao">
                    <ref bean="iTawBureaudataApplyDao"/>
                </property>
            </bean>
        </property>
    </bean>


</beans>
