<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>


    <bean id="ICommonfaultCorrigendumMainDAO"
		class="com.boco.eoms.sheet.commonfaultcorrigendum.dao.hibernate.CommonfaultCorrigendumMainDAOHibernate" autowire="byName">
      </bean>
	<bean id="ICommonfaultCorrigendumLinkDAO"
		class="com.boco.eoms.sheet.commonfaultcorrigendum.dao.hibernate.CommonfaultCorrigendumLinkDAOHibernate" autowire="byName">
     </bean>
     <bean id="ICommonfaultCorrigendumTaskDAO"
		class="com.boco.eoms.sheet.commonfaultcorrigendum.dao.hibernate.CommonfaultCorrigendumTaskDAOHibernate" autowire="byName">
     </bean>
     <bean id="CommonfaultCorrigendumTask"
		class="com.boco.eoms.sheet.commonfaultcorrigendum.model.CommonfaultCorrigendumTask" autowire="byName">
     </bean>
    <bean id="CommonfaultCorrigendumLink"
		class="com.boco.eoms.sheet.commonfaultcorrigendum.model.CommonfaultCorrigendumLink"
		autowire="byName" />
	<bean id="CommonfaultCorrigendumMain"
		class="com.boco.eoms.sheet.commonfaultcorrigendum.model.CommonfaultCorrigendumMain"
		autowire="byName" />
	<bean id="iCommonfaultCorrigendumTaskManager" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.commonfaultcorrigendum.service.impl.CommonfaultCorrigendumTaskManagerImpl">
				<property name="taskModelObject" ref="CommonfaultCorrigendumTask" />
				<property name="taskDAO">
					<ref bean="ICommonfaultCorrigendumTaskDAO" />
				</property>
				<property name="taskConfigPath">
			       <value>/config/commonfaultcorrigendumTaskConfig.properties</value>
		        </property>				
			</bean>
		</property>
	</bean>	
	<bean id="iCommonfaultCorrigendumFlowManager" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.commonfaultcorrigendum.service.impl.CommonfaultCorrigendumFlowManagerImpl">
				<property name="businessFlowAdapterService">
					<ref bean="BusinessFlowAdapterService" />
				</property>
			</bean>
		</property>
	</bean>
	<bean id="iCommonfaultCorrigendumLinkManager" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.commonfaultcorrigendum.service.impl.CommonfaultCorrigendumLinkManagerImpl">
				<property name="linkObject" ref="CommonfaultCorrigendumLink"/>
				<property name="linkDAO">
				  <ref bean="ICommonfaultCorrigendumLinkDAO"/>
				</property>
			</bean>
		</property>
	</bean>
	<bean id="iCommonfaultCorrigendumMainManager" parent="txProxyTemplate">
	<property name="target">
			<bean
				class="com.boco.eoms.sheet.commonfaultcorrigendum.service.impl.CommonfaultCorrigendumMainManagerImpl">
			    <property name="mainObject" ref="CommonfaultCorrigendumMain" />
				<property name="mainDAO">
				 <ref bean="ICommonfaultCorrigendumMainDAO" />
				 </property>
				 <property name="workSheetQO">
					<ref bean="iCommonfaultCorrigendumQo" />
				</property>
				 <property name="flowTemplateName">
					<value>CommonfaultCorrigendum</value>
				</property>
				<property name="roleConfigPath">
					<value>classpath:config/commonfaultcorrigendum-config.xml</value>
				</property>
			</bean>
		</property>
	</bean> 

   <bean id="iCommonfaultCorrigendumQo"
		class="com.boco.eoms.sheet.commonfaultcorrigendum.qo.impl.CommonfaultCorrigendumQoImpl"
		autowire="byName" singleton="false" >
		<property name="poMain" value="CommonfaultCorrigendumMain" />
		<property name="poLink" value="CommonfaultCorrigendumLink" />
		<property name="poTask" value="CommonfaultCorrigendumTask" />
		<property name="aliasMain" value="commonfaultcorrigendumMain" />
		<property name="aliasLink" value="commonfaultcorrigendumLink" />
		<property name="aliasTask" value="commonfaultcorrigendumTask" />

	</bean>

	<bean id="CommonfaultCorrigendum" parent="txProxyTemplate"> 
		<property name="target">
			<bean
				class="com.boco.eoms.sheet.commonfaultcorrigendum.webapp.action.CommonfaultCorrigendumMethod">
				<property name="businessFlowService" >
					<ref bean="iCommonfaultCorrigendumFlowManager" />
			   </property>
				<property name="linkService" 
					ref="iCommonfaultCorrigendumLinkManager" />
				<property name="mainService"
					ref="iCommonfaultCorrigendumMainManager" />
				<property name="sheetTask"
					ref="CommonfaultCorrigendumTask" />
				<property name="taskService"
					ref="iCommonfaultCorrigendumTaskManager" />	
				<property name="pageLength">
					<value>15</value>
				</property>
				<property name="roleConfigPath">
					<value>classpath:config/commonfaultcorrigendum-config.xml</value>
				</property>
			</bean>
		</property>
	</bean>        

</beans>