<?xml version = "1.0" encoding="UTF-8"?>
<server>
    <!--
        dom4j使用document解析xml
    -->
    <MySql>
        <driver>com.mysql.jdbc.Driver</driver>
        <url>jdbc:mysql://localhost:3306/database?useSSL=true</url>
        <user>root</user>
        <pwd>1234</pwd>
    </MySql>
    <SQLServer>
        <driver>com.microsoft.sqlserver.jdbc.SQLServerDriver</driver>
        <url>jdbc:sqlserver://localhost:1433;DatabaseName=database</url>
        <user>sa</user>
        <pwd>1234</pwd>
    </SQLServer>

    <timeLimit>
        <!--默认时限
            <network1>一级网络分类</network1>
            <network2>二级网络分类</network2>
            <network3>三级网络分类</network3>
            <allowtime>时限,填入数字:48</allowtime>
            <allowtimeCN>说明</allowtimeCN>
        -->
        <default>
            <network1></network1>
            <network2></network2>
            <network3></network3>
            <network4></network4>
            <network5></network5>
            <network6></network6>
            <network7></network7>
            <allowtime>48</allowtime>
            <allowtimeCN>48</allowtimeCN>
        </default>
        <major1>
            <network1>101060107</network1>
            <network2>101060105</network2>
            <network3>10106010502</network3>
            <network4></network4>
            <network5></network5>
            <network6></network6>
            <network7></network7>
            <allowtime>168</allowtime>
            <allowtimeCN>7*24</allowtimeCN>
        </major1>
        <major2>
            <network1>101060108</network1>
            <network2>101060113</network2>
            <network3>10106011331</network3>
            <network4></network4>
            <network5></network5>
            <network6></network6>
            <network7></network7>
            <allowtime>168</allowtime>
            <allowtimeCN>7*24</allowtimeCN>
        </major2>
        <major3>
            <network1>10106012315</network1>
            <network2>10106012257</network2>
            <network3>10106012457</network3>
            <network4></network4>
            <network5></network5>
            <network6></network6>
            <network7></network7>
            <allowtime>8</allowtime>
        </major3>
    </timeLimit>
</server>