<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="CircuitDispatchLink"
          class="com.boco.eoms.sheet.circuitdispatch.model.CircuitDispatchLink"
          autowire="byName"/>
    <bean id="CircuitDispatchMain"
          class="com.boco.eoms.sheet.circuitdispatch.model.CircuitDispatchMain"
          autowire="byName"/>

    <bean id="iCircuitDispatchTask"
          class="com.boco.eoms.sheet.circuitdispatch.task.impl.CircuitDispatchTaskImpl"
          autowire="byName"/>

    <bean id="CircuitDispatchTask"
          class="com.boco.eoms.sheet.circuitdispatch.task.impl.CircuitDispatchTask"
          autowire="byName"/>

    <bean id="iCircuitDispatchTaskManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.circuitdispatch.service.impl.CircuitDispatchTaskManagerImpl">
                <property name="taskModelObject" ref="CircuitDispatchTask"/>
                <property name="taskDAO">
                    <ref bean="iCircuitDispatchTaskDAO"/>
                </property>
                <property name="taskConfigPath">
                    <value>/config/circuitdispatchTaskConfig.properties</value>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="iCircuitDispatchFlowManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.circuitdispatch.service.impl.CircuitDispatchFlowManagerImpl">
                <property name="businessFlowAdapterService">
                    <ref bean="BusinessFlowAdapterService"/>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iCircuitDispatchLinkManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.circuitdispatch.service.impl.CircuitDispatchLinkManagerImpl">
                <property name="linkObject" ref="CircuitDispatchLink"/>
                <property name="linkDAO">
                    <ref bean="ICircuitDispatchLinkDao"/>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iCircuitDispatchMainManager" parent="txProxyTemplate">
        <property name="target">

            <bean
                    class="com.boco.eoms.sheet.circuitdispatch.service.impl.CircuitDispatchMainManagerImpl">
                <property name="mainObject" ref="CircuitDispatchMain"/>
                <property name="mainDAO">
                    <ref bean="ICircuitDispatchMainDao"/>
                </property>
                <property name="workSheetQO">
                    <ref bean="iCircuitDispatchQo"/>
                </property>
                <property name="flowTemplateName">
                    <value>CircuitDispatchMainFlowProcess</value>
                </property>
                <property name="roleConfigPath">
                    <value>classpath:config/circuitdispatch-config.xml</value>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="iCircuitDispatchQo"
          class="com.boco.eoms.sheet.circuitdispatch.qo.impl.CircuitDispatchQoImpl"
          autowire="byName" singleton="false">
        <property name="poMain" value="CircuitDispatchMain"/>
        <property name="poLink" value="CircuitDispatchLink"/>
        <property name="aliasMain" value="circuitDispatchMain"/>
        <property name="aliasLink" value="circuitDispatchLink"/>
        <property name="poTask" value="CircuitDispatchTask"/>
        <property name="aliasTask" value="circuitDispatchTask"/>
    </bean>


    <bean id="CircuitDispatch" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.circuitdispatch.webapp.action.CircuitDispatchSheetMethod">
                <property name="businessFlowService">
                    <ref bean="iCircuitDispatchFlowManager"/>
                </property>
                <property name="linkService"
                          ref="iCircuitDispatchLinkManager"/>
                <property name="mainService"
                          ref="iCircuitDispatchMainManager"/>
                <property name="sheetTask"
                          ref="CircuitDispatchTask"/>
                <property name="taskService"
                          ref="iCircuitDispatchTaskManager"/>
                <property name="pageLength">
                    <value>15</value>
                </property>
                <property name="roleConfigPath">
                    <value>classpath:config/circuitdispatch-config.xml</value>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="p2pService"
          class="com.boco.eoms.prm.service.impl.Pojo2PojoServiceImpl">
        <property name="values">
            <list>
                <bean class="com.boco.eoms.prm.model.P2P">
                    <property name="name">
                        <value>mainNetSortOne</value>
                    </property>
                    <property name="toName">
                        <value>mainNetSortOne</value>
                    </property>
                    <property name="type">
                        <value>java.lang.String</value>
                    </property>
                </bean>
                <bean class="com.boco.eoms.prm.model.P2P">
                    <property name="name">
                        <value>mainNetSortTwo</value>
                    </property>
                    <property name="toName">
                        <value>mainNetSortTwo</value>
                    </property>
                    <property name="type">
                        <value>java.lang.String</value>
                    </property>
                </bean>
                <bean class="com.boco.eoms.prm.model.P2P">
                    <property name="name">
                        <value>mainNetSortThree</value>
                    </property>
                    <property name="toName">
                        <value>mainNetSortThree</value>
                    </property>
                    <property name="type">
                        <value>java.lang.String</value>
                    </property>
                </bean>
                <bean class="com.boco.eoms.prm.model.P2P">
                    <property name="name">
                        <value>mainEquipmentFactory</value>
                    </property>
                    <property name="toName">
                        <value>mainEquipmentFactory</value>
                    </property>
                    <property name="type">
                        <value>java.lang.String</value>
                    </property>
                </bean>

            </list>
        </property>
    </bean>

    <bean id="IrmsAuthentication"
          class="com.boco.eoms.sheet.circuitdispatch.service.impl.IrmsAuthenticationImpl"
          autowire="byName"/>
</beans>





















