body{
text-align:center;
}
#container{
	width:expression((this.parentNode.clientWidth)>900?(this.parentNode.clientWidth):900+'px');
	height:800px;
	text-align:center;
}
#leftPart{
	border:0px blue solid;
	width:160px;
	height:800px;
	float:left;
	background-color:#CADEEE;
}
#middlePart{
	background-color:#fff;
	border:0px red solid;
	width:expression(this.parentNode.clientWidth-360+'px');
	height:800px;
	float:left;
}
#rightPart{
	border:0px yellow solid;
	width:200px;
	height:800px;
	float:left;
	background-color:#E8E8E8;
}

.leftContent{
	border:1px #9DC2E8 solid;
	width:97%;
	background-color:#fff;
	padding-top:5px;
	padding-bottom:5px;
	margin-top:5px;
}
.leftTitle{
	width:95%;
	height:30px;
	line-height:30px;
	overflow:hidden;
	text-align:left;
	font-size:15px;
	font-weight: bold;
	padding-left:10px;
	color:#E1EAF6;
	background-image:url(kmIndexImg/lefttitlebg.PNG);
}
.dataList{
}
.firstLevel{
	width:95%;
	line-height:25px;
	height:25px;
	overflow:hidden;
	border-bottom:1px #CECFCE dotted;
	text-align:left;
	background-image:url(kmIndexImg/dot.PNG);
	background-repeat:no-repeat;
	padding-left:15px;
	color:#20558A;
	cursor:pointer;
}
.search{
	position:relative;
	width:90%;
	line-height:32px;
	top:3px;
}
.leftBorder{
	background-image:url(kmIndexImg/borderleft.PNG);
	width:5px;
	height:31px;
	position:absolute;
	left:0px;
}
.topBorder{
	background-image:url(kmIndexImg/borderline.PNG);
	background-repeat:repeat-x;
	width:expression(this.parentNode.clientWidth-10+'px');
	line-height:1px;
	height:1px;
	position:absolute;
	top:0px;
	left:5px;
	overflow:hidden;
}
.rightBorder{
	background-image:url(kmIndexImg/borderright.PNG);
	width:5px;
	height:31px;
	position:absolute;
	right:0px;
}
.bottomBorder{
	background-image:url(kmIndexImg/borderline.PNG);
	background-repeat:repeat-x;
	width:expression(this.parentNode.clientWidth-10+'px');
	height:1px;
	position:absolute;
	top:30px;
	left:5px;
	overflow:hidden;
}
#searchContent{
	background-color:#F2F2F2;
	height:30px;
	line-height:30px;
	overflow:hidden;
	padding-top:4px;
}
.searchHander{
	background-image:url(kmIndexImg/button.PNG);
	width:48px;
	line-height:18px;
	padding-left:15px;
	cursor:pointer;
	border:0px red solid;
}
#pictureList{
	border:1px #C2C2C2 solid;
	width:90%;
	line-height:90px;
	height:90px;
	margin-top:10px;
	padding-left:1px;
	overflow:hidden;
}
.picture{
	float:left;
	width:65px;
	line-height:70px;
	height:70px;
	padding:3px;
	margin:1px;
	position:relative;
	text-align:center;
}
.picture img{
	border:1px #D4D4D4 solid;
	cursor:pointer;
}
.picture div{
	text-align:center;
	line-height:15px;
	cursor:pointer;
}
.dataDetailList{
	width:100%;
	margin-top:10px;
}
.dataDetailTitle{
	position:relative;
	width:90%;
	height:32px;
	margin-top:3px;
}
.dataDetailTitleContent{
	line-height:30px;
	height:30px;
	background-color:#F2F2F2;
	overflow:hidden;
}
.span1{
	width:15%;
	text-align:left;
}
.span2{
	width:50%;
	text-align:left;
}
.span3{
	width:15%;
}
.span4{
	width:15%;
}
.dataDetailContentItem{
	line-height:24px;
	height:24px;
	width:90%;
	border-bottom:1px #E0E0E0 solid;
}
#loginUser{
	width:95%;
	line-height:132px;
	height:132px;
	position:relative;
	margin-top:3px;
	background-color:#fff;
	padding-top:5px;
}
.userContent{
	width:96%;
	line-height:122px;
	height:122px;
	border:1px #D4D4D4 solid;
	position:relative;
	padding-top:4px;
}
.userContent img{
	float:left;
	height:111px;
	width:95px;
}
.userContent span{
	position:absolute;
	left:95px;
	height:112px;
	width:50%;
	bottom:5px;
	text-align:left;
	padding-top:0px;
}
.userContent span div{
	line-height:20px;
	padding-left:10px;
	text-align:left;
}
.userLeftTop{
	background-image:url(kmIndexImg/lefttop.PNG);
	background-repeat:no-repeat;
	width:4px;
	height:4px;
	position:absolute;
	left:0px;
	top:0px;
}
.userRightTop{
	background-image:url(kmIndexImg/righttop.PNG);
	background-repeat:no-repeat;
	width:4px;
	height:4px;
	position:absolute;
	right:-1px;
	top:0px;
}
.userRightBottom{
	background-image:url(kmIndexImg/rightbottom.PNG);
	background-repeat:no-repeat;
	width:4px;
	height:4px;
	position:absolute;
	right:-1px;
	top:128px;
}
.userLeftBottom{
	background-image:url(kmIndexImg/leftbottom.PNG);
	background-repeat:no-repeat;
	width:4px;
	height:4px;
	position:absolute;
	left:0px;
	top:128px;
}
.userLeftBorder{
	background-image:url(kmIndexImg/borderline.PNG);
	background-repeat:repeat-y;
	width:4px;
	height:124px;
	position:absolute;
	left:0px;
	top:4px;
}
.userTopBorder{
	border-top:1px #CACACA solid;
	width:97%;
	position:absolute;
	left:4px;
	top:0px;
}
.userRightBorder{
	border-right:1px #CACACA solid;
	line-height:124px;
	height:120px;
	position:absolute;
	right:-1px;
	top:4px;
}
.userBottomBorder{
	border-bottom:1px #CACACA solid;
	width:97%;
	position:absolute;
	left:4px;
	bottom:0px;
}
.orderList{
	margin-top:10px;
}
.orderTitle{
	background-image:url(kmIndexImg/orderbg.PNG);
	background-repeat:no-repeat;
	width:95%;
	line-height:25px;
	height:25px;
	margin-top:5px;
	color:#fff;
	font-weight:bold;
	text-align:left;
	padding-left:55px;
}
.orderContent{
	background-color:#EEEEEE;
	width:95%;
	height:172px;
	margin-top:5px;
	border:1px #fff solid;
}
.orderTabDefault{
	background-color:#EEEEEE;
	width:19%;
	line-height:22px;
	height:23px;
	border-top:1px #D6D6D6 solid;
	border-right:1px #D6D6D6 solid;
	margin-right:1px;
	cursor:pointer;
}
.orderTabOver{
	background-color:#fff;
	width:19%;
	line-height:22px;
	height:23px;
	border-top:1px #D6D6D6 solid;
	border-right:1px #D6D6D6 solid;
	margin-right:1px;
	cursor:pointer;
}
.orderContentDetail{
	width:98%;
	height:145px;
	background-color:#fff;
}
.orderContentDetailItem{
	width:100%;
	line-height:25px;
	height:25px;
	text-align:left;
	border-bottom:1px #CECFCE dotted;
	position:relative;
}
.orderContentDetailItemNum{
	background-image:url(kmIndexImg/numberbg.PNG);
	background-repeat:no-repeat;
	width:21px;
	line-height:11px;
	height:11px;
	float:left;
	margin-left:5px;
	margin-top:6px;
	color:#fff;
	font-size:10px;
	font-weight:bold;
	text-align:center;
}
.orderContentDetailItemScore{
	line-height:11px;
	height:11px;
	margin-left:5px;
	margin-top:6px;
	font-size:10px;
	font-weight:bold;
	text-align:center;
	position:absolute;
	right:0px;
	top:0px;
}