<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean id="eomsAttributes"
          class="com.boco.eoms.base.util.EOMSAttributes">
        <property name="sample">
            <value>sample</value>
        </property>
        <property name="pageSize">
            <value>15</value>
        </property>

        <!-- sso,acegi -->
        <property name="loginType">
            <value>eoms</value>
        </property>

        <property name="casUrl">
            <value>https://10.0.2.107:8443/cas</value>
        </property>
        <property name="eomsUrl">
            <value>http://10.32.1.111:9080/eoms35</value>
        </property>
        <property name="dbType">
            <value>informix</value>
        </property>

        <!-- Is released? (true or false) -->
        <property name="release">
            <value>false</value>
        </property>

        <!-- Is squence opening? (true or false) -->
        <property name="sequenceOpen">
            <value>true</value>
        </property>

        <property name="propertiesFilePath">
            <value>GZ</value>
        </property>

        <!-- 注册的IP映射属性（单点登录） -->
        <property name="register">
            <!-- 请将下面每个prop的key改为服务器的IP，prop的值改为key对应的单点登录服务器的IP -->
            <map>
                <entry key="10.32.1.38">
                    <bean class="com.boco.eoms.base.util.SSOConfig">
                        <property name="casLogin">
                            <value>https://10.131.184.2:8443/cas</value>
                        </property>
                        <property name="eomsServerName">
                            <value>10.32.1.14:8888</value>
                        </property>
                    </bean>
                </entry>
                <entry key="192.168.0.2">
                    <bean class="com.boco.eoms.base.util.SSOConfig">
                        <property name="casLogin">
                            <value>https://10.32.1.38:8443/cas</value>
                        </property>
                        <property name="eomsServerName">
                            <value>10.32.1.14:8080</value>
                        </property>
                    </bean>
                </entry>
            </map>
        </property>

        <!-- 注册的接口调用过滤（单点登录），其中的value是外部系统调用eoms35接口的地址中的关键字 -->
        <property name="interfaceList">
            <list>
                <!-- 例如http://10.218.7.55/services/EomsAuthentication -->
                <value>services/</value>
            </list>
        </property>

        <!-- for wapSheetUrl_xugengxian -->
        <property name="wapSheetUrl">
            <value>http://10.32.1.66:9080</value>
        </property>

        <property name="versionPath">
            <value>d:/eomslog.log</value>
        </property>

        <!-- on,off -->
        <property name="menu_ipOpen">
            <value>on</value>
        </property>

    </bean>


</beans>




















