<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>


    <bean id="ISecurityObjAuditMainDAO"
          class="com.boco.eoms.sheet.securityobjaudit.dao.hibernate.SecurityObjAuditMainDAOHibernate" autowire="byName">
    </bean>
    <bean id="ISecurityObjAuditLinkDAO"
          class="com.boco.eoms.sheet.securityobjaudit.dao.hibernate.SecurityObjAuditLinkDAOHibernate" autowire="byName">
    </bean>
    <bean id="ISecurityObjAuditTaskDAO"
          class="com.boco.eoms.sheet.securityobjaudit.dao.hibernate.SecurityObjAuditTaskDAOHibernate" autowire="byName">
    </bean>
    <bean id="SecurityObjAuditTask"
          class="com.boco.eoms.sheet.securityobjaudit.model.SecurityObjAuditTask" autowire="byName">
    </bean>
    <bean id="SecurityObjAuditLink"
          class="com.boco.eoms.sheet.securityobjaudit.model.SecurityObjAuditLink"
          autowire="byName"/>
    <bean id="SecurityObjAuditMain"
          class="com.boco.eoms.sheet.securityobjaudit.model.SecurityObjAuditMain"
          autowire="byName"/>
    <bean id="iSecurityObjAuditTaskManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.securityobjaudit.service.impl.SecurityObjAuditTaskManagerImpl">
                <property name="taskModelObject" ref="SecurityObjAuditTask"/>
                <property name="taskDAO">
                    <ref bean="ISecurityObjAuditTaskDAO"/>
                </property>
                <property name="taskConfigPath">
                    <value>/config/securityobjauditTaskConfig.properties</value>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iSecurityObjAuditFlowManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.securityobjaudit.service.impl.SecurityObjAuditFlowManagerImpl">
                <property name="businessFlowAdapterService">
                    <ref bean="BusinessFlowAdapterService"/>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iSecurityObjAuditLinkManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.securityobjaudit.service.impl.SecurityObjAuditLinkManagerImpl">
                <property name="linkObject" ref="SecurityObjAuditLink"/>
                <property name="linkDAO">
                    <ref bean="ISecurityObjAuditLinkDAO"/>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iSecurityObjAuditMainManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.securityobjaudit.service.impl.SecurityObjAuditMainManagerImpl">
                <property name="mainObject" ref="SecurityObjAuditMain"/>
                <property name="mainDAO">
                    <ref bean="ISecurityObjAuditMainDAO"/>
                </property>
                <property name="workSheetQO">
                    <ref bean="iSecurityObjAuditQo"/>
                </property>
                <property name="flowTemplateName">
                    <value>SecurityObjAudit</value>
                </property>
                <property name="roleConfigPath">
                    <value>classpath:config/securityobjaudit-config.xml</value>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="iSecurityObjAuditQo"
          class="com.boco.eoms.sheet.securityobjaudit.qo.impl.SecurityObjAuditQoImpl"
          autowire="byName" singleton="false">
        <property name="poMain" value="SecurityObjAuditMain"/>
        <property name="poLink" value="SecurityObjAuditLink"/>
        <property name="poTask" value="SecurityObjAuditTask"/>
        <property name="aliasMain" value="securityobjauditMain"/>
        <property name="aliasLink" value="securityobjauditLink"/>
        <property name="aliasTask" value="securityobjauditTask"/>

    </bean>

    <bean id="SecurityObjAudit" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.securityobjaudit.webapp.action.SecurityObjAuditMethod">
                <property name="businessFlowService">
                    <ref bean="iSecurityObjAuditFlowManager"/>
                </property>
                <property name="linkService"
                          ref="iSecurityObjAuditLinkManager"/>
                <property name="mainService"
                          ref="iSecurityObjAuditMainManager"/>
                <property name="sheetTask"
                          ref="SecurityObjAuditTask"/>
                <property name="taskService"
                          ref="iSecurityObjAuditTaskManager"/>
                <property name="pageLength">
                    <value>15</value>
                </property>
                <property name="roleConfigPath">
                    <value>classpath:config/securityobjaudit-config.xml</value>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="iSecurityObjAuditCrmService" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.securityobjaudit.service.impl.SecurityObjAuditCrmManagerImpl">
            </bean>
        </property>
    </bean>

</beans>