<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <!--ArithmeticModify-START-->

    <bean id="IArithmeticModifyMainDAO"
          class="com.boco.eoms.sheet.arithmeticmodify.dao.hibernate.ArithmeticModifyMainDAOHibernate" autowire="byName">
    </bean>
    <bean id="IArithmeticModifyLinkDAO"
          class="com.boco.eoms.sheet.arithmeticmodify.dao.hibernate.ArithmeticModifyLinkDAOHibernate" autowire="byName">
    </bean>
    <bean id="IArithmeticModifyTaskDAO"
          class="com.boco.eoms.sheet.arithmeticmodify.dao.hibernate.ArithmeticModifyTaskDAOHibernate" autowire="byName">
    </bean>
    <bean id="ArithmeticModifyTask"
          class="com.boco.eoms.sheet.arithmeticmodify.model.ArithmeticModifyTask" autowire="byName">
    </bean>
    <bean id="ArithmeticModifyLink"
          class="com.boco.eoms.sheet.arithmeticmodify.model.ArithmeticModifyLink"
          autowire="byName"/>
    <bean id="ArithmeticModifyMain"
          class="com.boco.eoms.sheet.arithmeticmodify.model.ArithmeticModifyMain"
          autowire="byName"/>
    <bean id="iArithmeticModifyTask"
          class="com.boco.eoms.sheet.arithmeticmodify.task.impl.ArithmeticModifyTaskImpl"
          autowire="byName"/>
    <bean id="iArithmeticModifyTaskManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.arithmeticmodify.service.impl.ArithmeticModifyTaskManagerImpl">
                <property name="taskModelObject" ref="ArithmeticModifyTask"/>
                <property name="taskDAO">
                    <ref bean="IArithmeticModifyTaskDAO"/>
                </property>
                <property name="taskConfigPath">
                    <value>/config/arithmeticmodifyConfig.properties</value>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iArithmeticModifyFlowManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.arithmeticmodify.service.impl.ArithmeticModifyFlowManagerImpl">
                <property name="businessFlowAdapterService">
                    <ref bean="BusinessFlowAdapterService"/>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iArithmeticModifyLinkManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.arithmeticmodify.service.impl.ArithmeticModifyLinkManagerImpl">
                <property name="linkObject" ref="ArithmeticModifyLink"/>
                <property name="linkDAO">
                    <ref bean="IArithmeticModifyLinkDAO"/>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="iArithmeticModifyMainManager" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.arithmeticmodify.service.impl.ArithmeticModifyMainManagerImpl">
                <property name="mainObject" ref="ArithmeticModifyMain"/>
                <property name="mainDAO">
                    <ref bean="IArithmeticModifyMainDAO"/>
                </property>
                <property name="workSheetQO">
                    <ref bean="iArithmeticModifyQo"/>
                </property>
                <property name="flowTemplateName">
                    <value>ArithmeticModifyProcess</value>
                </property>
                <property name="roleConfigPath">
                    <value>classpath:config/arithmeticmodify-config.xml</value>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="iArithmeticModifyQo"
          class="com.boco.eoms.sheet.arithmeticmodify.qo.impl.ArithmeticModifyQoImpl"
          autowire="byName" singleton="false">
        <property name="poMain" value="ArithmeticModifyMain"/>
        <property name="poLink" value="ArithmeticModifyLink"/>
        <property name="aliasMain" value="ArithmeticModifyMain"/>
        <property name="aliasLink" value="ArithmeticModifyLink"/>
        <property name="poTask" value="ArithmeticModifyTask"/>
        <property name="aliasTask" value="ArithmeticModifyTask"/>
    </bean>

    <bean id="ArithmeticModify" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.sheet.arithmeticmodify.webapp.action.ArithmeticModifyMethod">
                <property name="businessFlowService">
                    <ref bean="iArithmeticModifyFlowManager"/>
                </property>
                <property name="linkService"
                          ref="iArithmeticModifyLinkManager"/>
                <property name="mainService"
                          ref="iArithmeticModifyMainManager"/>
                <property name="sheetTask"
                          ref="ArithmeticModifyTask"/>
                <property name="taskService"
                          ref="iArithmeticModifyTaskManager"/>
                <property name="pageLength">
                    <value>15</value>
                </property>
                <property name="roleConfigPath">
                    <value>classpath:config/arithmeticmodify-config.xml</value>
                </property>
            </bean>
        </property>
    </bean>
    <!--ArithmeticModify-END-->
</beans>
