<?xml version="1.0"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<!-- testcase use this config file , 
			create new config file in your module -->
<!-- 此文件不允许修改 -->
<beans>
	<!-- 使用JDBC查询 -->
	<bean id="statBaseJdbcDAO"
		class="com.boco.eoms.commons.statistic.base.dao.impl.StatJdbcDAOImpl"
		autowire="byName" />
	<!-- 使用Hibernate查询 停用这个类
	<bean id="statBaseHibernateDAO"
		class="com.boco.eoms.commons.statistic.base.dao.impl.StatHibernateDAOImpl"
		autowire="byName" /> -->
	
	<!-- 查询统计结果详细列表的DAO接口, informix实现类 -->
	<bean id="statDetailDAOInformix"
		class="com.boco.eoms.commons.statistic.base.dao.impl.DetailDAOInformixImpl"
		autowire="byName" />

	<!-- 查询统计结果详细列表的DAO接口, oracle实现类 -->
	<bean id="statDetailDAOOracle"
		class="com.boco.eoms.commons.statistic.base.dao.impl.DetailDAOOracleImpl"
		autowire="byName" />
	
	<!-- 默认查询统计结果详细列表的DAO接口 -->
	<bean id="defaultDetailDAO"
		class="com.boco.eoms.commons.statistic.base.dao.impl.DetailDAOOracleImpl"
		autowire="byName" />

	<!-- 建立Excel配置文件解析类 -->
	<bean id="statBaseExcelConverter" 
		class="com.boco.eoms.commons.statistic.base.mgr.impl.ExcelConverter"
		autowire="byName">
		<!-- 3.x平台版本 castor 的 mapping文件路径，映射为html的格式设置 -->
		<property name="excelToHtmlMappingPath">
			<value>classpath:config/statistic/base-config/statExcelToHtmlMappingV35.xml</value>
			<!-- value>classpath:config/statExcelToHtmlMappingV30.xml</value-->
		</property>
	</bean>
	
	<!-- 建立导出Excel文件类 -->
	<bean id="statBaseExportExcel"
		class="com.boco.eoms.commons.statistic.base.mgr.impl.ExportExcel"
		autowire="byName">
	</bean>
	
	<!-- id转name接口实现类 -->
	<bean id="statBaseid2nameService"
		class="com.boco.eoms.commons.statistic.base.mgr.impl.ID2NameManagerImpl"
		autowire="byName">
	</bean>
	
	<!-- ========================================================= -->
	<!-- 注册3.x平台版本id转name接口 只能注入一个-->
	<!-- import resource="classpath:config/statistic/base-config/applicationContext-statistic-base-id2nameV30.xml" /-->
	<import resource="classpath:config/statistic/base-config/applicationContext-statistic-base-id2nameV35.xml" />
	<!-- ========================================================= -->
	
</beans>