body {
    margin: 0px;
    background-image: none;
    position: static;
    left: auto;
    width: 1366px;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
}

#base {
    position: absolute;
    z-index: 0;
}

#u55_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1366px;
    height: 768px;
}

#u55 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1366px;
    height: 768px;
}

#u56 {
    position: absolute;
    left: 2px;
    top: 376px;
    width: 1362px;
    visibility: hidden;
    word-wrap: break-word;
}

#u57_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1047px;
    height: 879px;
}

#u57 {
    position: absolute;
    left: 293px;
    top: 70px;
    width: 1047px;
    height: 879px;
}

#u58 {
    position: absolute;
    left: 2px;
    top: 432px;
    width: 1043px;
    visibility: hidden;
    word-wrap: break-word;
}

#u59 {
    position: absolute;
    left: 150px;
    top: 401px;
    width: 74px;
    height: 72px;
    overflow: hidden;
    background-image: url('../../resources/images/transparent.gif');
}

#u60 {
    position: absolute;
    left: 39px;
    top: 401px;
    width: 74px;
    height: 72px;
    overflow: hidden;
    background-image: url('../../resources/images/transparent.gif');
}

#u61 {
    position: absolute;
    left: 150px;
    top: 535px;
    width: 74px;
    height: 72px;
    overflow: hidden;
    background-image: url('../../resources/images/transparent.gif');
}

#u62 {
    position: absolute;
    left: 39px;
    top: 535px;
    width: 74px;
    height: 72px;
    overflow: hidden;
    background-image: url('../../resources/images/transparent.gif');
}

#u63 {
    position: absolute;
    left: 39px;
    top: 270px;
    width: 74px;
    height: 72px;
    overflow: hidden;
    background-image: url('../../resources/images/transparent.gif');
}

#u64 {
    position: absolute;
    left: 1283px;
    top: 11px;
    width: 68px;
    height: 31px;
    overflow: hidden;
    background-image: url('../../resources/images/transparent.gif');
}

#u65 {
    position: absolute;
    left: 152px;
    top: 271px;
    width: 74px;
    height: 72px;
    overflow: hidden;
    background-image: url('../../resources/images/transparent.gif');
}
