<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <bean id="operuserMgr" parent="txProxyTemplate">
        <property name="target">
            <bean
                    class="com.boco.eoms.operuser.mgr.impl.OperuserMgrImpl">
                <property name="operuserDao" ref="operuserDao"/>
            </bean>
        </property>
    </bean>

    <bean id="operuserDao"
          class="com.boco.eoms.operuser.dao.hibernate.OperuserDaoHibernate"
          autowire="byName"/>


</beans>









